{% extends "base.html" %}

{% block content %}
    <div id="text-content">
        {% if annotation %}
            <h1>Editing Annotation <a href="{{ annotation.url }}">[{{ annotation.id }}]</a> on <a href="{{ edition.url }}">{{ edition.title }}</a></h1>
        {% else %}
            <h1>Annotating <a href="{{ edition.url }}">{{ edition.title }}</a></h1>
        {% endif %}
        {% if len(lines) > 1 %}
            <h3>Selection: <em>ll. {{ lines[0].num }}-{{ lines[-1].num }}</em></h3>
        {% else %}
            <h3>Selection: <em>l. {{ lines[0].num }}</em></h3>
        {% endif %}

        <div class="backlight">
            {% include "includes/js/_expand_selection.js" %}
            {% for line in context %}
                <div class="line {{ line.primary.enum }}{% if line in lines %} selection{% endif %}" id="{{ line.num }}">
                    <span class="line-num">{{ line.num }}</span>
                    <span class="text">{{ line.line }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="display:none;" id="first_line_cache">{{ lines[0].num }}</div>
    <div style="display:none;" id="last_line_cache">{{ lines[-1].num }}</div>

    <form class="body-form body-form-annotation" action="" method="POST" novalidate>
        {{ form.csrf_token }}
        <span style="display:none;">
            {{ form.first_char_idx }}
            {{ form.last_char_idx }}
        </span>
        <div class="body-form-line-nums">
            <span>
                {{ form.first_line.label }}:
                {{ form.first_line }}
                <br>
                {% for error in form.first_line.errors %}
                    <span style="color: red;"> [{{ error }}] </span>
                {% endfor %}
            </span>
            <span>
                {{ form.last_line.label }}:
                {{ form.last_line }}
                <br>
                {% for error in form.last_line.errors %}
                    <span style="color: red;"> [{{ error }}] </span>
                {% endfor %}
            </span>
        </div>

        <div class="body-form-annotation">
            <strong>{{ form.annotation.label }}</strong>
            <br>
            {{ form.annotation }}
        </div>

        <div class="tags">
            {% include "includes/js/_tags_autocomplete.js" %}
            <strong>{{ form.tags.label }}</strong>
            <br>
            <div id="master_div">
                {# tag spans is where we put the tags as they're
                    created by the javascript #}
                {{ form.tags(onfocus="focusDiv(this);", onblur="blurDiv(this);") }}
            </div>
            <div id="autocomplete"></div>

            {% for error in form.tags.errors %}
                <span style="color: red;">[{{ error }}]</span>
                <br>
            {% endfor %}
        </div>

        {% if annotation %}
            <div class="body-form-reason">
                <strong>{{ form.reason.label }}</strong>
                <br>
                {{ form.reason }}
                {% for error in form.reason.errors %}
                    <span style="color: red;"> [{{ error }}] </span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="body-form-submit">
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
