{% extends "base.html" %}

{% block content %}
    <h1>Replying to:</h1>
    <div class="comment">
        <div class="header">posted by <a href="{{ comment.poster.url }}">{{ comment.poster.displayname }}</a> {{ moment(comment.timestamp).fromNow() }} </div>
        <div class="comment-body">
            {{ comment.body|markdown }}
        </div>
    </div>
    <form class="body-form" action="" method="POST" novalidate>
        {{ form.csrf_token() }}
        {{ form.comment }}
        <br>
        {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        {{ form.submit }}
    </form>
{% endblock %}
