{% extends "base.html" %}

{% block content %}
    <h1>Edit Wiki for <a href="{{ wiki.entity.url }}">{{ wiki.entity }}</a></h1>

    <form class="body-form" action="" method="POST" novalidate>
        {{ form.csrf_token() }}
        {{ form.wiki(cols=75, rows=30) }}
        {% for error in form.wiki.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.reason }}
        {% for error in form.reason.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit }}
    </form>
{% endblock %}
