{% extends "base.html" %}

{% block content %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.tag(size=10) }}
        <br>
        {% for error in form.tag.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        <br>
        {{ form.description(rows=10, cols=70) }}
        <br>
        <br>
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        {{ form.submit }}
        {{ form.cancel }}
    </form>
{% endblock %}
