<div class="annotation" id="a{{ annotation.id }}">
    <div class="annotation-head">
        {% set edition = annotation.edition %}
        <a href="{{ annotation.url }}" class="footnote">[{{ annotation.id }}]</a>
        on
        <span class="disappear-1">
            <em>{% include "includes/_annotation_standalone_line_nums.html" %}</em> of
        </span>
        <em><a href="{{ edition.url }}">{{ edition.title }}</a></em>
        {% set writers = edition.writers['author'] %}
        <span class="disappear-2">by {% include "includes/_writers_list.html" %}</span>
        {% if annotation.locked %}&#128274;{% endif %}
        <span class="right">
            {% include "includes/_annotation_weight.html" %}
            {% set vote = current_user.get_vote(annotation) %}
            {% include "includes/_vote.html" %}
            <a class="collapse" onclick="collapse(this);">[ - ]</a>
        </span>
    </div>

    <div class="annotation-collapsible">
        <div class="annotation-body">
            {%- if len(annotation.HEAD.body) < 255 -%}
                {{ annotation.HEAD.body|proc_links|markdown }}
            {%- else -%}
                <div class="cutoff">
                    {{ annotation.HEAD.body[:512]|proc_links|markdown }}
                    <a href="{{ url_for("main.annotation", annotation_id=annotation.id) }}">View More</a>
                </div>
            {%- endif -%}
        </div>

        <div class="tags">
            {% for tag in annotation.HEAD.tags %}
                <a href="{{ tag.url }}"><div class="tag">{{ tag.tag }}</div></a>
            {% endfor %}
        </div>

        <div class="annotation-footer">
            <span class="web">
                {% include "includes/_annotator.html" %}
            </span>
            <span class="mobile">
                by <a href="{{ url_for('user.profile', user_id=annotation.annotator.id ) }}">{{ annotation.annotator.displayname }}</a>
            </span>

            {% if current_user != annotation.annotator %}
                <span class="disappear-3">| {% include "includes/_annotation_follow.html" %}</span>
            {% endif %}
            <span class="disappear-3">| {% include "includes/_annotation_flags.html" %}</span>
            | <a href="{{ url_for("main.edit", annotation_id=annotation.id, next=request.full_path) }}">edit</a>
            | <a href="{{ url_for("main.comments", annotation_id=annotation.id) }}">comments</a>
        </div>
    </div>
</div>
