<div class="annotation" id="a{{ annotation.id }}">
    <div class="annotation-head">
        <div class="left">
            {% set entity = annotation %}
            {% include "includes/_weight.html" %}
            {% set prefix, ident = 'a', annotation.id %}
            {% include "includes/_vote.html" %}
        </div>

        <div class="center">
            {% set edition = annotation.edition %}
            <span class="footnote">
                <a href="{{ annotation.url }}">[{{ annotation.id }}]</a>
                {% if annotation.locked %}&#128274;{% endif %}
            </span>
            <span class="disappear-3">on</span>
            <span class="line-nums">
                <em>{% include "includes/_annotation_line_nums.html" %}</em>
            </span>
        </div>

        <span class="right">
            <a class="collapse">[ - ]</a>
        </span>
    </div>

    <div class="annotation-collapsible">
        <div class="annotation-body">
            {%- if len(annotation.HEAD.body) < 255 -%}
                {{ annotation.HEAD.body|proc_links|markdown }}
            {%- else -%}
                <div class="cutoff">
                    {{ annotation.HEAD.body[:512]|proc_links|markdown }}
                    <a href="{{ url_for("main.annotation", annotation_id=annotation.id) }}">View More</a>
                </div>
            {%- endif -%}
        </div>

        <div class="tags">
            {% for tag in annotation.HEAD.tags %}
                <a href="{{ tag.url }}"><div class="tag">{{ tag.tag }}</div></a>
            {% endfor %}
        </div>

        <div class="annotation-footer">
            <span class="web">
                {% include "includes/_annotator.html" %} |
            </span>
            <span class="mobile">
                by <a href="{{ url_for('user.profile', user_id=annotation.annotator.id ) }}">{{ annotation.annotator.displayname }}</a> |
            </span>
            <a href="{{ url_for("main.edit", annotation_id=annotation.id, next=request.full_path) }}">edit</a> |
            {% set count = annotation.comments.count() %}
            <a href="{{ url_for("main.comments", annotation_id=annotation.id) }}">
                {% if count <= 0 %}discuss{% else %}{{ count }} comments{% endif %}
            </a>
        </div>
    </div>
</div>
