<annotation id="a{{ annotation.id }}">
    <div class="annotation_head">
        {% set edition = annotation.edition %}
        <sup><a href="{{ annotation.url }}">[{{ annotation.id }}]</a></sup>
        on
        <em>
            <a href="{{ annotation.HEAD.lines[0].url }}#{{
                annotation.HEAD.first_line_num }}">
                {%- if annotation.HEAD.first_line_num ==
                annotation.HEAD.last_line_num %}
                    l.{{ annotation.HEAD.last_line_num }}
                {% else %}
                    ll. {{ annotation.HEAD.first_line_num }}-{{
                    annotation.HEAD.last_line_num }}
                {% endif -%}
            </a>
        </em>

        of
        <em><a href="{{ edition.url }}">{{ edition.title }}</a></em>

        {# the authorship of the annotation's target edition #}
        {% set writers = edition.writers['author'] %}
        by {% include "includes/_writers_list.html" %}

        {% include "includes/_annotation_weight.html" %}

        {% if annotation.locked %}&#128274;{% endif %}
    </div>

    <div class="annotation_content">
        {%- if len(annotation.HEAD.body) < 255 -%}
            {{ annotation.HEAD.body|markdown }}
        {%- else -%}
            <span class="cutoff">{{ annotation.HEAD.body[:255]|markdown
                }}</span>
            <a href="{{ url_for("main.annotation", annotation_id=annotation.id)
                }}">View More</a>
        {%- endif -%}
    </div>

    <tags>
        {% for tag in annotation.HEAD.tags %}
            <a href="{{ tag.url }}"><tag>{{ tag.tag }}</tag></a>
        {% endfor %}
    </tags>

    <br>

    {% include "includes/_annotator.html" %}

    | {% include "includes/_vote.html" %}

    {% if current_user != annotation.annotator %}
        | {% include "includes/_annotation_follow.html" %}
    {% endif %}

    | {% include "includes/_annotation_flags.html" %}

    | <a href="{{ url_for("main.edit", annotation_id=annotation.id,
        next=request.full_path) }}">edit</a>

    | <a href="{{ url_for("main.comments", annotation_id=annotation.id)
        }}">comments</a>
</annotation>
