{% include "includes/_toc_toggle.js" %}

<table class="toc">
    <thead>
        <tr>
            <th align="left" class="section disappear-3">Section</th>
            <th class="content">Title</th>
            <th align="right" class="disappear-1">Line</th>
        </tr>
    </thead>
    <tbody>
        {% for section in hierarchy %}
            <tr class="lvl{{ section.primary.precedence }} {% for attr in section.attrs.values() %}{{ attr.precedence }}-{{ attr.num }} {% endfor %}">
                <td align="left" class="disappear-3 section" onclick="location.href='{{ section.url }}';">
                    <a href="{{ section.url }}">
                        {{ section.primary.display }} {{ section.primary.num }}
                    </a>
                </td>
                <td align="center" class="content" onclick="location.href='{{ section.url }}';">
                    <a href="{{ section.url }}">{{ section.line }}</a>
                </td>
                <td align="right" class="lineno disappear-1" onclick="location.href='{{ section.url }}';">
                    <a href="{{ section.url }}">{{ section.num }}</a>
                </td>
                {% if section.primary.precedence < deepest %}
                    <td class="collapse-td">
                        <a class="collapse" onclick="toggle(this);">[ + ]</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
