{% extends "base.html" %}

{% block content %}
    {# Header/Running Head #}
    {% set writers = edition.writers['author'] %}
    <h1>
        <a href="{{ edition.url }}">{{ edition.title }}</a>
        by {% include "includes/_writers_list.html" %} &#167; {{ section }}
    </h1>

    {# Pagination #}
    {% if prev_page %}
        <a href="{{ prev_page }}">&lt;&lt; Previous Page</a>
    {% endif %}

    {% if prev_page and next_page %}|{% endif %}

    {% if next_page %}
        <a href="{{ next_page }}">Next Page &gt;&gt;</a>
    {% endif %}


    {# Line number entry for annotation form #}
    <form class="body-form" id="line-form" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.first_line(class_="hideme") }}
        {{ form.last_line(class_="hideme") }}
        {{ form.first_char(class_="hidden") }}
        {{ form.last_char(class_="hidden") }}
        {{ form.submit() }}
    </form>

    <hr>
    <div id="annotate-button">annotate</div>
    {# hide the line number form from javascript users. #}
    <script>
        var hideform = document.getElementById('line-form');
        hideform.classList.add('js')
    </script>

    {# Text of the page #}
    {% include "includes/js/_highlight.js" %}
    {% include "includes/js/_annotation_display.js" %}

    <div id="text-content" class="{% if edition.verse %}no{% endif %}concat">
        {% for s in toc.parents %}
            <div class="line lvl{{ s.precedence }}">
                <span class="line-num hidden"></span>
                <span class="text">{{ s.body }}</span>
            </div>
        {% endfor %}
        <div class="line lvl{{ toc.precedence }}">
            <span class="line-num hidden"></span>
            <span class="text">{{ toc.body }}</span>
        </div>
        {%- for line in lines %}
            {# I don't remember why I had to do this for the break between
            paragraphs but I did. Worth investigating to see if we can just get
            fl to work with the increased top margin still. I remember it not
            working unless I did this before. Now I remember, it's because --
            No, that's not it. IDFK, man. #}
            {% if line.enum == "fl" %}<div class="break"></div>{% endif %}

            <div class="line {{ line.enum }}" id="{{ line.num }}">
                <span class="line-num{% if line.num % 5 != 0 %} hidden{% endif %}">{{ line.num }}</span>
                <span class="text">
                    {%- if line.enum == 'hr' -%}
                        <hr>
                    {%- else -%}
                        {{ line.body|safe }}
                    {% endif %}
                </span>
                {% if line.num in annotations_idx %}
                    <span class="line-annotations">
                        {% for a in annotations_idx[line.num] %}
                        <a class="annotation-link" onclick="showAnnotation(this);" href="#a{{ a.id }}"><sup>[{{ a.id }}]</sup></a>
                        {% endfor %}
                    </span>
                {% endif %}

            </div>

        {% endfor %}
    </div>

    <br>
    {% include "includes/js/_collapse_script.js" %}
    {% include "includes/_vote.js" %}
    {% if annotations_idx %}
        {% for i in range(lines[0].num, lines[-1].num) %}
            {% for annotation in annotations_idx[i] %}
                {% include "includes/_annotation.html" %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <h4>There are no annotations for this section.</h4>
    {% endif %}
{% endblock %}
