{% extends "base.html" %}

{% block content %}

    {# Header/Running Head #}
    {% set writers = edition.writers['author'] %}
    <h1>
        <a href="{{ edition.url }}">{{ edition.title }}</a>
        by {% include "includes/_writers_list.html" %} &#167; {{ section }}
    </h1>

    {# Pagination #}
    {% if prev_page %}
        <a href="{{ prev_page }}">&lt;&lt; Previous Page</a>
    {% endif %}

    {% if prev_page and next_page %}|{% endif %}

    {% if next_page %}
        <a href="{{ next_page }}">Next Page &gt;&gt;</a>
    {% endif %}


    {# Line number entry for annotation form #}
    <form class="line-form" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.first_line(size=4) }}
        {{ form.last_line(size=4) }}
        {{ form.submit() }}
    </form>
    {# hide the line number form from javascript users. #}
    <script>
        document.getElementsByClassName('line-form')[0].style.display = "none";
    </script>

    <hr>


    {# Text of the page #}
    <div id="text-content">
        {% set can_edit_lines = current_user.is_authorized('edit_lines') %}
        {%- for line in lines %}
            <div class="line {{ line.primary.enum }}" id="{{ line.num }}">
                <span class="line-num{% if line.num % 5 != 0 %} hidden{% endif %}">{{ line.num }}</span>
                {%- if line.primary.enum == 'hr' -%}
                    <hr>
                {%- else -%}
                    <span class="text">{{ line.line|safe }}</span>
                {%- endif -%}
                {% if line.num in annotations_idx %}
                    <span class="line-annotations">
                        {% for a in annotations_idx[line.num] %}
                            <a href="#a{{ a.id }}">[{{ a.id }}]</a>
                        {% endfor %}
                    </span>
                {% endif %}

            </div>
        {% endfor %}
    </div>

    {% if annotations_idx %}
        {% for i in range(lines[0].num, lines[-1].num) %}
                {% for annotation in annotations_idx[i] %}
                    {% include "includes/_annotation.html" %}
                {% endfor %}
        {% endfor %}
    {% else %}
        <h4>There are no annotations for this section.</h4>
    {% endif %}

{% endblock %}
