<div class="event">
    <a href="{{ url }}">
        <div class="resolved">{% if flag.resolver %}&#10003;{% else %}&#10007;{% endif %}</div>
        <div class="flag">{{ flag.enum }}</div>
        <div class="thrower">
            {{ flag.thrower }}
            {% set timestamp = flag.time_thrown %}
            {% include "includes/_timestamp.html" %}
        </div>
        <div class="resolver">
            {% if flag.resolver %}
                {{ flag.resolver }}
                {% set timestamp = flag.time_resolved %}
                {% include "includes/_timestamp.html" %}
            {% else %}
                unresolved
            {% endif %}
        </div>
    </a>
</div>
