
a {
    text-decoration:none;
    font-family: 'Playfair Display', serif;
}
h1 {
    text-align:center;
    font-size:20pt;
    margin-bottom:25px;
    font-family: 'Playfair Display', serif;
} 
ch {
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
    text-align:center;
    margin: 0px;
}
stage {
    font-family: 'Playfair Display', serif;
    font-size: 100pt!important;
    text-align:center;
    margin: 0px;
}
.pages{
    font-size: 24pt;
    text-decoration:none;
#running_head {
    text-align:right;
    font-size:20pt;
    margin-bottom:50px;
    font-family: 'Playfair Display', serif;
}
