:root {
    --base03:       #002b36;
    --base02:       #073642;
    --base01:       #586e75; /* optional emphasized content */
    --base00:       #657b83; /* body text/default code/primary content */
    --base0:        #839496;
    --base1:        #93a1a1; /* comments/secondary content */
    --base2:        #eee8d5; /* background highlights */
    --base3:        #fdf6e3; /* background */
    --yellow:       #b58900;
    --orange:       #cb4b16;
    --red:          #dc322f;
    --magenta:      #d33682;
    --violet:       #6c71c4;
    --blue:         #268bd2;
    --cyan:         #2aa198;
    --green:        #859900;
}


body {
    font-family: 'EB Garamond', serif;
    background-color: var(--base3);
    color: var(--base1);
}
#container {
    width: 600px;
    margin: auto;
}

/* Generals */
ul {
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
}
a {
    text-decoration: none;
    color: var(--blue);
}
a:hover {
    color: var(--cyan);
}
p {
    margin: 0px;
    text-align: justify;
    text-indent: 2em;
    font-size: 14pt;
    color: var(--base00);
}
h1 {
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 30pt;
    color: var(--base01);
} 
h2 {
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 25pt;
    color: var(--base01);
} 
pre {
    margin: 5px;
    font-family: 'Playfair Display', serif;
}


/* Nav bar */
nav {
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
    color: var(--base01);
}
nav a {
    margin: 10px;
    color: var(--base01);
}
nav a:hover {
    margin-bottom: 3px;
    border-bottom: 1px solid var(--base1);
    color: var(--base1);
}


/*************************
 * Book Information Page *
 *************************/
#meta {
}
.table_of_contents {
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
}
.table_of_contents tr:hover{
    background-color: var(--base2);
}
.book_contents {
    font-size: 16pt;
}
.part_contents {
    font-size: 14pt;
    text-indent: 1em;
}
.chapter_contents {
    text-indent: 2em;
    font-size: 12pt;
}


/***********************
 * Text Content Styles *
 ***********************/

.running_head {
    margin: 0 0 20px 0;
    text-align: right;
    font-size: 20pt;
    font-family: 'Playfair Display', serif;
}

/* main tags */
.ch {
    display: block;
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
    color: var(--base01);
}
.pt {
    display: block;
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    color: var(--base01);
}
.bk {
    display: block;
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
    color: var(--base01);
}
.stg {
    display: block;
    margin: 10px;
    text-indent: 0;
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    color: var(--base01);
}
paragraph{
    margin: 3 0 3 0px;
    display: block;
    font-family: 'EB Garamond', serif;
    font-size: 14pt;
    color: var(--base00);
}
paragraph.fl {
    text-align: justify;
    text-indent: 1em;
}
paragraph.cont {
    text-align: justify;
}
paragraph.sl {
    text-indent: 1em;
}

/* Justified lines */
line.fl, line.sl, {
    margin: 0px;
    line-height: 1.5em;
    text-indent: 1em;
}
line.l {
    margin: 0px;
    line-height: 1.5em;
}
line.ll {
    margin: 0px;
    line-height: 1.5em;
    text-align: left;
}
line.fl:after, line.l:after {
    display: inline-block;
    width: 100%;
    content: "";
}

/* Handling of ragged right text */
.rrfl, .rrl {
    margin: 0px;
    line-height: 1.5em;
}
.rrsl, .rrll {
    margin: 0 0 10 0px;
    line-height: 1.5em;
}
sup.anno {
    font-size:0.7em;
}
.linenum {
    margin: 0 0 0 -6em;
    width: 4em;
    line-height: 2;
    float: left;
    text-align: right;
    font-family: Playfair Display, serif;
    font-size: 0.7em;
    font-weight: 600;
    color: var(--base1);
}


/*********************
 * Annotation Styles *
**********************/

annotation {
    display: block;
    margin: 20px 0 20px 0;
    padding: 10px;
    background-color: var(--base2);
    color: var(--base01);
    font-size: 14px;
    font-family: Playfair Display, serif;
    text-align: justify;
}
annotation p {
    margin-bottom: 20px;
}
annotation sup {
    font-size: 20px;
}
tag {
    padding: 5px 15px 5px 15px;;
    border-radius: 2px;
    margin: 10px 0 10px 5px;
    background-color: var(--cyan);
    color: var(--base3);
}
.flash li {
    background-color: var(--base2);
    list-style: none;
    padding: 10px;
    margin: 20px 0 20px 0;
    color: var(--base01);
    text-align: center;
}
.notvoted {
}
.voted {
    color: var(--base03);
}
weight {
    font-size:24px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding: 0.25em 0 0.25em 0;
    font-weight: bold;
    margin: 0.5em;
}
weight.up {
    color: var(--green);
}
weight.nil {
    color: var(--base0);
}
weight.down {
    color: var(--red);
}
