{% extends "base.html" %}

{% block content %}
<form action="" method="POST" novalidate>
    {{ form.csrf_token() }}
    <table>
        <tr>
            <th>
                {{ form.title.label }}: {{ form.title(size=25) }}
                <br>
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </th>
            <th>
                {{ form.author.label }}: {{ form.author(size=25) }}
                <br>
                {% for error in form.author.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </th>
        </tr>
        <tr>
            <td colspan=5> {{ form.description(rows=10, cols=70) }} <br> </td>
        </tr>
        <tr>
            <td colspan=5> {{ form.notes(rows=10, cols=70) }} <br> </td>
        </tr>
        <tr>
            <th colspan=5>
                {{ form.wikipedia(size=64) }} <br>
                {% for error in form.wikipedia.errors %}
                    <span style="color: red;">[{{ error }}]</span> <br>
                {% endfor %}
            </th>
        </tr>
        <tr>
            <th colspan=5>
                {{ form.gutenberg(size=64) }} <br>
                {% for error in form.gutenberg.errors %}
                    <span style="color: red;">[{{ error }}]</span> <br>
                {% endfor %}
            </th>
        </tr>
        <tr>
            <th colspan=5>{{ form.submit }}</th>
        </tr>
    </table>
</form>
{% endblock %}
