{% extends "base.html" %}

{% block content %}

<div id="content">
    <div class="selection">
        <!--header info, e.g., title, author, etc.-->
        <h1>
            Annotation [{{ annotation.id }}]
            {% if annotation.locked %}
                &#128274; 
            {% endif %}
        </h1>
        <h2>
            on
            <em>
                <a href="{{ annotation.HEAD.lines[0].get_url() }}#{{
                    annotation.HEAD.first_line_num }}">
                    {%- if annotation.HEAD.first_line_num ==
                        annotation.HEAD.last_line_num %}
                        l.{{ annotation.HEAD.last_line_num }}
                    {% else -%}
                        ll.{{ annotation.HEAD.first_line_num }}-{{
                        annotation.HEAD.last_line_num }}
                    {% endif -%}
                </a>
            </em>
            of
            <em>
                <a href="{{ url_for("book", book_url=annotation.book.url) }}">
                    {{ annotation.book.title }}
                </a>
            </em>
            by
            <a href="{{ url_for("author", name=annotation.book.author.url) }}">
                {{ annotation.book.author.name }}
            </a>
        </h2>

        <h3>
            <!--Weight-->
            {% if annotation.weight > 0 -%}
                <weight class="up">{{ annotation.readable_weight() }}</weight>
            {%- elif annotation.weight == 0 -%}
                <weight class="nil">{{ annotation.readable_weight() }}</weight>
            {%- else -%}
                <weight class="down">{{ annotation.readable_weight() }}</weight>
            {%- endif -%}
            &nbsp;|
            <!--up/down vote buttons-->
            {% if uservotes and annotation.id in uservotes and 
                uservotes[annotation.id] %}
                <a href="{{ url_for("upvote", annotation_id=annotation.id,
                    next=request.full_path) }}" class="voted">
                    up
                </a>
            {% else %}
                <a href="{{ url_for("upvote", annotation_id=annotation.id,
                    next=request.full_path) }}" class="notvoted">
                    up
                </a>
            {% endif -%}
            /
            {%- if uservotes and annotation.id in uservotes and not
                uservotes[annotation.id] %}
                <a href="{{ url_for("downvote", annotation_id=annotation.id,
                    next=request.full_path) }}" class="voted">
                    down
                </a>
            {% else %}
                <a href="{{ url_for("downvote", annotation_id=annotation.id,
                    next=request.full_path) }}" class="notvoted">
                    down
                </a>
            {% endif -%}

            {% if current_user != annotation.annotator %}
                {% if current_user.is_authenticated and annotation in
                    current_user.followed_annotations %}
                    | <a href="{{ url_for("follow_annotation",
                        annotation_id=annotation.id, next=request.full_path) }}">
                        unfollow
                    </a>
                {% else %}
                    | <a href="{{ url_for("follow_annotation",
                        annotation_id=annotation.id, next=request.full_path) }}">
                        follow
                    </a>
                {% endif %}
            {% endif %}
        </h3>
        <h4>
            {%- if annotation.HEAD.edit_num == 0 %}
                <a href="{{ url_for("view_edit", annotation_id=annotation.id,
                    edit_num=annotation.HEAD.edit_num) }}">
                    annotated by
                </a>
                <a href="{{ url_for("user", user_id=annotation.annotator.id) }}">
                    {{ annotation.annotator.displayname }}
                </a>
                <strong>{{ annotation.annotator.readable_reputation() }}</strong>
                {{ annotation.added }}
            {%- else -%}
                <a href="{{ url_for("view_edit", annotation_id=annotation.id,
                    edit_num=annotation.HEAD.edit_num) }}">
                    last edited
                </a>
                by
                <a href="{{ url_for("user", user_id=annotation.HEAD.editor.id) }}">
                    {{ annotation.HEAD.editor.displayname }}
                </a>
                <strong>
                    {{ annotation.HEAD.editor.readable_reputation() }}
                </strong>
                {{ annotation.HEAD.modified }}
            {% endif %}
        </h4>
            
        <em>
            <a href="{{ url_for("edit_history", annotation_id=annotation.id) }}">
                version history
            </a>
        </em>
        |
        <em>
            <a href="{{ url_for("view_edit", annotation_id=annotation.id,
                edit_num=annotation.HEAD.previous.edit_num) }}">
                previous version
            </a>
        </em>
        <br>

        <!--flagging dropdown-->
        <div class="dropdown">
            <a class="dropbtn">flag&#x25be;</a>
            <div class="dropdown-content">
                {% for annotationflag in annotationflags %}
                    <a href="{{ url_for("flag_annotation",
                        flag_id=annotationflag.id, annotation_id=annotation.id,
                        next=request.full_path) }}">
                        {{ annotationflag.flag }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <!--all of these controls require user to be logged in-->
        {% if current_user.is_authenticated %}
            <!--view all flags-->
            {% if current_user.is_authorized("resolve_annotation_flags") %}
                | <a href="{{ url_for("annotation_flags",
                    annotation_id=annotation.id) }}">
                    flags
                </a>
            {% endif %}

            <!--edit the annotation-->
            {% if current_user.is_authorized("edit_locked_annotations") or not
                annotation.locked %}
                | <a href="{{ url_for("edit", annotation_id=annotation.id,
                    next=request.full_path) }}">
                    edit
                </a>
            {% endif %}

            {% if current_user.is_authorized("deactivate_annotations") %}
                {% if annotation.active %}
                    | <a href="{{ url_for("deactivate", annotation_id=annotation.id,
                        next=request.full_path) }}">
                        deactivate
                    </a>
                {% else %}
                    | <a href="{{ url_for("deactivate", annotation_id=annotation.id,
                        next=request.full_path) }}">
                         reactivate
                    </a>
                {% endif %}
            {% endif %}
            {% if current_user.is_authorized("delete_annotations") %}
                |
                <a href="{{ url_for("delete_annotation",
                    annotation_id=annotation.id)
                    }}">
                    delete
                </a>
            {% endif %}
        {% endif %}
    
        <h3>Selection:</h3>
        {% for line in annotation.context %}
            {% if line in annotation.lines %}
                <div class="highlight">
                    <line class="{{ line.label.label }}" id="{{ line.line_num }}">
                        <span class="linenum">{{ line.line_num }}</span>
                        {%- if line.label.label == 'hr' -%}
                            <hr class="book_separator">
                        {%- else -%}
                            {{ line.line|safe }}
                        {%- endif -%}
                    </line>
                </div>
            {% else %}
                <line class="{{ line.label.label }}" id="{{ line.line_num }}">
                    {%- if line.label.label == 'hr' -%}
                        <hr class="book_separator">
                    {%- else -%}
                        {{ line.line|safe }}
                    {%- endif -%}
                </line>
            {% endif %}
        {% endfor %}
    </div>

    <h3>Annotation:</h3>
    {% include "includes/_annotation_full.html" %}
</div>

{% endblock %}
