{% extends "base.html" %}

{% block content %}

<h1>{{ author.name }}</h1>
<h2>&times; {{ len(author.books)}} Books</h2>
<div id="bio"> {{ author.bio|markdown }} </div>
<a href="{{ url_for("author_annotations", name=author.url) }}"> view all annotations </a>
{% if current_user.is_authenticated %}
    {% if author in current_user.followed_authors %}
        | <a href="{{ url_for("user.follow_author", author_id=author.id, next=request.full_path) }}"> unfollow </a>
    {% else %}
        | <a href="{{ url_for("user.follow_author", author_id=author.id, next=request.full_path) }}"> follow </a>
    {% endif %}

    {% if current_user.is_authorized("edit_bios") %}
        | <a href="{{ url_for("admin.edit_bio", author_id=author.id, next=request.full_path) }}"> edit </a>
    {% endif %}
{% endif%}
<div class="index">
    {% for book in author.books %}
        <div class="card">
            <a href="{{ url_for("book", book_url=book.url) }}"> <h2>{{ book.title }}</h2> </a>
            <div class="count"> &times; {{ book.lines.count() }} lines </div>

            {% if len(book.summary) >= 127 %}
                <div class="card_text_cutoff"> {{ book.summary[:127]|markdown }} </div>
            {% else %}
                <div> {{ book.summary[:127]|markdown }} </div>
            {% endif %}

            <a href="{{ url_for("book", book_url=book.url) }}">View More</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
