{% extends "base.html" %}

{% block content %}

<h1>
    {{ book_request.title }}
    {% if book_request.approved %}
        &#10003;
    {% elif book_request.rejected %}
        &#10007;
    {% endif %}
</h1>
<h2>by {{ book_request.author }}</h2>
<br>
<a href="{{ book_request.wikipedia }}">{{ book_request.wikipedia }}</a>
<br>
<a href="{{ book_request.gutenberg }}">{{ book_request.gutenberg }}</a>
<br><br>
{% if book_request.weight > 0 %}
    <weight class="up">
        {{ book_request.readable_weight() }}
    </weight>
{% elif book_request.weight < 0 %}
    <weight class="down">
        {{ book_request.readable_weight() }}
    </weight>
{% else %}
    <weight class="nil">
        {{ book_request.readable_weight() }}
    </weight>
{% endif %}
{% if current_user.is_authenticated
and current_user.already_voted_book_request(book_request)
and current_user.get_book_request_vote(book_request).is_up() %}
    <a href="{{ url_for("upvote_book_request",
        book_request_id=book_request.id, next=request.full_path) }}"
        class="voted">
        up
    </a>
{% else %}
    <a href="{{ url_for("upvote_book_request",
        book_request_id=book_request.id, next=request.full_path) }}"
        class="notvoted">
        up
    </a>
{% endif %}
    /
{% if current_user.is_authenticated
and current_user.already_voted_book_request(book_request)
and not current_user.get_book_request_vote(book_request).is_up() %}
    <a href="{{ url_for("downvote_book_request",
        book_request_id=book_request.id, next=request.full_path) }}"
        class="voted">
        down
    </a>
{% else %}
    <a href="{{ url_for("downvote_book_request",
        book_request_id=book_request.id, next=request.full_path) }}"
        class="notvoted">
        down
    </a>
{% endif %}
|
{% if current_user.is_authenticated
    and book_request in current_user.followed_book_requests %}
    <a href="{{ url_for("follow_book_request", book_request_id=book_request.id,
        next=request.full_path) }}">
        unfollow
    </a>
{% else %}
    <a href="{{ url_for("follow_book_request", book_request_id=book_request.id,
        next=request.full_path) }}">
        follow
    </a>
{% endif %}

{% if current_user.is_authenticated %}
    {% if current_user.has_right("edit_book_requests") 
        or current_user == book_request.requester %}
    |
    <a href="{{ url_for("edit_book_request", book_request_id=book_request.id,
        next=request.full_path) }}">
        edit
    </a>
    {% endif %}
{% endif %}


<h3>Description</h3>
<div id="description"> {{ book_request.description|markdown }} </div>

<h3>Notes</h3>
<div id="notes"> {{ book_request.notes|markdown }} </div>

{% endblock %}
