{% extends "base.html" %}

{% block content %}
<h1>{{ book.title|safe }}</h1>
<h2> by <a href="{{ url_for("author", name=book.author.url) }}"> {{ book.author.name|safe }} </a> </h2>

<div id="summary"> {{ book.summary|markdown }} </div>

<a href="{{ url_for("book_annotations", book_url=book.url) }}"> view all annotations </a>

{% if current_user.is_authenticated %}
    {% if book in current_user.followed_books %}
        | <a href="{{ url_for("follow_book", book_id=book.id, next=request.full_path) }}"> unfollow </a>
    {% else %}
        | <a href="{{ url_for("follow_book", book_id=book.id, next=request.full_path) }}"> follow </a>
    {% endif %}

    {% if current_user.is_authorized("edit_summaries") %}
        | <a href="{{ url_for("edit_summary", book_id=book.id, next=request.full_path) }}">edit</a>
    {% endif %}
{% endif %}

<!--------------table of contents------>
<table class="table_of_contents">
    <tr class="toc_header">
        <th align="left">Section</th>
        <th align="center">Section Title</th>
        <th align="right">Line</th>
    </tr>
    {% for section in hierarchy %}
        {% if section.label.label == "lvl1" %}
            <tr class="lvl1_contents">
                <td align="left">
                    <a href="{{ section.get_url() }}">
                        {{ section.label.display }} {{ section.lvl1 }}
                    </a>
                </td>
                <td>
                    <a href="{{ section.get_url() }}">
                        {{ section.line }}
                    </a>
                </td>
                <td align="right">
                    <a href="{{ section.get_url() }}"> {{ section.line_num }} </a>
                </td>
            </tr>
        {% elif section.label.label == "lvl2" %}
            <tr class="lvl2_contents">
                <td align="left">
                    <a href="{{ section.get_url() }}">
                        {{ section.label.display }} {{ section.lvl2 }}
                    </a>
                </td>
                <td align="center">
                    <a href="{{ section.get_url() }}">
                        {{ section.line }}
                    </a>
                </td>
                <td align="right">
                    <a href="{{ section.get_url() }}"> {{ section.line_num }} </a>
                </th>
            </tr>
        {% elif section.label.label == "lvl3" %}
            <tr class="lvl3_contents">
                <td align="left">
                    <a href="{{ section.get_url() }}">
                        {{ section.label.display }} {{ section.lvl3 }}
                    </a>
                </td>
                <td align="center">
                    <a href="{{ section.get_url() }}">
                        {{ section.line }}
                    </a>
                </td>
                <td align="right">
                    <a href="{{ section.get_url() }}"> {{ section.line_num }} </a>
                </th>
            </tr>
        {% elif section.label.label == "lvl4" %}
            <tr class="lvl4_contents">
                <td align="left">
                    <a href="{{ section.get_url() }}">
                        {{ section.label.display }} {{ section.lvl4 }}
                    </a>
                </td>
                <td align="center">
                    <a href="{{ section.get_url() }}">
                        {{ section.line }}
                    </a>
                </td>
                <td align="right">
                    <a href="{{ section.get_url() }}"> {{ section.line_num }} </a>
                </th>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}
