{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for("mark_all_read") }}">mark all read</a>
    <table class="inbox">
        <tr class="header">
            <td>
                Read
            </td>
            <td>
                Type
            </td>
            <td>
                Time
            </td>
            <td>
                More information
            </td>
        </tr>
        {% if not notifications %}
            <tr>
                <td colspan=5>
                    You have no notifications yet.
                </td>
            </tr>
        {% endif %}
        {% for notification in notifications %}
            {% if notification.seen %}
                <tr class="read">
                    <td>
                        <a href="{{ url_for("mark_notification_read", event_id=notification.id) }}">unmark</a>
                    </td>
                    <td>
                        <a href="{{ notification.link }}">{{ notification.notification.description }}</a>
                    </td>
                    <td>
                        <a href="{{ notification.link }}">{{ notification.time }}</a>
                    </td>
                    <td>
                        <a href="{{ notification.link }}">{{ notification.information }}</a>
                    </td>
                </tr>
            {% else %}
                <tr class="unread">
                    <td>
                        <a href="{{ url_for("mark_notification_read", event_id=notification.id) }}">mark</a>
                    </td>
                    <td>
                        <a href="{{ notification.link }}">{{ notification.notification.description }}</a>
                    </td>
                    <td>
                        <a href="{{ notification.link }}">{{ notification.time }}</a>
                    </td>
                    <td>
                        <a href="{{ notification.link }}">{{ notification.information }}</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
