{% extends "base.html" %}

{% block content %}
    <h1><tag>{{ tag.tag }}</tag></h1>
    <h4>used in {{ tag.annotations.count() }} annotations.</h4>

    {% if current_user.is_authenticated and tag in current_user.followed_tags %}
        <a href="{{ url_for("follow_tag", tag_id=tag.id, next=request.full_path) }}">unfollow</a>
    {% else %}
        <a href="{{ url_for("follow_tag", tag_id=tag.id, next=request.full_path) }}">follow</a>
    {% endif %}

    {% if current_user.is_authenticated and current_user.has_right("edit_tags") %}
        <a href="{{ url_for("edit_tag", tag_id=tag.id) }}">edit</a>
    {% endif %}

    <br>
    <br>

    sort by:
    {% for type, url in sorts.items() %}
        {% if type == sort %}
            <a href="{{ url }}" class="active">{{ type }}</a>
        {% else %}
            <a href="{{ url }}">{{ type }}</a>
        {% endif %}
    {% endfor %}


    {% for annotation in annotations %}
        {% include "includes/_annotation_standalone.html" %}
    {% endfor %}

{% endblock %}
