{% extends "base.html" %}

{% block content %}
    <h1>All User Flags</h1>
    {% include "includes/_sorts.html" %}
    <div class="events">
        {% for flag in flags %}
            <div class="event">
                <a href="{{ url_for('admin.user_flags', user_id=flag.entity.id) }}">
                    <div class="user">on {{ flag.entity }}</div>
                    <div class="thrower">
                        thrown by {{ flag.thrower }} 
                        {% set timestamp = flag.time_thrown %}
                        {% include "includes/_timestamp.html" %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
