{% extends "base.html" %}

{% block content %}
    <h1>Flags on <a href="{{ annotation.url }}">{{ annotation }}</a> of <a href="{{ annotation.edition.url }}">{{ annotation.edition }}</a></h1>
    <h3>Click on a flag to (un)resolve it</h3>
    <h3><a href="{{ url_for('admin.mark_all_annotation_flags', annotation_id=annotation.id) }}">mark all flags resolved</a></h3>
    {% include "includes/_sorts.html" %}
    <div class="events">
        {% for flag in flags %}
            {% set url = url_for('admin.mark_annotation_flag', flag_id=flag.id) %}
            {% include "includes/_flag.html" %}
        {% endfor %}
    </div>
{% endblock %}
