{% extends "base.html" %}

{% block content %}

{% set header = [
    ('marked',          '&#9662;',                  'marked_invert',            '&#9652;'),
    ('flag',            'Flag &#9662;',             'flag_invert',              'Flag &#9652;'),
    ('thrower',         'Thrower &#9662;',          'thrower_invert',           'Thrower &#9652;'),
    ('time',            'Time Thrown&#9662;',       'time_invert',              'Time Thrown &#9652;'),
    ('resolver',        'Resolver &#9662;',         'resolver_invert',          'Resolver &#9652;'),
    ('time_resolved',   'Time Resolved &#9662;',    'time_resolved_invert',     'Time Resolved &#9652;'),
    ] %}

<h2>
    Annotation
    <a href="{{ url_for("main.annotation", annotation_id=annotation.id)
        }}">[{{ annotation.id }}]</a>
    on
    <a href="{{ url_for("main.text", text_url=annotation.text.url) }}">{{
        annotation.edition.title }}</a>
    flags
</h2>

{% if flags %}
    <a href="{{ url_for("admin.mark_all_annotation_flags",
        annotation_id=annotation.id) }}">mark all resolved</a>
    <table class="inbox">
        {% include "includes/_table_header.html" %}
        {% for flag in flags %}
            <tr class="{% if flag.resolver %}read{% else %}unread{% endif %}">
                <td>
                    {# resolved #}
                    <a href="{{ url_for("admin.mark_annotation_flag",
                        flag_id=flag.id, next=request.full_path) }}">{% if
                        flag.resolver %}&#10003;{% else %}&#10007;{% endif
                    %}</a>
                </td>
                <td>
                    {{ flag.enum.enum }}
                </td>
                <td>
                    <a href="{{ url_for("user.profile", user_id=flag.thrower.id)
                        }}">{{ flag.thrower.displayname }}</a>
                </td>
                <td>
                    {{ flag.time_thrown }}
                </td>
                <td>
                    {% if flag.resolver %}
                        <a href="{{ url_for("user.profile",
                            user_id=flag.resolver.id) }}">{{
                            flag.resolver.displayname }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if flag.resolver %}
                        {{ flag.time_resolved }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>Annotation [{{ annotation.id }}] has no flag history yet.</h3>
{% endif %}

{% endblock %}
