{% extends "base.html" %}

{% block content %}
    <h1>Flags on <a href="{{ annotation.url }}">{{ annotation }}</a> of <a href="{{ annotation.edition.url }}">{{ annotation.edition }}</a></h1>
    <h3>Click on a flag to (un)resolve it</h3>
    <h3><a href="{{ url_for('admin.mark_all_annotation_flags', annotation_id=annotation.id) }}">mark all flags resolved</a></h3>
    {% include "includes/_sorts.html" %}
    <div class="events">
        {% for flag in flags %}
            <div class="event">
                <a href="{{ url_for('admin.mark_annotation_flag', flag_id=flag.id) }}">
                    <div class="resolved">{% if flag.resolver %}&#10003;{% else %}&#10007;{% endif %}</div>
                    <div class="flag">{{ flag.enum }}</div>
                    <div class="thrower">
                        {{ flag.thrower }}
                        {% set timestamp = flag.time_thrown %}
                        {% include "includes/_timestamp.html" %}
                    </div>
                    <div class="resolver">
                        {% if flag.resolver %}
                            {{ flag.resolver }}
                            {% set timestamp = flag.time_resolved %}
                            {% include "includes/_timestamp.html" %}
                        {% else %}
                            unresolved
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
