{% extends "base.html" %}

{% block content %}
    <h1>Pending Edit Review Queue</h1>
    {% include "includes/_sorts.html" %}

    {% if edits %}
        <div class="events">
            {% for edit in edits %}
                <div class="event">
                    <a href="{{ edit.url }}">
                        <div class="annotation-num">
                            edit #{{ edit.num }} on {{ edit.annotation }}
                        </div>
                        <div class="vote-status">
                            {% set vote = current_user.get_vote(edit) %}
                            {% if vote %}
                                {% if vote.is_up %}
                                you upvoted it
                                {% else %}
                                you downvoted it
                                {% endif %}
                            {% else %}
                                you haven't voted
                            {% endif %}
                        </div>
                        <div class="weight">
                            {{ edit.weight }} votes
                        </div>
                        <div class="editor">
                            edited by {{ edit.editor.displayname }}
                            {% set timestamp = edit.timestamp %}
                            {% include "includes/_timestamp.html" %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>This queue has been cleared.</h3>
    {% endif %}
{% endblock %}
