{% extends "base.html" %}

{% block content %}
    <h1>Flags on <a href="{{ user.url }}">{{ user }}</a></h1>
    <h3>Click on a flag to (un)resolve it</h3>
    <h3><a href="{{ url_for('admin.mark_all_user_flags', user_id=user.id) }}">mark all flags resolved</a></h3>
    {% include "includes/_sorts.html" %}
    <div class="events">
        {% for flag in flags %}
            {% set url = url_for('admin.mark_user_flag', flag_id=flag.id) %}
            {% include "includes/_flag.html" %}
        {% endfor %}
    </div>
{% endblock %}
