{% extends "base.html" %}

{% block content %}
    <h1>Pending Wiki Edit Review Queue</h1>
    {% include "includes/_sorts.html" %}

    {% if edits %}
        <div class="events">
            {% for edit in edits %}
                <div class="event">
                    <a href="{{ edit.url }}">
                        <div class="entity">
                            Edit #{{ edit.num }} of {{ edit.wiki.entity }}
                        </div>
                        <div class="vote-status">
                            {% set vote = current_user.get_vote(edit) %}
                            {% if vote %}
                                {% if vote.is_up %}
                                you upvoted it
                                {% else %}
                                you downvoted it
                                {% endif %}
                            {% else %}
                                you haven't voted
                            {% endif %}
                        </div>
                        <div class="editor">
                            by {{ edit.editor.displayname }} at
                            {% set timestamp = edit.timestamp %}
                            {% include "includes/_timestamp.html" %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
