{% extends "base.html" %}

{% block content %}

{% set header = [
    ("voted_invert", "voted", "Vote &#9662;", "Vote &#9652;"),
    ("entity_invert", "entity", "Wiki &#9662;", "Wiki &#9652;"),
    ("num_invert", "num", "Edit &#9662;", "Edit &#9652;"),
    ("editor_invert", "editor", "Editor &#9662;", "Editor &#9652;"), 
    ("time_invert", "time", "Time &#9662;", "Time &#9652;"),
    ("reason_invert", "reason", "Reason &#9662;", "Reason &#9652;"),
    ]
%}

<h1>Pending Wiki Edit Review Queue</h1>
<table class="inbox">
    <tr class="header">
        {% for altid, id, caption, altcaption in header %}
            <td{% if sort.startswith(id) %} class="highlight"{% endif %}>
                <a href="{% if sort == altid or sort != id %}{{
                url_for("admin.wiki_edit_review_queue", sort=id, page=page) }}{%
                else %}{{ url_for("admin.wiki_edit_review_queue", sort=altid,
                page=page) }}{% endif %}">
                    {% if sort == altid %}
                        {{ altcaption|safe }}
                    {% else %}
                        {{ caption|safe }}
                    {% endif %}
                </a>
            </td>
        {% endfor %}
    </tr>
    {% if edits %}
        {% for edit in edits %}
            <tr{% if edit in votes %} class="read"{% else %} class="unread"{%
                endif %}>
                <td>
                    {% if edit in votes %}
                        {% if edit in votes and
                        current_user.get_wiki_edit_vote(edit).is_up() %}
                            <a href="{{ url_for("admin.upvote_wiki_edit",
                                wiki_id=edit.wiki.id, edit_id=edit.id)
                                }}">&#10003;</a>
                        {% else %}
                            <a href="{{ url_for("admin.downvote_wiki_edit",
                                wiki_id=edit.wiki.id, edit_id=edit.id)
                                }}">&#10007;</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for("admin.review_wiki_edit",
                        wiki_id=edit.wiki.id, edit_id=edit.id) }}">
                            review
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ edit.wiki.entity.url }}">{{
                        edit.wiki.entity_string|safe }}</a>
                </td>
                <td>#{{ edit.num }}</td>
                <td>{{ edit.editor.displayname }}</td>
                <td>{{ edit.timestamp }}</td>
                <td>{{ edit.reason }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="6">This queue is cleared.</td></tr>
    {% endif %}
</table>

{% endblock %}
