{% extends "base.html" %}

{% block content %}
    {% if edit.rejected %}
        <h1 class="rejected">&#10007; Edit Rejected<h1>
    {% elif edit.approved %}
        <h1 class="approved">&#10003; Edit Approved</h1>
    {% endif %}
    <h1>Edit #{{ edit.num }} of the Wiki for <a href="{{ edit.wiki.entity.url }}">{{ edit.wiki.entity|string }}</a></h1>

    <div class="toolbar">
        <div class="tools">
            <a href="{{ url_for("main.wiki_edit_history", wiki_id=edit.wiki.id) }}">version history</a>
            <a href="{{ url_for("main.view_wiki_edit", wiki_id=edit.wiki.id, edit_num=edit.previous.num) }}">previous version</a>
            {% if current_user.is_authorized("delete_wiki_edits") %}<a href="{{ url_for("admin.delete_wiki_edit", edit_id=edit.id) }}">delete</a>{% endif %}
        </div>
    </div>


    {% include "includes/_vote.js" %}
    <div class="toolbar">
        <div class="tools">
            {% set entity, prefix, ident = edit, 'e', edit.id %}
            <div id="{{ prefix }}{{ ident }}" class="weightvote">
                {% include "includes/_weight.html" %}
                {% include "includes/_vote.html" %}
            </div>
        </div>
    </div>

    {% if edit.ballots %}
        <div class="toolbar">
            <div class="tools">
                approved by:
                {% for ballot in edit.ballots %}{% if ballot.is_up %}<a href="{{ ballot.voter.url }}">{{ ballot.voter.displayname }}</a>{% endif %}{% endfor %}
                rejected by:
                {% for ballot in edit.ballots %}{% if not ballot.is_up %}<a href="{{ ballot.voter.url }}">{{ ballot.voter.displayname }}</a>{% endif %}{% endfor %}
            </div>
        </div>
    {% endif %}

    <h3>Difference:</h3>
    <div class="diff">
        {% for line in diff %}
            {% if line.startswith("-") %}
                <div class="delta">{{ line[2:]|markdown }}</div>
            {% elif line.startswith("+") %}
                <div class="plus">{{ line[2:]|markdown }}</div>
            {% elif line.startswith(" ") %}
                <div>{{ line|markdown }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <h3>New version, edit #{{ edit.num }}:</h3>
    <div class="diff">{{ edit.body|markdown }}</div>

    {% if edit.previous.num > 0 %}
        <h3>Old version, edit #{{ edit.previous.num }}:</h3>
    {% else %}
        <h3>Original version:</h3>
    {% endif %}
    <div class="diff">{{ edit.previous.body|markdown }}</div>
{% endblock %}
