{% extends "base.html" %}

{% block content %}
    <h1>Tag Requests</h1>
    {% if current_user.is_authorized("request_tags") %}
        <h4>Don't see what you’re looking for?
            <a href="{{ url_for("requests.request_tag") }}">Try requesting it.</a>
        </h4>
    {% endif %}
    {% if current_user.is_authorized('create_tags') %}
        <h4>
            You have the appropriate permissions to
            <a href="{{ url_for("admin.create_tag") }}">create a tag</a>.
        </h4>
    {% endif %}

    {% include "includes/_sorts.html" %}
    {% include "includes/_vote.js" %}

    <div class="index">
        {% for req in tag_requests %}
            <div class="card">
                <h2>
                    <a href="{{ req.url }}">
                        <div class="tag">{{ req.tag }}</div>
                    </a>
                    {% if req.approved %}&#10003;{% elif req.rejected %}&#10007;{% endif %}
                    <div id="tr{{ req.id }}" class="weightvote small">
                        {% set entity = req %}
                        {% include "includes/_weight.html" %}
                        {% set prefix, ident = 'tr', req.id %}
                        {% include "includes/_vote.html" %}
                    </div>
                </h2>


                {% set followings = current_user.followed_tagrequests %}

                {% set long = (len(req.wiki.current.body) >= 127) %}
                <div{% if long %} class="card_text_cutoff"{% endif %}>
                    {{ req.wiki.current.body[:127]|markdown }}
                </div>

                <a href="{{ req.url }}">View More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
