{% extends "base.html" %}

{% block content %}
    <h1>Text/Edition Requests</h1>

    {% if current_user.is_authorized("request_texts") %}
        <h3>
            Don't see what you're looking for?
            <a href="{{ url_for("requests.request_text") }}">Try requesting it.</a>
        </h3>
    {% endif %}

    {% include "includes/_sorts.html" %}

    <div class="index">
        {% for req in requests %}
            <div class="card">
                <h3 class="title">
                    <a href="{{ req.url }}">
                        {{ req }}
                    </a>
                    <div class="weightvote small">
                        {% set entity = req %}
                        {% include "includes/_weight.html" %}
                        {% set prefix, ident = 'tr', req.id %}
                        {% include "includes/_vote.html" %}
                    </div>
                </h3>
                by {{ req.authors }}<br>

                {% set vote = current_user.get_vote(req) %}

                {% set followings = current_user.followed_textrequests %}
                {% include "includes/_follow.html" %}

                {% set long = (len(req.wiki.current.body) >= 127) %}
                <div{% if long %} class="card_text_cutoff"{% endif %}>
                    {{ req.wiki.current.body[:127]|markdown }}
                </div>

                <a href="{{ req.url }}">View More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
