{% extends "base.html" %}

{% block content %}
    <h1>
        <div class="tag">{{ req.tag }}</div>
        {% if req.approved %}&#10003;{% elif req.rejected %}&#10007;{% endif %}
    </h1>

    <div class="toolbar">
        <div class="tools">
            <div id="r{{ req.id }}" class="weightvote">
                {% include "includes/_vote.js" %}
                {% set entity = req %}
                {% include "includes/_weight.html" %}
                {% set prefix, ident = 'r', req.id %}
                {% include "includes/_vote.html" %}
            </div>
        </div>
    </div>

    <div class="toolbar">
        <div class="tools">
            {% set followings, entity = current_user.followed_tagrequests, req %}
            {% include "includes/_follow.html" %}
            <a href="{{ url_for("main.edit_wiki", wiki_id=req.wiki.id, next=request.full_path) }}">edit</a>
            <a href="{{ url_for("main.wiki_edit_history", wiki_id=req.wiki.id) }}">edit history</a>
            {% if current_user.is_authorized("delete_tag_requests") or current_user == req.requester %}
                <a href="{{ url_for("admin.delete_tag_request", request_id=req.id) }}">delete</a>
            {% endif %}
        </div>
    </div>


    <div class="backlight-description">{{ req.wiki.current.body|markdown }}</div>

{% endblock %}
