{% extends "base.html" %}

{% block content %}

<h1><tag>{{ tag_request.tag }}</tag> {% if tag_request.approved %}&#10003;{%
    elif tag_request.rejected %}&#10007;{% endif %}</h1>

<br>
{% set entity = tag_request %}
{% include "includes/_weight.html" %}

{% set vote = current_user.get_vote(tag_request) %}
<a href="{{ url_for("requests.upvote_tag_request", request_id=tag_request.id,
    next=request.full_path) }}" class="{% if vote and vote.is_up %}voted{% else
    %}notvoted{% endif %}">up</a>
/ <a href="{{ url_for("requests.downvote_tag_request", request_id=tag_request.id,
    next=request.full_path) }}" class="{% if vote and not vote.is_up %}voted{%
    else %} notvoted{% endif %}">down</a>

| <a href="{{ url_for("user.follow_tag_request", request_id=tag_request.id,
    next=request.full_path) }}">{% if current_user.is_authenticated and
    tag_request in current_user.followed_tagrequests %}unfollow{% else
    %}follow{% endif %}</a>

| <a href="{{ url_for("main.edit_wiki", wiki_id=tag_request.wiki.id,
    next=request.full_path) }}">edit</a>
| <a href="{{ url_for("main.wiki_edit_history", wiki_id=tag_request.wiki.id)
    }}">edit history</a>

{% if current_user.is_authorized("delete_tag_requests") or current_user ==
    tag_request.requester %}
    | <a href="{{ url_for("admin.delete_tag_request", request_id=tag_request.id) }}">delete</a>
{% endif %}

<br>

<div id="description">{{ tag_request.wiki.current.body|markdown }}</div>

{% endblock %}
