{% extends "base.html" %}

{% block content %}
    {% set req = text_request %}
    <h1>
        {{ req }}
        {% if req.approved %}&#10003;{% elif req.rejected %}&#10007;{% endif %}
    </h1>
    <h2>by {{ req.authors }}</h2>
    <div class="toolbar">
        <div class="tools">
            <div class="weightvote">
                {% set entity = req %}
                {% include "includes/_weight.html" %}
                {% set prefix, ident = 'tr', req.id %}
                {% include "includes/_vote.html" %}
            </div>
        </div>
    </div>
    <div class="toolbar">
        <div class="tools">
            {% set followings = current_user.followed_textrequests %}
            {% include "includes/_follow.html" %}
            <a href="{{ url_for("main.edit_wiki", wiki_id=req.wiki.id, next=request.full_path) }}">edit</a>
            <a href="{{ url_for("main.wiki_edit_history", wiki_id=req.wiki.id) }}">edit history</a>
            {% if current_user.is_authorized("delete_text_requests") or current_user == req.requester %}
                <a href="{{ url_for("admin.delete_text_request", request_id=req.id) }}">delete</a>
            {% endif %}
        </div>
    </div>
    <div id="description">{{ req.wiki.current.body|proc_links|markdown }}</div>
{% endblock %}
