{% extends "base.html" %}

{% block content %}
    {% include "includes/_follow.js" %}
    {% include "includes/_sorts.html" %}
    {% include "/includes/js/_collapse_script.js" %}
    {% if title != 'Home' %}
        <h1>{{ title }}</h1>
    {% endif %}
    {% if annotations %}
        {% include "/includes/_vote.js" %}
        {% for annotation in annotations %}
            {% include "/includes/_annotation_standalone.html" %}
        {% endfor %}
    {% else %}
        <h3>There are no annotations here.</h3>
    {% endif %}
{% endblock %}
