{% extends 'base.html' %}

{% block content %}
    <h1>Search Results</h1>
    <h2>{{ line_total['value'] }} lines</h2>
    <div id="content">
        {% for line in lines %}
            <h3>
                Line
                <a href='{{ line.url }}#{{ line.line_num }}'>
                    {{ line.num }}
                </a>
                of
                <a href='{{ url_for('main.text', text_url=line.text.url) }}'>
                    {{ line.text.title }}
                </a>
                by
                {% set writers = line.edition.writers['author'] %}
                {% include "includes/_writers_list.html" %}
            </h3>
            <div class="text-content">
                <div class="backlight">
                    {% for l in line.context %}
                        <a href='{{ url_for('main.line_annotations', text_url=l.edition.text.url_name, edition_num=l.edition.num, nums=l.num) }}'>
                            <div class="line {{ l.primary.enum }}{% if l == line %} selection{% endif %}" id="{{ l.num }}">
                                <span class="line-num">{{ l.num }}</span>
                                <span class="text">{{ l.line|safe }}</span>
                                <span class="annotation-count">&times; {{ l.annotations.count() }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <br>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
