{% extends "base.html" %}

{% block content %}
{% if current_user.notifications.filter_by(seen=False).all() %}
    <a href="{{ url_for("mark_all_read") }}">mark all read</a>
{% endif %}
<table class="inbox">
    <tr class="header">
        {% if sort == "read" %}
            <td class="highlight">
                <a href="{{ sorts["read_invert"] }}">
                    &#9662;
                </a>
            </td>
        {% elif sort == "read_invert" %}
            <td class="highlight">
                <a href="{{ sorts["read"] }}">
                    &#9652;
                </a>
            </td>
        {% else %}
            <td>
                <a href="{{ sorts["read"] }}">
                    &nbsp;
                </a>
            </td>
        {% endif %}

        {% if sort == "time" %}
            <td class="highlight">
                <a href="{{ sorts["time_invert"] }}">
                    Time &#9662;
                </a>
            </td>
        {% elif sort == "time_invert" %}
            <td class="highlight">
                <a href="{{ sorts["time"] }}">
                    Time &#9652;
                </a>
            </td>
        {% else %}
            <td>
                <a href="{{ sorts["time"] }}">
                    Time
                </a>
            </td>
        {% endif %}

        {% if sort == "type" %}
            <td class="highlight">
                <a href="{{ sorts["type_invert"] }}">
                    Notification &#9662;
                </a>
            </td>
        {% elif sort == "information_invert" %}
            <td class="highlight">
                <a href="{{ sorts["type"] }}">
                    Notification &#9652;
                </a>
            </td>
        {% else %}
            <td>
                <a href="{{ sorts["type"] }}">
                    Notification
                </a>
            </td>
        {% endif %}

        {% if sort == "information" %}
            <td class="highlight">
                <a href="{{ sorts["information_invert"] }}">
                    More information &#9662;
                </a>
            </td>
        {% elif sort == "information_invert" %}
            <td class="highlight">
                <a href="{{ sorts["information"] }}">
                    More information &#9652;
                </a>
            </td>
        {% else %}
            <td>
                <a href="{{ sorts["information"] }}">
                    More information
                </a>
            </td>
        {% endif %}
    </tr>

    {% if not notifications %}
        <tr>
            <td colspan=5>
                You have no notifications yet.
            </td>
        </tr>
    {% endif %}

    {% for notification in notifications %}
        {% if notification.seen %}
            <tr class="read">
        {% else %}
            <tr class="unread">
        {% endif %}
                <td>
                    <a href="{{ url_for("mark_notification",
                        notification_id=notification.id) }}">
                        {% if notification.seen %}
                            &#10003;
                        {% else %}
                            &#10007;
                        {% endif %}
                    </a>
                </td>
                <td>
                    {{ notification.object.timestamp.strftime(vars["TIME"]) }}
                </td>
                <td>
                    {{ notification.object.type.public_code }}
                </td>
                <td>
                    {{ notification.object.description()|markdown|safe }}
                </td>
            </tr>
    {% endfor %}
</table>
{% endblock %}
