{% extends "base.html" %}

{% block content %}
    <div class="events">
        {% for change in changes %}
            <div class="event">
                <a href="{{ change.entity.entity.url }}">
                    <div class="type">
                        {{ change.enum.display }}
                    </div>
                    <div class="time">
                        {{ moment(change.timestamp).fromNow() }}
                    </div>
                    <div class="delta">
                        {{ change.delta }}pt{% if change.delta > 1 or change.delta < -1 %}s{% endif %}.
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
