{% extends "base.html" %}
{% set active_page="users" %}

{% block content %}

<h1>Users</h1>
{% include "includes/_sorts.html" %}

<div class="index">
    {% for user in users %}
        <div class="card">
            <h2>
                <a href="{{ user.url }}">{{ user.displayname }}</a>
                {{ user.readable_reputation }}
            </h2>
            <a href="{{ url_for("user.follow_user", user_id=user.id,
                next=request.full_path) }}">{% if
                current_user.is_authenticated and user in
            current_user.follow_users %}unfollow{% else %}follow{% endif
            %}</a>

            {% set long = (user.about_me and len(user.about_me) > 127) %}
            <div{% if long %} class="card_text_cutoff"{% endif %}>
                {% if user.about_me %}
                    <p>{{ user.about_me[:127] }}</p>
                {% else %}
                    <p>This user's biography is silent.</p>
                {% endif %}
            </div>

            <a href="{{ user.url }}">View More</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
