// Style the annotation blocks
.annotation {
    margin: 2em auto;
    max-width: $annotationwidth;

    background-color: $lightbghl;
    box-shadow: 0 16px 32px 0 $darkbghl;

    border-top: {
        // only the top should be rounded
        left-radius: $bevel;
        right-radius: $bevel;
    }

    &-head {
        display: flex;
        align-items: center;

        font-family: $display;
        padding: 0.5em;
        border-radius: $bevel;

        background-color: $darkbg;
        color: $base01;

        a { color: $base0; }

        .left, .collapse { width: fit-content; }
        .left {
            @media only screen and (max-width: $break3) { font-size: 2em; }
            .arrows { margin: 0; }
        }
        .center {
            @media only screen and (max-width: $break4) { margin-left: 1em; }
            .footnote, .line-nums, .title {
                @media only screen and (max-width: $break4) {
                    display: block;
                    font-size: 0.9em;
                }
            }
        }
        // this right aligns the right
        .right { margin-left: auto; }

        .footnote, .line-nums { font-family: $serifs; }
        .footnote {
            a {
                color: $yellow;
                padding: 0.25em;
            }
        }


        .weight, .collapse, .arrows { margin: 0 0.5em 0 0.5em; }
        .weight {
            border: 1px solid;
            padding: 0 0em 0.1em 0.2em;
            font-family: $serifs;
            width: max-content;
            &.up {
                color: $accent;
                border-color: $accent;
            }
            &.down {
                color: $red;
                border-color: $red;
            }
        }
        .arrows {
            display: inline-block;
            font-size: 0.85em;
			vertical-align: -30%;
            div {
                margin: -0.5em 0 -0.5em 0; // squish them together
                .up { color: $accent; }
                .down { color: $red; }
            }
        }
    }
    &-collapsible { padding: 1em; }
    &-body {
        .delta, .plus {
            color: $base2;
            p { padding: 0.15rem; }
        }
        .plus p { background-color: $green; }
        .delta p { background-color: $red; }
        .cutoff {
            p:last-of-type::after { content: "..." }
            a:last-of-type {
                display: block;
                margin: 1em;
            }
        }
    }
    .tags {
        margin: 0.5em;
        .tag { margin: 0.25em; }

    }
    &-footer {
        padding-bottom: 0.5em;
        .web {
            display: none;
            @media only screen and (min-width: $break5+1) { display: inline; }
        }
        .mobile {
            display: none;
            @media only screen and (max-width: $break5) { display: inline; }
        }
    }
}
