&-form {
    margin: 0 auto;
    text-align: center;
    font-family: $display;

    &-annotation {
        // the annotation form
        margin-top: 1em;
        max-width: 50em;
        textarea, input {
        }
        @import 'tagforms';
    }
    &-line-nums {
        display: flex;
        justify-content: space-around;
        input {
            width: auto;
            display: inline-block;
            text-align: center;
        }
    }
    input {
        font: {
            family: $display;
            size: 0.9em;
        }
    }
    textarea {
        font-family: $serifs;
        height: 15em;
    }
    textarea, input {
        width: 95%;
        @include formstyle;

        &#submit {
            max-width: 10em;
        }

        &[type=submit] {
            background-color: $lightbghl;
            color: $base00;
            cursor: pointer;
            font-size: 1em;
            max-width: 10em;
        }
    }
    &.validate {
        input { max-width: 40%; }
        input#remember_me { max-width: 1em; }
    }
}
