&-form {
    margin: 0 auto;
    text-align: center;
    font-family: $display;

    &-annotation {
        // the annotation form
        margin-top: 1rem;
        max-width: 50rem;
        @import 'tagforms';
    }
    &-line-nums {
        display: flex;
        justify-content: space-around;
        input {
            width: auto;
            display: inline-block;
            text-align: center;
        }
    }
    input {
        font: {
            family: $display;
            size: 1.15rem;
        }
    }
    input, textarea {
        font-size: 1.15rem;
        @include formstyle;
    }
    input[type=text], textarea { width: 95%; }
    textarea {
        font-family: $serifs;
        height: 15rem;
    }
    input[type=submit] {
        background-color: $lightbghl;
        color: $base00;
        cursor: pointer;
        font-size: 1.25rem;
    }
    &.validate input {
        &[type=text], &[type=password] {
            width: 35%;
            @media only screen and (max-width: $break3) { min-width: 20rem; }
        }
    }
}
