nav {
    padding: 0.5rem;

    background-color: $darkbg;
    min-height: 5vh;

    font-family: $serifs;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .right { a { margin: 0 0.5rem; } }

    @media only screen and (max-width: $tablet) {
        justify-content: space-between;
        .right { order: 2; }
        .center { order: 3; }
    }
    @media only screen and (max-width: $phablet) {
        justify-content: space-around;
    }

    .left, .right {
        transition: font-size 0.4s;
    }

    &.searching {
        .left, .right {
            visibility: collapse; font-size: 0;
        }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $darkbghl;
        border-radius: $bevel;
        padding: 0.25rem;
        transition: $shortdelay;
        border: 1px solid $darkbghl;
        &:hover { border: 1px solid $accent; }

        input {
            transition: visibility 0s, width 0.4s linear;
            &.hide { visibility: collapse; width: 0; }
            width: 20rem;
            transition: width $shortdelay;
            margin-left: 1rem;
            border: none;
            border-radius: $bevel;
            background-color: $darkbghl;
            color: $base00;
            outline: none;
            font: {
                family: $display;
                size: 1.25rem;
            }
            &:invalid { box-shadow: none; }
        }
        svg {
            cursor: pointer;
            fill: $base00;
            height: 2rem;
            width: 2rem;
            vertical-align: middle;
        }
    }

    .logo .footnote {
        color: $accent;
        border: 1px solid;
        padding: 0.1rem;
        padding-bottom: 0.2rem;
    }
    a {
        color: $base1;
        transition: color $middelay;
        margin: 0 0.15rem;
        &:hover { color: $accent; }
    }

    .active {
        border-radius: $bevel;
        color: $accent;
    }
    @media only screen and (max-width: $phablet) {
        #mainlinks, .right { display: none; }
    }
    #hamburger {
        display: none;
        @media only screen and (max-width: $phablet) {
            display: block;
        }
        vertical-align: middle;
        cursor: pointer;
        .bar {
            &1, &2, &3 {
                width: 35px;
                height: 5px;
                background-color: $base00;
                margin: 6px 0;
                transition: $shortdelay;
            }
        }
        &.change {
            .bar {
                &1, &2, &3 { background-color: $accent; }
                &1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                }
                &2 { opacity: 0; }
                &3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }
        }
    }
}
