// Styling the read page (also any time text appears)
.text-content, #text-content {
    margin: 0 auto;
    max-width: 40em;
    ::selection { background-color: $base2; color: $yellow; }
    ::-moz-selection { background-color: $base2; color: $yellow; }

    .backlight {
        background-color: $lightbghl;
        padding: 1em;
        margin: 2em auto;
        box-shadow: 0.15em 0.15em 10px 10px $base1;
        .selection, .plus, .delta {
            .line-num { visibility: visible; }
            .text { padding: 0 0.2em 0 0.1em; }
        }
        .selection .text {
            background-color: $base2-1;
        }
        .delta {
            .text {
                background-color: $red;
                color: $base2;
            }
            .line-num { color: $red; }
        }
        .plus {
            .text {
                background-color: $green;
                color: $base2;
            }
            .line-num { color: $green; }
        }

        .line-num { visibility: hidden; }

        .expander {
            margin: 0.15em;
            text-align: center;
            font-family: $sans;
            font-size: 1.5em;
            color: $blue;
            $trianglewidth: 0.5em;
            .uparr {
                border-left: $trianglewidth solid transparent;
                border-right: $trianglewidth solid transparent;
                border-bottom: 1em solid $blue;
                &:hover { border-bottom: 1em solid $accent; }
            }
            .downarr {
                border-left: $trianglewidth solid transparent;
                border-right: $trianglewidth solid transparent;
                border-top: 1em solid $blue;
                &:hover { border-top: 1em solid $accent; }
            }
            .uparr, .downarr {
                margin: 0 auto;
                width: 0;
                height: 0;
                cursor: pointer;
                overflow: hidden;
                &:hover { color: $accent; }
            }
            hr {
                &:after { content: none; }
                margin: 0 auto;
                max-width: 4em;
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
        }
    }
    .annotation {
        right: 2em;
        left: 2em;
        position: absolute;
        z-index: 100;
        width: inherit;
        a.collapse {
            font-family: $sans;
            font-weight: bold;
            font-size: 1.5em;
            &:hover, &:focus {
                color: $base01;
            }
        }
    }
    .break {
        display: none;
        height: 1em;
        @media only screen and (max-width: $break3-1) { display: block; }
    }
    .line {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        .line-num {
            @media only screen and (max-width: $break3-1) { display: none; }
            &.hidden { visibility: hidden; }

            font-size: 0.75em;
            min-width: 3em;
            margin-right: 1em;
            text-align: right;

            -webkit-touch-callout: none; // iOS Safari
            -webkit-user-select: none; // Safari
            -khtml-user-select: none; // Konqueror HTML
            -moz-user-select: none; // Firefox
            -ms-user-select: none; // Internet Explorer/Edge
            user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
        }

        &-annotations { a { color: $yellow; } }

        &.fl { margin-top: 1em; }
        &.fl, &.l { @media only screen and (max-width: $break3-1) { display: inline; } }

        &.ind {
            &1 .text { text-indent: 1rem; }
            &2 .text { text-indent: 2rem; }
        }

        &.lvl {
            display: block !important;
            &1, &2, &3, &4, &5 {
                margin-top: 1em;
                span.line-num { visibility: hidden; }
                span.text {
                    font-family: $display;
                    margin-left: 1rem;
                }
            }
            &5 span.text { font-size: 1.0em; }
            &4 span.text { font-size: 1.1em; }
            &3 span.text { font-size: 1.2em; }
            &2 span.text { font-size: 1.3em; }
            &1 span.text { font-size: 2.0em; }
        }
    }
}
