// The styling for the table of contents (toc)
.toc {
    max-width: 50rem;
    margin: 0 auto;
    border-top: 3px solid $base00;
    padding: 1rem;
    font-family: $display;
    .lvl {
        &1 { font-size: 1.5rem; }
        &2 {
            font-size: 1.3rem;
            margin-left: 1rem;
        }
        &3 {
            font-size: 1.1rem;
            margin-left: 2rem;
        }
        &4 {
            font-size: 0.9rem;
            margin-left: 3rem;
        }
    }
    .inner {
        transition: $shortdelay;
        &:hover { background-color: $lightbghl; }
        padding: 0.25rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
}
