// font families
$serifs: "EB Garamond", "Georgia", serif;
$display: "Playfair Display", "Georgia", serif;

// constants
$bevel: 20px;

// time delays
$shortdelay: 0.3s;
$middelay: 0.5s;
$longdelay: 0.7s;


// Solarized Colorscheme
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75; // optional emphasized content
$base00:    #657b83; // body text / default code / primary content
$base0:     #839496;
$base1:     #93a1a1; // comments / secondary content
$base2:     #eee8d5; // background highlights
$base3:     #fdf6e3; // background

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;

$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;

$cyan:      #2aa198;
$green:     #859900;

// keywords
$accent:    $yellow;
$darkbg:    $base03;
$darkbghl:  $base02;
$lightbg:   $base3;
$lightbghl: $base2;

// breaks and disappear classes
$break1:   1120px;
$break2:    940px;
$break3:    880px;
$break4:    750px;
$break5:    500px;
$break6:    470px;
$break7:    450px;
$break8:    440px;
$break9:    350px;

$bodywidth: 60em;
$annotationwidth: 50em;

.disappear {
    &-1 { @media only screen and (max-width: $break2) { display: none; } }
    &-2 { @media only screen and (max-width: $break3) { display: none; } }
    &-3 { @media only screen and (max-width: $break4) { display: none; } }
    &-4 { @media only screen and (max-width: $break5) { display: none; } }
    &-5 { @media only screen and (max-width: $break7) { display: none; } }
}
.appear {
    &-1 { @media only screen and (min-width: $break2+1) { display: none; } }
    &-2 { @media only screen and (min-width: $break3+1) { display: none; } }
    &-3 { @media only screen and (min-width: $break4+1) { display: none; } }
    &-4 { @media only screen and (min-width: $break5+1) { display: none; } }
    &-5 { @media only screen and (min-width: $break7+1) { display: none; } }
}

body {
    margin: 0 auto;
    max-width: $bodywidth;
    line-height: 1.5;
    padding: 1em;
    color: $base00;
    font: {
        family: $serifs;
        size: 1.15em;
    }
}

// This exists solely to make everything set against a $base03 background
.body {
    background-color: $lightbg;
    border-radius: $bevel; // To prevent the corners sticking up past the navbar
}

h1, h2, h3, h4, h5, h6 {
    color: $base01;
    margin-top: 0;
    font: {
        family: $display;
        weight: normal; // The font difference is sufficient, no bold=less font
    }
}

strong { color: $base01; }

a {
    color: $base1;
    text-decoration: none;
    transition: $shortdelay;
    &:hover { color: $accent; }
}

nav {
    padding: 0.1em 0.5em 0.1em 0.5em;
    background-color: $darkbg;
    border-radius: $bevel;
    text-align: center;
    font-family: $serifs;
    .logo {
        .footnote {
            color: $accent;
            border: 1px solid;
            padding: 0 0.1em 0.1em 0.1em;
        }
    }
    & img {
        display: inline-block;
        vertical-align: middle;
        width: 1.5em;
        height: 1.5em;
    }
    // The divs within the nav bar should display inline greater than 1020px,
    // then drop to block in a 3 tiered display, then go back to inline when we
    // switch to using a hamburger
    .left, .center, .right {
        display: inline-block;
        margin: 0.5em;
        @media only screen and (max-width: $break1) { display: block; }
        @media only screen and (max-width: $break6) { display: inline-block; }
    }
    &.web {
        @media only screen and (max-width: $break6) { display: none }

        & * { padding: 0.1em 0.25em 0.1em 0.25em; }
        .active {
            border-radius: $bevel;
            background-color: $darkbghl;
            color: $accent;
            border-bottom: 1px solid $accent;
            padding: 0.5em;
        }
        a {
            color: $base1;
            transition: $middelay;
            &:hover { color: $accent; }
        }
    }

    &.mobile {
        // only display under 471
        @media only screen and (min-width: $break6+1) { display: none }
        .hamburger {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            .bar {
                &1, &2, &3 {
                    width: 35px;
                    height: 5px;
                    background-color: $base00;
                    margin: 6px 0;
                    transition: $shortdelay;
                }
            }
        }
        .change {
            .bar {
                &1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                    background-color: $accent;
                }
                &2 { opacity: 0; }
                &3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                    background-color: $accent;
                }
            }
        }
    }
}

.dark .dropdown-content {
    background-color: $darkbg;
    a:hover {
        background-color: $darkbghl;
        box-shadow: 0 0 2px 4px $darkbghl;
    }
}

.search {
    text-align: center;
    input {
        width: 20em;
        background-color: $darkbghl;
        color: $base01;
        @media only screen and (max-width: $break8) { width: 15em; }
        @media only screen and (max-width: $break9) { width: 13em; }
        border: {
            color: $accent;
            radius: $bevel;
        }
        font: {
            family: $display;
            size: 1em;
        }
    }
}

#container {
    position: relative;
    padding: 1em;
    #mainmenu {
        padding: 1em 0 1em 0;

        position: absolute;
        z-index: 5;

        top: 0;
        left: 0;
        right: 0;

        background-color: $darkbghl;
        opacity: 0;
        border-radius: $bevel;
        visibility: hidden;
        transition: $shortdelay;
        input {
            margin: 1em 0 1em 0;
            background-color: $darkbg;
            padding: 0.1em;
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }

        a {
            display: block;
            margin: 0 auto;
            transition: $middelay;
            border-radius: $bevel;
            width: 75%;
            color: $base00;
            font: {
                family: $display;
                size: 2em;
            }
            text: {
                align: center;
                decoration: none;
            }
            &:hover {
                color: $accent;
            }
        }
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, $darkbghl, $accent, $darkbghl)
        }
    }
}

#footer {
    padding: 1em;
    background-color: $lightbghl;
}


// style The Dropdown Button
.dropdown {
    position: relative;
    display: inline-block;
    font-family: $serifs;

    .dropbtn {
        cursor: pointer;
        font-family: $serifs;
    }
    &-content {
        position: absolute;
        z-index: 1;
        left: -30%;

        border-radius: $bevel;
        box-shadow: 0px 8px 16px 0px $darkbg;

        opacity: 0;
        visibility: hidden;
        background-color: $lightbghl;
        transition: $shortdelay;
        a {
            border-radius: $bevel;
            padding: 0 0.5em 0 0.5em;
            color: $base01;
            text-decoration: none;
            display: block;
            transition: $middelay;
            &:hover {
                color: $accent;
                background-color: $lightbg;
            }
        }
    }
    &:hover &-content {
        visibility: visible;
        opacity: 1;
    }
}

// Style the sorts blob at the top
.sorts {
    margin: 0.5em;
    margin-bottom: 1em;
    a {
        margin: 0.25em;
        padding: 0.1em 0.5em 0.1em 0.5em;
        &.active, &:hover {
            background-color: $lightbghl;
            border-radius: $bevel;
        }
    }
}

// Style the annotation blocks
.annotation {
    display: block;
    background-color: $lightbghl;
    margin: 2em auto;
    max-width: $annotationwidth;
    box-shadow: 0 16px 32px 0 $darkbghl;
    border-top: {
        left-radius: $bevel;
        right-radius: $bevel;
    }
    &-head {
        padding: 0.5em;
        border-radius: $bevel;
        background-color: $darkbg;
        color: $base01;
        overflow: auto;
        /* ^ Absolutely imperative for overflowing when rendering to the right
         * and left */
        a {
            color: $base0;
            &:hover { color: $yellow; }
        }

        .footnote {
            a {
                color: $yellow;
                padding: 0.25em;
            }
        }

        .left {
            display: inline-block;
            font-size: 2em;
            margin: 0;
            vertical-align: middle;
            .arrows {
                margin: 0;
            }
            @media only screen and (min-width: $break5+1) { display: none; }
            display: inline-block;

        }
        .center {
            display: inline-block;

            @media only screen and (max-width: $break5) {
                vertical-align: middle;
                margin: 0 auto;
            }
            .footnote, .title {
                @media only screen and (max-width: $break5) {
                    display: block;
                }
            }
            .collapse {
                margin: 0;
                @media only screen and (min-width: $break5+1) { display: none; }
            }
        }

        .right {
            float: right;
            text-align: right;
        }

        .weight, .collapse, .arrows {
            margin: 0 0.5em 0 0.5em;
        }
        .weight {
            border: 1px solid;
            padding: 0 0em 0.1em 0.2em;
            &.up {
                color: $accent;
                border-color: $accent;
            }
            &.down {
                color: $red;
                border-color: $red;
            }
        }
        .arrows {
            display: inline-block;
            font-size: 0.85em;
			vertical-align: text-top;
            div {
                margin: -0.5em 0 -0.5em 0; // squish them together
                .up {
                    color: $accent;
                }
                .down {
                    color: $red;
                }
            }
        }
    }
    &-collapsible {
        padding: 0.5em;
    }
    &-body {
        .cutoff {
            p:last-of-type::after {
                content: "..."
            }
            a:last-of-type {
                display: block;
                margin: 1em;
            }
        }
    }
    .tags {
        margin: 0.5em;
        .tag {
            margin: 0.25em;
        }

    }
    &-footer {
        padding-bottom: 0.5em;
        .web {
            display: none;
            @media only screen and (min-width: $break5+1) { display: inline; }
        }
        .mobile {
            display: none;
            @media only screen and (max-width: $break5) { display: inline; }
        }
    }
}

// styling for tags
.tag {
    display: inline-block;
    background-color: $darkbg;
    border-radius: $bevel;
    transition: $longdelay;
    padding: 0.25em 1em 0.25em 1em;
    font: {
        family: $display;
        size: 0.85em;
    }
    &:hover {
        background-color: $lightbg;
        box-shadow: 0 0 4px 8px $lightbghl inset;
    }
    &.heading {
        cursor: pointer;
        border-radius: $bevel+10px;
        font-size: 1.25em;
        margin: 1em;
    }
}

// styling for toolbars on view pages
.toolbar {
    display: flex;
    .tools {
        background-color: $darkbg;
        border-radius: $bevel+10px;
        margin: 0 auto;
        a {
            font-family: $display;
            padding: 0.5em;
            &.dropbtn { font-family: $display; }
        }
        padding: 0.25em;
    }
}

// styling for card indexes
.index {
    display: flex;
    flex-wrap: wrap;
    .card {
        position: relative;
        margin: 0.5em;
        padding: 0.25em;
        border: 2px dashed $lightbghl;

        height: 15em;
        width: 17em;
        @media only screen and (max-width: $break1) { width: 16em; }
        @media only screen and (max-width: $break8) { height: 17em; width: 15em; }
        @media only screen and (max-width: $break9) { height: 20em; }

        h3.title { margin: 0; }
        .tag {
            margin: 0.25em auto;
            font-size: 1.01em;
        }

        &-cutoff { p:last-of-type::after { content: "..." } }
        .viewmore {
            position: absolute;
            left: 0;
            margin: 0.5em;
            bottom: 0;
            width: 100%;
        }
    }
}

// styling for flash messages
ul.flash {
    padding: 0 0.5em 0 0.5em;
    li {
        background-color: $darkbg;
        border-radius: $bevel+10px;
        border: 1px solid $darkbg;
        list-style-type: none;
        padding: 1em;
        margin: 0.5em auto;
        color: $base1;
        box-shadow: 0 8px 8px 0px $darkbghl;
        font: {
            family: $display;
            size: 1.15em;
        }

    }
}

// styling for user page
.usercard {
    .avatar {
        text-align: center;
        background-color: $lightbghl;
    }
    td {
        padding: 1em;
        h1.username {
            margin: 0;
        }
        h1, h2, h3, h4, h5 {
            margin: 0;
            display: inline-block;
        }
        h5.label {
            vertical-align: middle;
        }
    }
}

.toc {
    margin: 0 auto;
    font-family: $display;
    width: 75%;
    td, th { padding: 1em; }
    .lvl {
        &2, &3, &4, &5 { display: none; }
        &2 {
            font-size: 0.90em;
            text-indent: 0.5em;
        }
    }
}
.collapse {
    font-family: $display;
    cursor: pointer;
}
