body {
  margin: 0 auto;
  max-width: 60em;
  line-height: 1.5;
  padding: 1em 1em 1em 1em;
  color: #657b83;
  font-family: "EB Garamond", "Cormorant Garmond", "Georgia", serif;
  font-size: 1.15em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Georgia", serif;
  color: #586e75; }

strong {
  color: #586e75; }

a {
  color: #b58900; }

nav {
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #002b36;
  border-radius: 6px;
  text-align: center;
  font-family: "Playfair Display", "Georgia", serif;
  /* The divs within the nav bar should display inline greater than 1020px,
   * then drop to block in a 3 tiered display, then go back to inline when we
   * switch to using a hamburger */ }
  nav .logo {
    color: #b58900; }
  nav a {
    text-decoration: none; }
  nav img {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0; }
  nav .left, nav .center, nav .right {
    display: inline-block;
    margin: 0.5em; }
    @media only screen and (max-width: 1020px) {
      nav .left, nav .center, nav .right {
        display: block; } }
    @media only screen and (max-width: 471px) {
      nav .left, nav .center, nav .right {
        display: inline-block; } }
  nav .search {
    display: inline-block; }
    nav .search input {
      width: 20em;
      background-color: #073642;
      border-color: #586e75;
      border-radius: 5px;
      color: #586e75;
      font-family: "Playfair Display", "Georgia", serif;
      font-size: 1em; }
      @media only screen and (max-width: 1110px) {
        nav .search input {
          width: 15em; } }
      @media only screen and (max-width: 1020px) {
        nav .search input {
          width: 25em; } }
      @media only screen and (max-width: 550px) {
        nav .search input {
          width: 20em; } }
      @media only screen and (max-width: 455px) {
        nav .search input {
          width: 15em; } }
  @media only screen and (max-width: 470px) {
    nav.web {
      display: none; } }
  nav.web * {
    padding: 0.1em 0.25em 0.1em 0.25em; }
  nav.web .active {
    border-radius: 3px;
    background-color: #073642;
    color: #b58900;
    padding: 0.5em; }
  nav.web a {
    color: #93a1a1; }
    nav.web a:hover {
      border-bottom: 1px solid #b58900; }
  @media only screen and (min-width: 471px) {
    nav.mobile {
      display: none; } }
  nav.mobile .hamburger {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
  nav.mobile .bar1, nav.mobile .bar2, nav.mobile .bar3 {
    width: 35px;
    height: 5px;
    background-color: #657b83;
    margin: 6px 0;
    transition: 0.4s; }
  nav.mobile .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #b58900; }
  nav.mobile .change .bar2 {
    opacity: 0; }
  nav.mobile .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #b58900; }

.mainmenu {
  position: absolute;
  margin: 0 auto;
  left: 0;
  z-index: 2;
  background-color: #073642;
  display: none;
  border-radius: 10px; }

.show.mainmenu {
  display: block;
  width: 100%;
  height: 100%; }

#container {
  background-color: #fdf6e3;
  padding: 1em; }

#footer {
  padding: 1em;
  background-color: #eee8d5; }

/****************************
* Style The Dropdown Button *
*****************************/
.dropbtn {
  border: none;
  cursor: pointer;
  font-family: "EB Garamond", "Cormorant Garmond", "Georgia", serif; }

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Playfair Display", "Georgia", serif; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee8d5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .dropdown-content a {
      padding: 0 0.5em 0 0.5em;
      color: #b58900;
      text-decoration: none;
      display: block; }
      .dropdown-content a:hover {
        background-color: #e7e1ce; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown:hover .dropbtn {
    background-color: #e7e1ce; }

/*# sourceMappingURL=style.css.map */
