.annotation {
  margin: 2em auto;
  max-width: 50em;
  background-color: #eee8d5;
  box-shadow: 0 16px 32px 0 #073642;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }
  .annotation-head {
    display: flex;
    align-items: center;
    font-family: "Playfair Display", "Georgia", serif;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #002b36;
    color: #586e75; }
    .annotation-head a {
      color: #839496; }
    .annotation-head .left, .annotation-head .collapse {
      width: fit-content; }
    @media only screen and (max-width: 880px) {
      .annotation-head .left {
        font-size: 2em; } }
    .annotation-head .left .arrows {
      margin: 0; }
    @media only screen and (max-width: 750px) {
      .annotation-head .center {
        margin-left: 1em; } }
    @media only screen and (max-width: 750px) {
      .annotation-head .center .footnote, .annotation-head .center .line-nums, .annotation-head .center .title {
        display: block;
        font-size: 0.9em; } }
    .annotation-head .right {
      margin-left: auto; }
    .annotation-head .footnote, .annotation-head .line-nums {
      font-family: "EB Garamond", "Georgia", serif; }
    .annotation-head .footnote a {
      color: #b58900;
      padding: 0.25em; }
    .annotation-head .weight, .annotation-head .collapse, .annotation-head .arrows {
      margin: 0 0.5em 0 0.5em; }
    .annotation-head .weight {
      border: 1px solid;
      padding: 0 0em 0.1em 0.2em;
      font-family: "EB Garamond", "Georgia", serif;
      width: max-content; }
      .annotation-head .weight.up {
        color: #b58900;
        border-color: #b58900; }
      .annotation-head .weight.down {
        color: #dc322f;
        border-color: #dc322f; }
    .annotation-head .arrows {
      display: inline-block;
      font-size: 0.85em;
      vertical-align: -30%; }
      .annotation-head .arrows div {
        margin: -0.5em 0 -0.5em 0; }
        .annotation-head .arrows div .up {
          color: #b58900; }
        .annotation-head .arrows div .down {
          color: #dc322f; }
  .annotation-collapsible {
    padding: 1em; }
  .annotation-body .delta, .annotation-body .plus {
    color: #eee8d5; }
    .annotation-body .delta p, .annotation-body .plus p {
      padding: 0.15rem; }
  .annotation-body .plus p {
    background-color: #859900; }
  .annotation-body .delta p {
    background-color: #dc322f; }
  .annotation-body .cutoff p:last-of-type::after {
    content: "..."; }
  .annotation .tags {
    margin: 0.5em; }
    .annotation .tags .tag {
      margin: 0.25em; }
  .annotation-footer {
    padding-bottom: 0.5em; }
    .annotation-footer .web {
      display: none; }
      @media only screen and (min-width: 501px) {
        .annotation-footer .web {
          display: inline; } }
    .annotation-footer .mobile {
      display: none; }
      @media only screen and (max-width: 500px) {
        .annotation-footer .mobile {
          display: inline; } }

.tag {
  display: inline-block;
  background-color: #ddd7c4;
  border-radius: 20px;
  transition: 0.5s;
  padding: 0.25em 1em 0.25em 1em;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 0.85em; }
  .tag:hover {
    background-color: #073642; }
  .tag.heading {
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.25em;
    margin: 1em; }
  .tag.plus, .tag.delta {
    color: #eee8d5; }
  .tag.plus {
    background-color: #859900; }
  .tag.delta {
    background-color: #dc322f; }

.toc {
  max-width: 50rem;
  margin: 0 auto;
  border-top: 3px solid #657b83;
  padding: 1rem;
  font-family: "Playfair Display", "Georgia", serif; }
  .toc .lvl1 {
    font-size: 1.5rem; }
  .toc .lvl2 {
    font-size: 1.3rem;
    margin-left: 1rem; }
  .toc .lvl3 {
    font-size: 1.1rem;
    margin-left: 2rem; }
  .toc .lvl4 {
    font-size: 0.9rem;
    margin-left: 3rem; }
  .toc .inner {
    transition: 0.3s;
    padding: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between; }
    .toc .inner:hover {
      background-color: #eee8d5; }
    .toc .inner .section {
      margin-right: 0.25rem;
      min-width: max-content; }

nav {
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #002b36;
  border-radius: 20px;
  text-align: center;
  font-family: "EB Garamond", "Georgia", serif; }
  nav .logo .footnote {
    color: #b58900;
    border: 1px solid;
    padding: 0 0.1em 0.1em 0.1em; }
  nav img {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em; }
  nav .left, nav .center, nav .right {
    display: inline-block;
    margin: 0.5em; }
    @media only screen and (max-width: 1120px) {
      nav .left, nav .center, nav .right {
        display: block; } }
    @media only screen and (max-width: 470px) {
      nav .left, nav .center, nav .right {
        display: inline-block; } }
  @media only screen and (max-width: 470px) {
    nav.web {
      display: none; } }
  nav.web * {
    padding: 0.1em 0.25em 0.1em 0.25em; }
  nav.web .active {
    border-radius: 20px;
    background-color: #073642;
    color: #b58900; }
  nav.web a {
    color: #93a1a1;
    transition: 0.5s; }
    nav.web a:hover {
      color: #b58900; }
  nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1; }
    @media only screen and (min-width: 471px) {
      nav.mobile {
        display: none; } }
    nav.mobile .hamburger {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
      nav.mobile .hamburger .bar1, nav.mobile .hamburger .bar2, nav.mobile .hamburger .bar3 {
        width: 35px;
        height: 5px;
        background-color: #657b83;
        margin: 6px 0;
        transition: 0.3s; }
    nav.mobile .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
      background-color: #b58900; }
    nav.mobile .change .bar2 {
      opacity: 0; }
    nav.mobile .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
      background-color: #b58900; }

.search {
  text-align: center;
  border-radius: 20px; }
  .search input {
    width: 20rem;
    padding: 0.5rem;
    background-color: #073642;
    color: #586e75;
    border-width: auto;
    border-style: auto;
    border-color: #b58900;
    border-radius: 20px;
    font-family: "Playfair Display", "Georgia", serif;
    font-size: 1em; }
    @media only screen and (max-width: 440px) {
      .search input {
        width: 15em; } }
    @media only screen and (max-width: 350px) {
      .search input {
        width: 13em; } }

.text-content, #text-content {
  margin: 0 auto;
  max-width: 40em;
  /* Line general */ }
  .text-content ::selection, #text-content ::selection {
    background-color: #eee8d5;
    color: #b58900; }
  .text-content ::-moz-selection, #text-content ::-moz-selection {
    background-color: #eee8d5;
    color: #b58900; }
  .text-content .backlight, #text-content .backlight {
    background-color: #eee8d5;
    padding: 1rem;
    margin: 2rem auto;
    box-shadow: 0.15rem 0.15rem 10px 10px #93a1a1; }
    .text-content .backlight .selection .line-num, .text-content .backlight .plus .line-num, .text-content .backlight .delta .line-num, #text-content .backlight .selection .line-num, #text-content .backlight .plus .line-num, #text-content .backlight .delta .line-num {
      visibility: visible; }
    .text-content .backlight .selection .text, .text-content .backlight .plus .text, .text-content .backlight .delta .text, #text-content .backlight .selection .text, #text-content .backlight .plus .text, #text-content .backlight .delta .text {
      padding: 0 0.2rem 0 0.1rem; }
    .text-content .backlight .selection .text, #text-content .backlight .selection .text {
      background-color: #ddd7c4; }
    .text-content .backlight .delta .text, #text-content .backlight .delta .text {
      background-color: #dc322f;
      color: #eee8d5; }
    .text-content .backlight .delta .line-num, #text-content .backlight .delta .line-num {
      color: #dc322f; }
    .text-content .backlight .plus .text, #text-content .backlight .plus .text {
      background-color: #859900;
      color: #eee8d5; }
    .text-content .backlight .plus .line-num, #text-content .backlight .plus .line-num {
      color: #859900; }
    .text-content .backlight .line-num, #text-content .backlight .line-num {
      visibility: hidden; }
    .text-content .backlight .expander, #text-content .backlight .expander {
      margin: 0.15rem;
      text-align: center;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 1.5rem;
      color: #268bd2; }
      .text-content .backlight .expander .uparr, #text-content .backlight .expander .uparr {
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 2rem solid #268bd2; }
        .text-content .backlight .expander .uparr:hover, #text-content .backlight .expander .uparr:hover {
          border-bottom: 2rem solid #b58900; }
      .text-content .backlight .expander .downarr, #text-content .backlight .expander .downarr {
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 2rem solid #268bd2; }
        .text-content .backlight .expander .downarr:hover, #text-content .backlight .expander .downarr:hover {
          border-top: 2rem solid #b58900; }
      .text-content .backlight .expander .uparr, .text-content .backlight .expander .downarr, #text-content .backlight .expander .uparr, #text-content .backlight .expander .downarr {
        margin: 0 auto;
        width: 0;
        height: 0;
        cursor: pointer;
        overflow: hidden; }
        .text-content .backlight .expander .uparr:hover, .text-content .backlight .expander .downarr:hover, #text-content .backlight .expander .uparr:hover, #text-content .backlight .expander .downarr:hover {
          color: #b58900; }
      .text-content .backlight .expander hr, #text-content .backlight .expander hr {
        margin: 0 auto;
        max-width: 40rem;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
        .text-content .backlight .expander hr:after, #text-content .backlight .expander hr:after {
          content: none; }
  .text-content .annotation, #text-content .annotation {
    right: 2rem;
    left: 2rem;
    position: absolute;
    z-index: 100;
    width: inherit; }
    .text-content .annotation a.collapse, #text-content .annotation a.collapse {
      font-family: "Helvetica", "Arial", sans-serif;
      font-weight: bold;
      font-size: 1.5rem; }
      .text-content .annotation a.collapse:hover, .text-content .annotation a.collapse:focus, #text-content .annotation a.collapse:hover, #text-content .annotation a.collapse:focus {
        color: #586e75; }
  @media only screen and (max-width: 800px) {
    .text-content.concat .line.fl, .text-content.concat .line.l, #text-content.concat .line.fl, #text-content.concat .line.l {
      display: inline; } }
  @media only screen and (max-width: 800px) {
    .text-content.concat .line-num, #text-content.concat .line-num {
      display: none; } }
  .text-content.noconcat .line-num, #text-content.noconcat .line-num {
    display: none; }
  .text-content.noconcat .fl, .text-content.noconcat .l, #text-content.noconcat .fl, #text-content.noconcat .l {
    text-indent: -2rem;
    padding-left: 2rem; }
  .text-content .lvl, #text-content .lvl {
    display: block !important; }
    .text-content .lvl1, .text-content .lvl2, .text-content .lvl3, .text-content .lvl4, .text-content .lvl5, #text-content .lvl1, #text-content .lvl2, #text-content .lvl3, #text-content .lvl4, #text-content .lvl5 {
      margin-top: 1em; }
      .text-content .lvl1 span.line-num, .text-content .lvl2 span.line-num, .text-content .lvl3 span.line-num, .text-content .lvl4 span.line-num, .text-content .lvl5 span.line-num, #text-content .lvl1 span.line-num, #text-content .lvl2 span.line-num, #text-content .lvl3 span.line-num, #text-content .lvl4 span.line-num, #text-content .lvl5 span.line-num {
        visibility: hidden; }
      .text-content .lvl1 span.text, .text-content .lvl2 span.text, .text-content .lvl3 span.text, .text-content .lvl4 span.text, .text-content .lvl5 span.text, #text-content .lvl1 span.text, #text-content .lvl2 span.text, #text-content .lvl3 span.text, #text-content .lvl4 span.text, #text-content .lvl5 span.text {
        font-family: "Playfair Display", "Georgia", serif;
        margin-left: 1rem; }
    .text-content .lvl5 span.text, #text-content .lvl5 span.text {
      font-size: 1.0em; }
    .text-content .lvl4 span.text, #text-content .lvl4 span.text {
      font-size: 1.1em; }
    .text-content .lvl3 span.text, #text-content .lvl3 span.text {
      font-size: 1.2em; }
    .text-content .lvl2 span.text, #text-content .lvl2 span.text {
      font-size: 1.3em; }
    .text-content .lvl1 span.text, #text-content .lvl1 span.text {
      font-size: 2.0em; }
  .text-content .char, #text-content .char {
    font-family: "Playfair Display", "Georgia", serif; }
  .text-content .fl, .text-content .char, #text-content .fl, #text-content .char {
    margin-top: 1rem; }
    .text-content .fl::before, .text-content .char::before, #text-content .fl::before, #text-content .char::before {
      content: ' ';
      display: block;
      margin-top: 1rem; }
  .text-content .char + .fl, #text-content .char + .fl {
    margin-top: 0; }
  .text-content .ind1 .text, #text-content .ind1 .text {
    text-indent: 1rem; }
  .text-content .ind2 .text, #text-content .ind2 .text {
    text-indent: 2rem; }
  .text-content .ind3 .text, #text-content .ind3 .text {
    text-indent: 3rem; }
  .text-content .ind4 .text, #text-content .ind4 .text {
    text-indent: 4rem; }
  .text-content .quo .text, #text-content .quo .text {
    text-indent: 1rem;
    font-style: italic;
    font-size: 1.30rem; }
  .text-content .verse, #text-content .verse {
    margin-top: 1rem; }
  .text-content .line, #text-content .line {
    display: flex;
    align-items: baseline;
    justify-content: flex-start; }
    .text-content .line .line-num, #text-content .line .line-num {
      font-size: 0.75rem;
      min-width: 1rem;
      margin-right: 1rem;
      text-align: right;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .text-content .line .line-num.hidden, #text-content .line .line-num.hidden {
        visibility: hidden; }
      @media only screen and (max-width: 800px) {
        .text-content .line .line-num, #text-content .line .line-num {
          min-width: 1em; } }
    .text-content .line-annotations a, #text-content .line-annotations a {
      color: #b58900; }

@media only screen and (max-width: 940px) {
  .disappear-1 {
    display: none; } }
@media only screen and (max-width: 880px) {
  .disappear-2 {
    display: none; } }
@media only screen and (max-width: 750px) {
  .disappear-3 {
    display: none; } }
@media only screen and (max-width: 500px) {
  .disappear-4 {
    display: none; } }
@media only screen and (max-width: 450px) {
  .disappear-5 {
    display: none; } }

@media only screen and (min-width: 941px) {
  .appear-1 {
    display: none; } }
@media only screen and (min-width: 881px) {
  .appear-2 {
    display: none; } }
@media only screen and (min-width: 751px) {
  .appear-3 {
    display: none; } }
@media only screen and (min-width: 501px) {
  .appear-4 {
    display: none; } }
@media only screen and (min-width: 451px) {
  .appear-5 {
    display: none; } }

body {
  margin: 0 auto;
  max-width: 60em;
  line-height: 1.5;
  padding: 1em;
  color: #657b83;
  font-family: "EB Garamond", "Georgia", serif;
  font-size: 1.15em; }
  @media only screen and (max-width: 471px) {
    body {
      padding: 3.25em 0 0 0; } }

.body {
  background-color: #fdf6e3;
  border-radius: 20px; }
  .body-form {
    margin: 0 auto;
    text-align: center;
    font-family: "Playfair Display", "Georgia", serif; }
    .body-form-annotation {
      margin-top: 1rem;
      max-width: 50rem; }
      .body-form-annotation .tags {
        margin: 0 auto;
        width: 96.5%; }
        .body-form-annotation .tags #master_div {
          background: white;
          display: flex;
          align-items: center;
          overflow: hidden;
          transition: 0.3s;
          border: 1px solid #b58900;
          border-radius: 3px; }
          @media only screen and (max-width: 750px) {
            .body-form-annotation .tags #master_div {
              flex-wrap: wrap; } }
          .body-form-annotation .tags #master_div:hover, .body-form-annotation .tags #master_div.focus {
            box-shadow: 0px 0px 2px 2px #cc9900; }
          .body-form-annotation .tags #master_div .tag {
            width: max-content;
            white-space: nowrap;
            margin: 0.15rem;
            cursor: pointer; }
          .body-form-annotation .tags #master_div input#tags {
            border: 0;
            min-width: 50rem; }
            .body-form-annotation .tags #master_div input#tags:hover, .body-form-annotation .tags #master_div input#tags:focus {
              box-shadow: none; }
        .body-form-annotation .tags #autocomplete {
          margin: 0 auto;
          display: none;
          position: absolute;
          background-color: white;
          justify-items: space-around;
          align-items: stretch;
          flex-wrap: wrap;
          max-width: 50em;
          border: 1px solid #b58900;
          border-radius: 3px;
          padding: 1em; }
          .body-form-annotation .tags #autocomplete .card {
            width: 15em;
            margin: 0.25em;
            padding: 0.25em;
            border: 1px dashed #eee8d5;
            cursor: pointer; }
            .body-form-annotation .tags #autocomplete .card .description {
              text-align: left;
              margin-top: 0.5em;
              font-size: 12px;
              font-family: "EB Garamond", "Georgia", serif; }
              .body-form-annotation .tags #autocomplete .card .description.ellipsis::after {
                content: "..."; }
    .body-form-line-nums {
      display: flex;
      justify-content: space-around; }
      .body-form-line-nums input {
        width: auto;
        display: inline-block;
        text-align: center; }
    .body-form input {
      font-family: "Playfair Display", "Georgia", serif;
      font-size: 1.15rem; }
    .body-form input, .body-form textarea {
      font-size: 1.15rem;
      border: 1px solid #b58900;
      border-radius: 3px;
      padding: 0.25em;
      margin: 0.25em;
      transition: 0.3s; }
      .body-form input:focus, .body-form input:hover, .body-form textarea:focus, .body-form textarea:hover {
        box-shadow: 0px 0px 2px 2px #cc9900; }
    .body-form input[type=text], .body-form textarea {
      width: 95%; }
    .body-form textarea {
      font-family: "EB Garamond", "Georgia", serif;
      height: 15rem; }
    .body-form input[type=submit] {
      background-color: #eee8d5;
      color: #657b83;
      cursor: pointer;
      font-size: 1.25rem; }
    .body-form.validate input[type=text], .body-form.validate input[type=password] {
      width: 35%; }
      @media only screen and (max-width: 880px) {
        .body-form.validate input[type=text], .body-form.validate input[type=password] {
          min-width: 20rem; } }

h1, h2, h3, h4, h5, h6 {
  color: #586e75;
  margin-top: 0;
  text-align: center;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: normal; }

strong {
  color: #586e75; }

a {
  color: #93a1a1;
  text-decoration: none;
  transition: 0.3s; }
  a:hover {
    color: #b58900; }

#container {
  padding: 1em; }
  #container #mainmenu {
    padding: 1em 0 1em 0;
    position: fixed;
    margin: 0 0.5em 0 0.5em;
    z-index: 5;
    top: 3.3em;
    left: 0;
    right: 0;
    background-color: #073642;
    opacity: 0;
    border-radius: 20px;
    visibility: hidden;
    transition: 0.3s; }
    #container #mainmenu input {
      margin: 1em 0 1em 0;
      background-color: #002b36;
      padding: 0.1em; }
    #container #mainmenu.show {
      visibility: visible;
      opacity: 1; }
    #container #mainmenu a {
      display: block;
      margin: 0 auto;
      transition: 0.5s;
      border-radius: 20px;
      width: 75%;
      color: #657b83;
      font-family: "Playfair Display", "Georgia", serif;
      font-size: 2em;
      text-align: center;
      text-decoration: none; }
      #container #mainmenu a:hover {
        color: #b58900; }
    #container #mainmenu hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #073642, #b58900, #073642); }
      #container #mainmenu hr::after {
        content: ""; }

#footer {
  padding: 1em;
  background-color: #eee8d5; }

.dark .dropdown-content {
  background-color: #073642;
  text-align: left; }
  .dark .dropdown-content a:hover {
    background-color: #002b36; }

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "EB Garamond", "Georgia", serif; }
  .dropdown .dropbtn {
    cursor: pointer;
    font-family: "EB Garamond", "Georgia", serif; }
  .dropdown-content {
    position: absolute;
    z-index: 1;
    left: -30%;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px #002b36;
    opacity: 0;
    visibility: hidden;
    background-color: #eee8d5;
    transition: 0.3s; }
    .dropdown-content a {
      border-radius: 5px;
      padding: 0 0.5em 0 0.5em;
      color: #586e75;
      text-decoration: none;
      display: block;
      transition: 0.3s; }
      .dropdown-content a:hover {
        color: #b58900;
        background-color: #fdf6e3; }
  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1; }

.sorts {
  margin: 0.5em;
  margin-bottom: 1em; }
  .sorts a {
    margin: 0.25em;
    padding: 0.1em 0.5em 0.1em 0.5em; }
    .sorts a.active, .sorts a:hover {
      background-color: #eee8d5;
      border-radius: 20px; }

.toolbar {
  display: flex; }
  .toolbar .tools {
    margin: 0 auto;
    padding: 0.25em; }
    .toolbar .tools a {
      font-family: "Playfair Display", "Georgia", serif;
      padding: 0.5em; }
      .toolbar .tools a.dropbtn {
        font-family: "Playfair Display", "Georgia", serif; }

.index {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0.5em; }
  .index .card {
    margin: 0.5em;
    padding: 0.25em;
    border-bottom: 2px dotted #eee8d5;
    width: 17em; }
    .index .card .life_years {
      text-align: center; }
    @media only screen and (max-width: 1120px) {
      .index .card {
        width: 16em; } }
    @media only screen and (max-width: 440px) {
      .index .card {
        height: 17em;
        width: 15em; } }
    @media only screen and (max-width: 350px) {
      .index .card {
        height: 20em; } }
    .index .card h3.title {
      margin: 0; }
    .index .card .tag {
      text-align: center;
      margin: 0.25em auto;
      font-size: 1.01em; }
    .index .cardbody {
      margin-top: 0.15rem; }
      .index .cardbody h1, .index .cardbody h2, .index .cardbody h3, .index .cardbody h4, .index .cardbody h5 {
        margin-bottom: 0;
        font-size: 100%;
        text-align: left; }
    .index .card-cutoff p:last-of-type::after {
      content: "..."; }
    .index .card .viewmore {
      margin: 0.5em;
      left: 0;
      bottom: 0;
      width: 100%; }

ul.flash {
  list-style-type: none;
  padding: 0; }
  ul.flash.js {
    position: fixed;
    left: 0;
    right: 0; }
  ul.flash li {
    padding: 1em;
    margin: 1em auto;
    max-width: 45em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    list-style-type: none;
    color: #93a1a1;
    font-family: "Playfair Display", "Georgia", serif;
    font-size: 1.15em; }
    ul.flash li.message {
      background-color: #073642; }
    ul.flash li.success {
      background-color: #859900; }
    ul.flash li.failure {
      background-color: #dc322f; }
    ul.flash li .close {
      cursor: pointer;
      display: inline-block;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 1.5em;
      font-weight: bold; }

.usercard .avatar {
  text-align: center;
  background-color: #eee8d5; }
.usercard td {
  padding: 1em; }
  .usercard td h1.username {
    margin: 0; }
  .usercard td h1, .usercard td h2, .usercard td h3, .usercard td h4, .usercard td h5 {
    margin: 0;
    display: inline-block; }
  .usercard td h5.label {
    vertical-align: middle; }

.collapse {
  font-family: "Playfair Display", "Georgia", serif;
  cursor: pointer; }

@media only screen and (max-width: 800px) {
  #line-form {
    display: none; } }
#line-form .hidden {
  display: none; }
#line-form.js {
  display: none; }

#annotate-button {
  display: none;
  float: right;
  position: sticky;
  top: 2em;
  border-radius: 30px;
  padding: 0.35em 0.5em 0.5em 0.5em;
  margin: 0 auto;
  transition: 0.3s;
  border: none;
  z-index: 8;
  background-color: #002b36;
  color: #93a1a1;
  cursor: pointer;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 1.5em; }
  #annotate-button:hover {
    background-color: #073642;
    color: #b58900; }

hr {
  overflow: visible;
  /* For IE */
  max-width: 50em;
  margin: 2em;
  padding: 0;
  border: none;
  border-top: medium double #93a1a1;
  color: #93a1a1;
  text-align: center; }
  hr:after {
    content: "[n]";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fdf6e3;
    color: #b58900; }

.comment {
  background-color: #eee8d5;
  box-shadow: 10px 10px 5px 5px #93a1a1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 1em; }
  .comment .reply {
    margin-left: 2em;
    border-left: 3px solid #ddd7c4; }
    .comment .reply .header {
      background-color: #ddd7c4;
      border-radius: 0; }
  .comment .header {
    display: flex;
    padding: 0.5em;
    background-color: #002b36;
    border-radius: 20px;
    font-family: "Playfair Display", "Georgia", serif;
    align-items: center; }
    .comment .header .collapse {
      margin-left: auto;
      transition: 0.3s; }
      .comment .header .collapse:hover {
        color: #b58900; }
  .comment .comment-body {
    padding: 1em; }

.weightvote {
  font-size: 2rem; }
  .weightvote.closed .arrows {
    display: none; }
  .weightvote.small {
    font-size: 1rem; }
    @media only screen and (max-width: 750px) {
      .weightvote.small {
        font-size: 2rem; } }
  .weightvote .arrows {
    display: inline-block;
    vertical-align: -35%; }
    .weightvote .arrows div {
      padding: 0;
      margin: -0.5rem 0.5rem -0.5rem 0.5rem; }
      .weightvote .arrows div .up {
        color: #b58900; }
      .weightvote .arrows div .down {
        color: #dc322f; }
      .weightvote .arrows div a {
        padding: 0 !important; }
  .weightvote .weight {
    border: 1px solid;
    padding: 0 0.1em 0 0.2em;
    font-family: "EB Garamond", "Georgia", serif;
    width: max-content; }
    .weightvote .weight.up {
      color: #b58900;
      border-color: #b58900; }
    .weightvote .weight.down {
      color: #dc322f;
      border-color: #dc322f; }

.events .header, .events .event a {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
  padding: 1em; }
.events .event a {
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 1.15em;
  background-color: #eee8d5; }

.backlight-description {
  background-color: #eee8d5;
  padding: 1em;
  margin: 2em auto;
  box-shadow: 0.15em 0.15em 10px 10px #93a1a1;
  max-width: 60rem; }

.diff {
  background-color: #eee8d5;
  padding: 1em;
  margin: 2em auto;
  box-shadow: 0.15em 0.15em 10px 10px #93a1a1; }
  .diff .delta, .diff .plus {
    color: #eee8d5;
    padding: 0 0.25rem 0 0.25rem; }
  .diff .delta {
    background-color: #dc322f; }
  .diff .plus {
    background-color: #859900; }

.approved, .rejected {
  text-align: center; }

.approved {
  color: #859900; }

.rejected {
  color: #dc322f; }

.follow {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
