// font families
$serifs: "EB Garamond", "Georgia", serif;
$display: "Playfair Display", "Georgia", serif;

// constants
$bevel: 10px;

// time delays
$shortdelay: 0.3s;
$middelay: 0.5s;
$longdelay: 0.7s;


// Solarized Colorscheme
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75; // optional emphasized content
$base00:    #657b83; // body text / default code / primary content
$base0:     #839496;
$base1:     #93a1a1; // comments / secondary content
$base2:     #eee8d5; // background highlights
$base3:     #fdf6e3; // background

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;

$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;

$cyan:      #2aa198;
$green:     #859900;

// keywords
$accent:    $yellow;

body {
    margin: 0 auto;
    max-width: 60em;
    line-height: 1.5;
    padding: 1em 1em 1em 1em;
    color: $base00;
    font: {
        family: $serifs;
        size: 1.15em;
    }
}

// This exists solely to make everything set against a $base03 background
.body {
    background-color: $base3;
    border-radius: $bevel; // To prevent the corners sticking up past the navbar
}

h1, h2, h3, h4, h5, h6 {
    color: $base01;
    font: {
        family: $display;
        weight: normal; // The font difference is sufficient, no bold=less font
    }
}

strong { color: $base01; }

a {
    color: $base01;
    text-decoration: none;
    transition: $shortdelay;
    &:hover { color: $accent; }
}

nav {
    padding: 0.1em 0.5em 0.1em 0.5em;
    background-color: $base03;
    border-radius: $bevel;
    text-align: center;
    font-family: $serifs;
    .logo { color: $accent; }
    & img {
        display: inline-block;
        vertical-align: middle;
        width: 1.5em;
        height: 1.5em;
    }
    // The divs within the nav bar should display inline greater than 1020px,
    // then drop to block in a 3 tiered display, then go back to inline when we
    // switch to using a hamburger
    .left, .center, .right {
        display: inline-block;
        margin: 0.5em;
        @media only screen and (max-width: 1120px) { display: block; }
        @media only screen and (max-width: 471px) { display: inline-block; }
    }
    &.web {
        // turn off smaller than 470
        @media only screen and (max-width: 470px) { display: none }

        & * { padding: 0.1em 0.25em 0.1em 0.25em; }
        .active {
            border-radius: $bevel;
            background-color: $base02;
            color: $accent;
            border-bottom: 1px solid $accent;
            padding: 0.5em;
        }
        a {
            color: $base1;
            transition: $middelay;
            &:hover { color: $accent; }
        }
        .dropdown-content {
            background-color: $base03;
            a:hover { background-color: $base02; }
        }
    }

    &.mobile {
        // only display under 471
        @media only screen and (min-width: 471px) { display: none }
        .hamburger {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            .bar {
                &1, &2, &3 {
                    width: 35px;
                    height: 5px;
                    background-color: $base00;
                    margin: 6px 0;
                    transition: $shortdelay;
                }
            }
        }
        .change {
            .bar {
                &1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                    background-color: $accent;
                }
                &2 { opacity: 0; }
                &3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                    background-color: $accent;
                }
            }
        }
    }
}
.search {
    text-align: center;
    input {
        width: 20em;
        background-color: $base02;
        color: $base01;
        @media only screen and (max-width: 440px) { width: 15em; }
        @media only screen and (max-width: 350px) { width: 13em; }
        border: {
            color: $accent;
            radius: $bevel;
        }
        font: {
            family: $display;
            size: 1em;
        }
    }
}

#container {
    position: relative;
    padding: 1em;
    #mainmenu {
        padding: 1em 0 1em 0;

        position: absolute;
        z-index: 5;

        top: 0;
        left: 0;
        right: 0;

        background-color: $base02;
        opacity: 0;
        border-radius: $bevel;
        visibility: hidden;
        transition: $shortdelay;
        input {
            margin: 1em 0 1em 0;
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }

        a {
            display: block;
            margin: 0 auto;
            transition: $middelay;
            border-radius: $bevel;
            width: 75%;
            color: $base00;
            font: {
                family: $display;
                size: 2em;
            }
            text: {
                align: center;
                decoration: none;
            }
            &:hover {
                color: $accent;
                background-color: $base03;
            }
        }
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, $base02, $accent, $base02)
        }
    }
}

#footer {
    padding: 1em;
    background-color: $base2;
}


/****************************
* Style The Dropdown Button *
*****************************/
.dropdown {
    position: relative;
    display: inline-block;
    font-family: $display;

    .dropbtn {
        cursor: pointer;
        font-family: $serifs;
    }
    &-content {
        position: absolute;
        z-index: 1;
        left: -30%;

        border-radius: $bevel;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        opacity: 0;
        visibility: hidden;
        background-color: $base3;
        transition: $shortdelay;
        a {
            border-radius: $bevel;
            padding: 0 0.5em 0 0.5em;
            color: $base01;
            text-decoration: none;
            display: block;
            transition: $middelay;
            &:hover {
                color: $accent;
                background-color: $base2;
            }
        }
    }
    &:hover &-content {
        visibility: visible;
        opacity: 1;
    }
}

.sorts {
    margin: 0.5em;
    margin-bottom: 1em;
    a {
        margin: 0.25em;
        padding: 0.1em 0.5em 0.1em 0.5em;
        &.active, &:hover {
            background-color: $base2;
            border-radius: $bevel;
        }
    }
}
