body {
  margin: 0 auto;
  max-width: 60em;
  line-height: 1.5;
  padding: 1em 1em 1em 1em;
  color: #657b83;
  font-family: "EB Garamond", "Georgia", serif;
  font-size: 1.15em; }

.body {
  background-color: #fdf6e3; }

h1, h2, h3, h4, h5, h6 {
  color: #586e75;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: normal; }

strong {
  color: #586e75; }

a {
  color: #586e75;
  text-decoration: none;
  transition: 0.3s; }
  a:hover {
    color: #b58900; }

nav {
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #002b36;
  border-radius: 10px;
  text-align: center;
  font-family: "EB Garamond", "Georgia", serif; }
  nav .logo {
    color: #b58900; }
  nav a {
    text-decoration: none; }
  nav img {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0; }
  nav .left, nav .center, nav .right {
    display: inline-block;
    margin: 0.5em; }
    @media only screen and (max-width: 1120px) {
      nav .left, nav .center, nav .right {
        display: block; } }
    @media only screen and (max-width: 471px) {
      nav .left, nav .center, nav .right {
        display: inline-block; } }
  @media only screen and (max-width: 470px) {
    nav.web {
      display: none; } }
  nav.web * {
    padding: 0.1em 0.25em 0.1em 0.25em; }
  nav.web .active {
    border-radius: 10px;
    background-color: #073642;
    color: #b58900;
    padding: 0.5em;
    border-bottom: 1px solid #b58900; }
  nav.web a {
    color: #93a1a1;
    transition: 0.5s; }
    nav.web a:hover {
      color: #b58900; }
  nav.web .dropdown-content {
    background-color: #002b36; }
    nav.web .dropdown-content a:hover {
      background-color: #073642; }
  @media only screen and (min-width: 471px) {
    nav.mobile {
      display: none; } }
  nav.mobile .hamburger {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
  nav.mobile .bar1, nav.mobile .bar2, nav.mobile .bar3 {
    width: 35px;
    height: 5px;
    background-color: #657b83;
    margin: 6px 0;
    transition: 0.3s; }
  nav.mobile .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #b58900; }
  nav.mobile .change .bar2 {
    opacity: 0; }
  nav.mobile .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #b58900; }

.search {
  text-align: center; }
  .search input {
    width: 20em;
    background-color: #073642;
    color: #586e75;
    border-color: #b58900;
    border-radius: 10px;
    font-family: "Playfair Display", "Georgia", serif;
    font-size: 1em; }
    @media only screen and (max-width: 440px) {
      .search input {
        width: 15em; } }
    @media only screen and (max-width: 350px) {
      .search input {
        width: 13em; } }

#container {
  position: relative;
  padding: 1em; }
  #container #mainmenu {
    padding: 0 0 1em 0;
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #073642;
    opacity: 0;
    border-radius: 10px;
    visibility: hidden;
    transition: 0.3s; }
    #container #mainmenu.show {
      visibility: visible;
      opacity: 1; }
    #container #mainmenu a {
      display: block;
      margin: 0 auto;
      transition: 0.5s;
      border-radius: 10px;
      width: 75%;
      color: #657b83;
      font-family: "Playfair Display", "Georgia", serif;
      font-size: 2em;
      text-align: center;
      text-decoration: none; }
      #container #mainmenu a:hover {
        color: #b58900;
        background-color: #002b36; }
    #container #mainmenu hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #073642, #b58900, #073642); }

#footer {
  padding: 1em;
  background-color: #eee8d5; }

/****************************
* Style The Dropdown Button *
*****************************/
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Playfair Display", "Georgia", serif; }
  .dropdown .dropbtn {
    cursor: pointer;
    font-family: "EB Garamond", "Georgia", serif; }
  .dropdown-content {
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    background-color: #fdf6e3;
    transition: 0.3s; }
    .dropdown-content a {
      border-radius: 10px;
      padding: 0 0.5em 0 0.5em;
      color: #586e75;
      text-decoration: none;
      display: block;
      transition: 0.5s; }
      .dropdown-content a:hover {
        color: #b58900;
        background-color: #eee8d5; }
  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1; }

.sorts {
  margin: 0.5em;
  margin-bottom: 1em; }
  .sorts a {
    margin: 0.25em;
    padding: 0.1em 0.5em 0.1em 0.5em; }
    .sorts a.active, .sorts a:hover {
      background-color: #eee8d5;
      border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
