{% extends "base.html" %}

{% block content %}
    <h1>
        <a href="{{ edition.text.url }}">{{ edition.text.title }}</a>
        {{ edition.edition_title }}
    </h1>
    {% include "includes/_follow.js" %}

    <div class="toolbar">
        <div class="tools">
            <a href="{{ url_for("main.edition_annotations", text_url=edition.text.url_name, edition_num=edition.num) }}">view annotations</a>
            {% set entity, followings = edition, current_user.followed_editions %}
            {% include "includes/_follow.html" %}
            {% include "includes/_wiki_links.html" %}
        </div>
    </div>

    <div class="backlight-description">{{ edition.wiki.current.body|proc_links|markdown }}</div>

    <h3>Writers</h3>
    <div class="index">
        {% for category, writers in edition.writers.items() %}
                {% if len(writers) <= 0 %}
                    <h2>
                        There are no writers for this category.
                    </h2>
                {% endif %}

                {% for writer in writers %}
                    <div class="card">
                        <h3 class="title">
                            <a href="{{ writer.url }}">
                                {{ writer.name }}
                                ({{ category }})
                            </a>
                        </h3>
                        {% if writer.birth_date.year %}
                            <div class="life_years">
                                {{ writer.birth_date.year }}-{{ writer.death_date.year }}
                            </div>
                        {% endif %}

                        {% set entity, followings = writer, current_user.followed_writers %}
                        {% include "includes/_follow.html" %}
                        <br>

                        <div{% if len(writer.wiki.current.body) >= 127 %} class="card-cutoff"{% endif %}>
                            {{ writer.wiki.current.body[:127]|proc_links|markdown }}
                        </div>

                        <div class="viewmore">
                            <a href="{{ writer.url }}">View More</a>
                        </div>
                    </div>
            {% endfor %}
        {% endfor %}
    </div>


    {# table of contents #}
    {% set tocstruct = edition.tocstruct %}
    {% include "includes/_toc.html" %}
{% endblock %}
