{% extends "base.html" %}

{% block content %}
    <div class="toolbar">
        <div class="tools">
            <a href="{{ url_for("main.tag_annotations", tag=tag.tag) }}">
                view annotations
            </a>
            {% set followings, entity = current_user.followed_tags, tag %}
            {% include "includes/_follow.html" %}
            <a href="{{ url_for("main.edit_wiki", wiki_id=tag.wiki.id) }}">
                wiki edit
            </a>
            <a href="{{ url_for("main.wiki_edit_history", wiki_id=tag.wiki.id) }}">
                wiki edit history
            </a>
        </div>
    </div>

    <div class="tag heading">{{ tag.tag }}</div> &times; {{ tag.annotations.count() }}

    <div id="summary">{{ tag.wiki.current.body|proc_links|markdown }}</div>
{% endblock %}
