{% extends "base.html" %}

{% block content %}
    <h1>
        <div class="tag">{{ tag.tag }}</div> &times; {{ tag.annotations.count() }}
    </h1>
    {% include "includes/_follow.js" %}
    <div class="toolbar">
        <div class="tools">
            <a href="{{ url_for("main.tag_annotations", tag=tag.tag) }}">
                view annotations
            </a>
            {% set followings, entity = current_user.followed_tags, tag %}
            {% include "includes/_follow.html" %}
            {% include "includes/_wiki_links.html" %}
        </div>
    </div>

    <div class="backlight-description">{{ tag.wiki.current.body|proc_links|markdown }}</div>
{% endblock %}
