{% extends "base.html" %}

{% block content %}
    <h1>{{ text }}</h1>
    {% set writers = text.primary.writers['author'] %}
    <h2>by {% include "includes/_all_writers_list.html" %}</h2>
    {% include "includes/_follow.js" %}
    <div class="toolbar">
        <div class="tools">
            <a href="{{ url_for("main.text_annotations", text_url=text.url_name) }}">view annotations</a>
            {% set entity, followings = text, current_user.followed_texts %}
            {% include "includes/_follow.html" %}
            {% include "includes/_wiki_links.html" %}
        </div>
    </div>

    <div class="backlight-description">{{ text.wiki.current.body|markdown }}</div>

    <h2>Editions</h2>
    <div class="index">
        {% for edition in text.editions %}
            <div class="card">
                <h3 class="title">
                    <a href="{{ edition.url }}">
                        {{ edition.edition_title }}
                    </a>
                </h3>
                <div class="count">
                    <em>ll.</em> &times; {{ edition.lines.count() }}
                </div>

                <div{% if len(edition.wiki.current.body) >= 127 %} class="card-cutoff"{% endif %}>
                    {{ edition.wiki.current.body[:127]|markdown }}
                </div>

                <div class="viewmore">
                    <a href="{{ edition.url }}">View More</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% set tocstruct = text.primary.tocstruct %}
    {% set edition = text.primary %}
    {% include "includes/_toc.html" %}
{% endblock %}
