{% extends "base.html" %}

{% block content %}
    <h1>
        {{ writer.name }}
        {% if writer.birth_date.year %}({{ writer.birth_date.year }}-{{ writer.death_date.year }}){% endif %}
    </h1>
    <div class="toolbar">
        <div class="tools">
            <a href="{{ url_for("main.writer_annotations", writer_url=writer.url_name) }}">view annotations</a>
            {% set entity, followings = writer, current_user.followed_writers %}
            {% include "includes/_follow.html" %}
            {% include "includes/_wiki_links.html" %}
        </div>
    </div>

    <div class="backlight-description">{{ writer.wiki.current.body|proc_links|markdown }}</div>

    {% for category, works in writer.works.items() %}
        <h2>{{ category.title() }} &times; {{ len(writer.works) }}</h2>
            <div class="index">
                {% for edition in works %}
                    <div class="card">
                        <h3 class="title">
                            <a href="{{ edition.url }}">
                                {{ edition.title }}
                            </a>
                        </h3>
                        <div class="count">
                            <em>ll.</em> &times; {{ edition.lines.count() }}
                        </div>

                        {# Display the wiki of the text if this is the primary
                        edition, else the wiki of the edition. #}
                        {% if edition.primary %}
                            {% set wiki = edition.text.wiki %}
                        {% else %}
                            {% set wiki = edition.wiki %}
                        {% endif %}
                        <div{% if len(wiki.current.body) >= 127 %}
                            class="card_text_cutoff"{% endif %}>
                            {{ wiki.current.body[:127]|markdown }}</div>

                        <div class="viewmore">
                            <a href="{{ edition.url }}">View More</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endfor %}
{% endblock %}
