<annotation id="a{{ annotation.id }}">
    <!--annotation header-->
    <div class="annotation_head">
        {% set text = annotation.edition.text %}

        <sup>
            <a href="{{ url_for("main.annotation", annotation_id=annotation.id) }}">
                [{{ annotation.id }}]
            </a>
        </sup>

        on
        <em>
            <a href="{{ annotation.HEAD.lines[0].get_url() }}">
                {%- if annotation.HEAD.first_line_num ==
                annotation.HEAD.last_line_num %}
                    l.{{ annotation.HEAD.last_line_num }}
                {% else %}
                    ll. {{ annotation.HEAD.first_line_num }}-{{
                    annotation.HEAD.last_line_num }}
                {% endif -%}
            </a>
        </em>

        of
        <em>
            <a href="{{ url_for("main.text", text_url=annotation.text.url) }}">
                {{ text.title }}
            </a>
        </em>

        {% if not annotation.edition.primary %}
            <a href="{{ url_for("main.edition", text_url=text.url, edition_num=annotation.edition.num) }}">
                Edition #{{ annotation.edition.num }}
            </a>
        {% endif %}

        {% include "includes/_authors.html" %}

        {% include "includes/_annotation_weight.html" %}

        {% if annotation.locked %}
            &#128274;
        {% endif %}
    </div>

    <div class="annotation_content">
        {%- if len(annotation.HEAD.body) < 255 -%}
            {{ annotation.HEAD.body|markdown }}
        {%- else -%}
            <span class="cutoff">
                {{ annotation.HEAD.body[:255]|markdown }}
            </span>
            <a href="{{ url_for("main.annotation", annotation_id=annotation.id) }}">
                View More 
            </a>
        {%- endif -%}
    </div>

    <tags>
        {% for t in annotation.HEAD.tags %}
            <a href="{{ url_for("main.tag", tag=t.tag) }}">
                <tag>{{ t.tag }}</tag>
            </a>
        {% endfor %}
    </tags>

    <br>

    {% include "includes/_annotation_authorship.html" %}

    |
    {% include "includes/_annotation_vote.html" %}

    {% if current_user != annotation.annotator %}
        |
        {% include "includes/_annotation_follow.html" %}
    {% endif %}

    <!--flagging dropdown-->
    <div class="dropdown">
        | <a class="dropbtn">flag&#x25be;</a>
        <div class="dropdown-content">
            {% for flag in aflags %}
                <a href="{{ url_for("main.flag_annotation",
                    flag_id=flag.id, annotation_id=annotation.id,
                    next=request.full_path) }}">
                    {{ flag.flag }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <!--authenticated user routes-->
        | <a href="{{ url_for("main.edit", annotation_id=annotation.id,
            next=request.full_path) }}">
            edit
        </a>
    {% endif %}
    |
    <a href="{{ url_for("main.comments", annotation_id=annotation.id) }}">
        comments
    </a>
</annotation>
