<annotation id="a{{ annotation.id }}">
    <!--annotation header-->
    <div class="annotation_head">

        <sup><a href="{{ annotation.url }}">[{{ annotation.id }}]</a></sup>
        on
        <em>{% include "includes/_annotation_line_nums.html" %}</em>

        {% include "includes/_annotation_weight.html" %}

        {% if annotation.locked %}&#128274;{% endif %}
    </div>

    <div class="annotation_content">
        {%- if len(annotation.HEAD.body) < 255 -%}
            {{ annotation.HEAD.body|markdown }}
        {%- else -%}
            <span class="cutoff">{{- annotation.HEAD.body[:255]|markdown
                -}}</span>
            <a href="{{ url_for("main.annotation", annotation_id=annotation.id)
                }}">View More</a> {%- endif -%}
    </div>

    <tags>
        {% for tag in annotation.HEAD.tags %}
            <a href="{{ tag.url }}"><tag>{{ tag.tag }}</tag></a>
        {% endfor %}
    </tags>

    <br>

    {# The footer #}
    {% include "includes/_annotator.html" %}

    | {% include "includes/_vote.html" %}

    | {% include "includes/_annotation_follow.html" %}

    | {% include "includes/_annotation_flags.html" %}

    | <a href="{{ url_for("main.edit", annotation_id=annotation.id,
        next=request.full_path) }}">edit</a>
</annotation>
