{% if current_user.is_authenticated %}
    {% set vote = current_user.get_vote(annotation) %}
{% endif %}

{% if vote and vote.is_up %}
    <a href="{{ url_for("main.upvote", annotation_id=annotation.id,
        next=request.full_path) }}" class="voted">
        up
    </a>
{% else %}
    <a href="{{ url_for("main.upvote", annotation_id=annotation.id,
        next=request.full_path) }}" class="notvoted">
        up
    </a>
{% endif -%}
/
{%- if vote and not vote.is_up %}
    <a href="{{ url_for("main.downvote", annotation_id=annotation.id,
        next=request.full_path) }}" class="voted">
        down
    </a>
{% else %}
    <a href="{{ url_for("main.downvote", annotation_id=annotation.id,
        next=request.full_path) }}" class="notvoted">
        down
    </a>
{% endif -%}
