{% extends "base.html" %}

{% block content %}
    <h1>
        Edit history for
        <a href="{{ annotation.url }}">Annotation {{ annotation }}</a>
        of
        <a href="{{ annotation.edition.url }}">{{ annotation.edition }}</a>
    </h1>
    {% include "includes/_sorts.html" %}
    <div class="events">
        {% for edit in edits %}
            <div class="event">
                <a href="{{ edit.url }}">
                    <div class="edit-num">Edit #{{ edit.num }}</div>
                    <div class="votes">{{ edit.weight }} pts.</div>
                    <div class="editor">
                        {{ edit.editor }}
                        {% set timestamp = edit.timestamp %}
                        {% include "includes/_timestamp.html" %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
