{% extends "base.html" %}

{% block content %}

<h1>
    Edit history for
    <a href="{{ url_for("main.annotation", annotation_id=annotation.id) }}">
        Annotation
        <sup>
             [{{ annotation.id }}]
        </sup>
    </a>
    of
    <a href="{{ url_for("main.text", text_url=annotation.text.url) }}">
        {{ annotation.text.title }}
    </a>
</h1>
{% set header = [
    ('num',         '# &#9662;',            'num_invert',       '# &#9652;'),
    ('editor',      'Editor &#9662;',       'editor_invert',    'Editor &#9662;'),
    ('time',        'Time &#9662;',         'time_invert',      'Time &#9652;'),
    ('reason',      'Reason &#9662;',       'reason_invert',    'Reason &#9652;'),
    ]%}
<table class="inbox">
    {% include "includes/_table_header.html" %}
    {% if edits %}
        {% for edit in edits %}
            <tr class="unread">
                <td>
                    <a href="{{ url_for("main.view_edit",
                        annotation_id=annotation.id, num=edit.num) }}">
                        {{ edit.num }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for("user.profile", user_id=edit.editor_id) }}">
                        {{ edit.editor.displayname }}
                    </a>
                </td>
                <td> {{ edit.timestamp }} </td>
                <td> {{ edit.reason }} </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr class="read">
            <td colspan=6>
                There are no more edits for this annotation.
            </td>
        </tr>
    {% endif %}
</table>

{% endblock %}
