{% extends "base.html" %}
{% set active_page = "tags" %}

{% block content %}
    <h1>Tags</h1>
    <h4>
        Don't see what you're looking for? Upvote it among our
        <a href="{{ url_for("requests.tag_request_index") }}">
            tag requests.
        </a>
    </h4>

    {% include "includes/_sorts.html" %}

    <div class="index">
        {% for tag in tags %}
            <div class="card">
                <div class="title">
                    <a href="{{ tag.url }}">
                        <div class="tag">
                            {{ tag.tag }}
                        </div>
                    </a>
                </div>
                {% set followings, entity = current_user.followed_tags, tag %}
                {% include "includes/_follow.html" %}
                <br>
                [n] &times; {{ tag.annotations.count() }}

                <div{% if len(tag.wiki.current.body) > 127 %}
                    class="card_text_cutoff"{% endif %}>
                    {{ tag.wiki.current.body[:127]|proc_links|markdown }}
                </div>
                <div class="viewmore">
                    <a href="{{ tag.url }}">View More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
