{% extends "base.html" %}

{% block content %}
{% set header = [
    ('num',         '# &#9662;',            'num_invert',       '# &#9652;'),
    ('editor',      'Editor &#9662;',       'editor_invert',    'Editor &#9652;'),
    ('time',        'Time &#9662;',         'time_invert',      'Time &#9652;'),
    ('reason',      'Reason &#9662;',       'reason_invert',    'Reason &#9652;'),
]%}
<h1><a href="{{ wiki.entity.url }}">{{ wiki.entity|string|safe }}</h1>
<table class="inbox">
    {% include "includes/_table_header.html" %}
    {% if edits %}
        {% for edit in edits %}
            <tr class="unread">
                <td>
                    <a href="{{ url_for("main.view_wiki_edit",
                        wiki_id=edit.wiki.id, edit_num=edit.num) }}">{{ edit.num
                        }}</a>
                </td>
                <td>
                    <a href="{{ url_for("user.profile", user_id=edit.editor.id)
                        }}">{{ edit.editor.displayname }}</a>
                </td>
                <td>{{ edit.timestamp }}</td>
                <td>{{ edit.reason }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="6">This queue is cleared.</td></tr>
    {% endif %}
</table>
{% endblock %}
