{% extends "base.html" %}

{% block content %}
    <h1><a href="{{ wiki.entity.url }}">{{ wiki.entity|safe }}</h1>
    {% include "includes/_sorts.html" %}
    <div class="events">
        {% for edit in edits %}
            <div class="event">
                <a href="{{ edit.url }}">
                    <div class="number">
                        Edit #{{ edit.num }} of {{ edit.wiki.entity }} wiki
                    </div>
                    <div class="points">
                        {{ edit.weight }}pts.
                    </div>
                    <div class="editor">
                        by {{ edit.editor }}
                        {% set timestamp = edit.timestamp %}
                        {% include "includes/_timestamp.html" %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
