{% extends "base.html" %}
{% set active_page = "writers" %}

{% block content %}
<h1>Authors</h1>
{% include "includes/_sorts.html" %}
<div class="index">
    {% for writer in writers %}
        <div class="card">
            <h2>
                <a href="{{ writer.url }}">
                    {{ writer.name }}
                </a>
                {% if writer.birth_date.year %}
                    <div class="life_years">
                        {{ writer.birth_date.year }}-{{
                            writer.death_date.year }}
                    </div>
                {% endif %}
            </h2>

            {% for category, works in writer.works.items() %}
                {{ category.title() }} &times; {{ len(writer.works) }}
            {% endfor %}
            <br>
            <a href="{{ url_for("user.follow_writer", writer_id=writer.id,
                next=request.full_path) }}">
                {%- if current_user.is_authenticated and writer in
                    current_user.followed_writers -%}unfollow{%- else
                    -%}follow{%- endif -%}
            </a>

            <div{% if len(writer.wiki.current.body) >= 127 %}
                class="card_text_cutoff"{% endif %}>
                {{ writer.wiki.current.body[:127]|markdown }}
            </div>

            <a href="{{ writer.url }}">View More</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
