{% extends "base.html" %}
{% set active_page = "writers" %}

{% block content %}
    <h1>Writers</h1>
    {% include "includes/_sorts.html" %}

    <div class="index">
        {% if len(writers) <= 0 %}
            <h2>
                There are no writers for this category.
            </h2>
        {% endif %}

        {% for writer in writers %}
            <div class="card">
                <h3 class="title">
                    <a href="{{ writer.url }}">
                        {{ writer.name }}
                    </a>
                </h3>
                {% if writer.birth_date.year %}
                    <div class="life_years">
                        {{ writer.birth_date.year }}-{{ writer.death_date.year }}
                    </div>
                {% endif %}

                {% for category, works in writer.works.items() %}
                    {{ category.title() }} &times; {{ len(writer.works) }}
                {% endfor %}

                {# follow #}
                <br>
                <a href="{{ url_for("user.follow_writer", writer_id=writer.id, next=request.full_path) }}">
                    {%- if current_user.is_authenticated and writer in current_user.followed_writers -%}unfollow{%- else -%}follow{%- endif -%}
                </a>

                <div{% if len(writer.wiki.current.body) >= 127 %} class="card-cutoff"{% endif %}>
                    {{ writer.wiki.current.body[:127]|proc_links|markdown }}
                </div>

                <div class="viewmore">
                    <a href="{{ writer.url }}">View More</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
