{% extends "base.html" %}
{% set active_page = "writers" %}

{% block content %}
    <h1>Writers</h1>
    {% include "includes/_sorts.html" %}
    {% include "includes/_follow.js" %}

    <div class="index">
        {% if len(writers) <= 0 %}
            <h2>
                There are no writers for this category.
            </h2>
        {% endif %}

        {% for writer in writers %}
            <div class="card">
                <h3 class="title">
                    <a href="{{ writer.url }}">
                        {{ writer.name }}
                    </a>
                </h3>
                {% if writer.birth_date.year %}
                    <div class="life_years">
                        {{ writer.birth_date.year }}-{{ writer.death_date.year }}
                    </div>
                {% endif %}

                {% set entity, followings = writer, current_user.followed_writers %}
                {% include "includes/_follow.html" %}
                <br>
                <em>author</em>     &times; {% if 'author' in writer.works %}{{ len(writer.works['author']) }}{% else %}0{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                <em>editor</em>     &times; {% if 'editor' in writer.works %}{{ len(writer.works['editor']) }}{% else %}0{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                <em>translator</em> &times; {% if 'translator' in writer.works %}{{ len(writer.works['translator']) }}{% else %}0{% endif %}

                <div class="cardbody{% if len(writer.wiki.current.body) >= 127 %} card-cutoff{% endif %}">
                    {{ writer.wiki.current.body[:127]|proc_links|markdown }}
                </div>

                <div class="viewmore">
                    <a href="{{ writer.url }}">View More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
