{% extends "base.html" %}

{% block content %}
<h1>Authors</h1>
<div class="index">
{% for author in authors %}
<div class="card">
    <a href="{{ url_for("author", name=author.url) }}"><h2>
            {{ author.name }}
    {% if author.birth_date.year %}
    <div class="life_years">
    {{ author.birth_date.year }}-{{ author.death_date.year }}
    </div>
    {% endif %}
    </h2></a>
    Books &times; {{ len(author.books) }}
    <br>

    {% if len(author.bio) >= 127 %}
    <div class="card_text_cutoff">
    {% else %}
    <div>
    {% endif %}
    {{ author.bio[:127]|markdown }}
    </div>

    <a href="{{ url_for("author", name=author.url) }}">View More</a>
</div>
{% endfor %}
</div>

{% endblock %}
