{% extends "base.html" %}

{% block content %}
    <h1>Books</h1>
    <h4>
        Don’t see what you’re looking for? Upvote it among our
        <a href="{{ url_for("book_request_index") }}">book requests</a>.
    </h4>
    sort by:
    {% for type, url in sorts.items() %}
        {% if type == sort %}
            <a href="{{ url }}" class="active">{{ type }}</a>
        {% else %}
            <a href="{{ url }}">{{ type }}</a>
        {% endif %}
    {% endfor %}
    <div class="index">
        {% for book in books %}
            <div class="card">
                <a href="{{ url_for("book", book_url=book.url) }}">
                    <h2>{{ book.title }}</h2>
                </a>
                &times; {{ book.lines.count() }} lines
                <br>
                {% if current_user.is_authenticated and book in current_user.followed_books %}
                <a href="{{ url_for("follow_book", book_id=book.id, next=request.full_path) }}">
                    unfollow
                </a>
                {% else %}
                <a href="{{ url_for("follow_book", book_id=book.id, next=request.full_path) }}">
                    follow
                </a>
                {% endif %}

                {% if len(book.summary) >= 127 %}
                    <div class="card_text_cutoff">
                        {{ book.summary[:127]|markdown }}
                    </div>
                {% else %}
                    <div class="card_text_cutoff">
                        {{ book.summary[:127]|markdown }}
                    </div>
                {% endif %}

                <a href="{{ url_for("book", book_url=book.url) }}">View More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
