{% extends "base.html" %}

{% block content %}
<h1>Book Requests</h1>

{% if current_user.is_authenticated
    and current_user.is_authorized("request_books")) %}
    <h4>
        Don't see what you're looking for?
        <a href="{{ url_for("book_request") }}">Try requesting it.</a>
    </h4>
{% endif %}

sort by:
{% for type, url in sorts.items() %}
    {% if type == sort %}
        <a href="{{ url }}" class="active">{{ type }}</a>
    {% else %}
        <a href="{{ url }}">{{ type }}</a>
    {% endif %}
{% endfor %}

<div class="index">
    {% for book_request in book_requests %}
        <div class="card">
            <a href="{{ url_for("view_book_request",
                book_request_id=book_request.id) }}">
                {% if len(book_request.title) > 20 %}
                    <h2 class="text_cutoff">
                        {{ book_request.title[:20] }}
                    </h2>
                {% else %}
                    <h2>
                        {{ book_request.title }}
                    </h2>
                {% endif %}
            </a>
            by {{ book_request.author }}<br>
            <weight>
                {{ book_request.readable_weight() }}
            </weight>
            {% if uservotes
                and book_request.id in uservotes
                and uservotes[book_request.id] %}
                <a href="{{ url_for("upvote_book_request",
                    book_request_id=book_request.id, next=request.full_path)
                    }}" class="voted">
                    up
                </a>
            {% else %}
                <a href="{{ url_for("upvote_book_request",
                   book_request_id=book_request.id, next=request.full_path) }}"
                    class="notvoted">
                    up
                </a>
            {% endif %}
            /
            {% if uservotes
                and book_request.id in uservotes
                and not uservotes[book_request.id] %}
                <a href="{{ url_for("downvote_book_request",
                    book_request_id=book_request.id, next=request.full_path)
                    }}" class="voted">
                    down
                </a>
            {% else %}
                <a href="{{ url_for("downvote_book_request",
                    book_request_id=book_request.id, next=request.full_path)
                    }}" class="notvoted">
                    down
                </a>
            {% endif %}
            |
            {% if current_user.is_authenticated 
                and book_request in current_user.followed_book_requests %}
                <a href="{{ url_for("follow_book_request",
                    book_request_id=book_request.id, next=request.full_path)
                    }}">
                    unfollow
                </a>
            {% else %}
                <a href="{{ url_for("follow_book_request",
                    book_request_id=book_request.id, next=request.full_path)
                    }}">
                    follow
                </a>
            {% endif %}

            <div class="externals">
                <a href="{{ book_request.wikipedia }}">Wikipedia</a>,
                <a href="{{ book_request.gutenberg }}">Project Gutenberg</a>
            </div>
            {% if len(book_request.description) >= 127 %}
            <div class="card_text_cutoff">
            {% else %}
            <div>
            {% endif %}
                {{ book_request.description[:127]|markdown }}
            </div>
            <a href="{{ url_for("view_book_request",
                book_request_id=book_request.id) }}"> View More </a>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
