{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for("static", filename="scripts/comments.js") }}"></script>

    {% include "includes/_annotation_standalone.html" %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.comment(rows=10, cols=70) }}
        <br>
        {{ form.submit }}
    </form>


    <div id="discussion">
        {% for comment in comments %}
            <div class="comment">

                <a href="{{ url_for("user.profile", user_id=comment.poster.id)
                    }}">{{ comment.poster.displayname }}</a>
                {{ comment.timestamp }}
                <a href="#">-</a>
                <div class="comment_body">{{ comment.body|markdown }}</div>
                <a href="{{ url_for("reply", annotation_id=annotation.id,
                    comment_id=comment.id) }}">reply</a>
                <hr>

                {% for reply in comment.children recursive %}
                    <div class="reply">

                        <a href="{{ url_for("user.profile",
                            user_id=reply.poster.id) }}">{{
                            reply.poster.displayname }}</a>

                        {{ reply.timestamp }}

                        <a href="#">-</a>
                        <div class="comment_body">{{ reply.body|markdown
                            }}</div>
                            <a href="{{ url_for("reply",
                                annotation_id=annotation.id,
                                comment_id=reply.id) }}">reply</a>

                        {{ loop(reply.children) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
