{% extends "base.html" %}

{% block content %}

<h1>
    Edit history for
    <a href="{{ url_for("annotation", annotation_id=annotation.id) }}">
        Annotation
        <sup>
             [{{ annotation.id }}]
        </sup>
    </a>
    of 
    <a href="{{ url_for("text", text_url=annotation.text.url) }}">
        {{ annotation.text.title }}
    </a>
</h1>
<table class="inbox">
    <tr class="header">
        {% if sort == "edit_num" %}
            <td class="highlight" style="width:5%;">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="edit_num_invert", page=page) }}">
                    # &#9662;
                </a>
            </td>
        {% elif sort =="edit_num_invert" %}
            <td class="highlight" style="width:5%;">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                sort="edit_num", page=page) }}">
                    # &#9652;
                </a>
            </td>
        {% else %}
            <td style="width:5%;">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="edit_num", page=page) }}">
                    #
                </a>
            </td>
        {% endif %}

        {% if sort == "editor" %}
            <td class="highlight">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="editor_invert", page=page) }}">
                    Editor &#9662;
                </a>
            </td>
        {% elif sort =="editor_invert" %}
            <td class="highlight">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="editor", page=page) }}">
                    Editor &#9652;
                </a>
            </td>
        {% else %}
            <td>
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="editor", page=page) }}">
                    Editor
                </a>
            </td>
        {% endif %}

        {% if sort == "time" %}
            <td class="highlight">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="time_invert", page=page) }}">
                    Time &#9662;
                </a>
            </td>
        {% elif sort =="time_invert" %}
            <td class="highlight">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="time", page=page) }}">
                    Time &#9652;
                </a>
            </td>
        {% else %}
            <td>
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="time", page=page) }}">
                    Time
                </a>
            </td>
        {% endif %}

        {% if sort == "reason" %}
            <td class="highlight" style="width:50%;">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="reason_invert", page=page) }}">
                    Reason &#9662;
                </a>
            </td>
        {% elif sort =="reason_invert" %}
            <td class="highlight" style="width:50%;">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="reason", page=page) }}">
                    Reason &#9652;
                </a>
            </td>
        {% else %}
            <td style="width:50%;">
                <a href="{{ url_for("edit_history", annotation_id=annotation.id,
                    sort="reason", page=page) }}">
                    Reason
                </a>
            </td>
        {% endif %}
    </tr>

    {% if edits %}
        {% for edit in edits %}
            <tr class="unread">
                <td>
                    <a href="{{ url_for("view_edit",
                        annotation_id=annotation.id, edit_num=edit.edit_num)
                        }}">
                        {{ edit.edit_num }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for("user", user_id=edit.editor_id) }}">
                        {{ edit.editor.displayname }}
                    </a>
                </td>
                <td> {{ edit.modified }} </td>
                <td> {{ edit.edit_reason }} </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr class="read">
            <td colspan=6>
                There are no more edits for this annotation.
            </td>
        </tr>
    {% endif %}
</table>

{% endblock %}
