{% extends "base.html" %}

{% block content %}
    <h1>Search Results</h1>
    <h2>{{ line_total }} lines</h2>
    <div id="content">
        {% for line in lines %}
            <h3>
                Line 
                <a href="{{ line.get_url() }}#{{ line.line_num }}">
                    {{ line.line_num }}
                </a>
                of 
                <a href="{{ url_for("text", text_url=line.text.url) }}">
                    {{ line.text.title }}
                </a>
                by 
                <a href="{{ url_for("writer", writer_url=line.text.authors[0].url) }}">
                    {{ line.text.authors[0].name }}
                </a>
            </h3>
            {% for l in line.context %}
                <a href="{{ l.get_url() }}#{{ l.line_num }}">
                    <line class="{{ l.label.label }}" id="{{ l.line_num }}">
                        {% if l == line %}
                            <div class="highlight">
                                <span class="linenum">{{ l.line_num }}</span>
                                {{ l.line|safe }}
                            </div>
                        {% else %}
                            <span class="hidden_linenum">{{ l.line_num }}</span>
                            {{ l.line|safe }}
                        {% endif %}
                    </line>
                </a>
            {% endfor %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
