{% extends 'base.html' %}

{% block content %}
    <h1>Search Results</h1>
    <h2>{{ line_total }} lines</h2>
    <div id='content'>
        {% for line in lines %}
            <h3>
                Line 
                <a href='{{ line.get_url() }}#{{ line.line_num }}'>
                    {{ line.num }}
                </a>
                of 
                <a href='{{ url_for('text', text_url=line.text.url) }}'>
                    {{ line.text.title }}
                </a>
                by 
                <a href='{{ url_for('writer', writer_url=line.text.authors[0].url) }}'>
                    {{ line.text.authors[0].name }}
                </a>
            </h3>
            {% for l in line.context %}
                <a href='{{ url_for('line_annotations',
                    text_url=l.edition.text.url,
                    edition_num=l.edition.num, line_num=l.num) }}'>
                    <line class='{{ l.label.label }}' id='{{ l.num }}'>
                        <div{% if l == line %} class='highlight'{% endif %}>
                            <span{% if l == line %} class='linenum'{% else %}
                                class='hidden_linenum'{% endif %}>{{ l.num
                                }}</span>
                                {{ l.line|safe }}
                            <span class="body_annotation">
                                &times; {{ l.annotations.count() }}
                            </span>
                        </div>
                    </line>
                </a>
            {% endfor %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
