{% extends "base.html" %}

{% block content %}

<h1>Tag Requests</h1>
{% if current_user.is_authenticated %}
    {% if current_user.is_authorized(vars["AUTHORIZATION"]["TAG_REQUEST"])
        or current_user.has_right("create_tags") %}
        <h4>
            Don't see what you’re looking for?
            <a href="{{ url_for("tag_request") }}">Try requesting it</a>.
        </h4>
    {% else %}
        <h4>
            You do not yet have the minimum reputation for requesting a tag.
        </h4>
    {% endif %}

    {% if current_user.has_right("create_tags") %}
        <h4>
            You have the appropriate permissions to
            <a href="{{ url_for("create_tag") }}">create a tag</a>.
        </h4>
    {% endif %}
{% endif %}

sort by:
{% for type, url in sorts.items() %}
    {% if type == sort %}
        <a href="{{ url }}" class="active">{{ type }}</a>
    {% else %}
        <a href="{{ url }}">{{ type }}</a>
    {% endif %}
{% endfor %}

<div class="index">
    {% for tag_request in tag_requests %}
        <div class="tag_card">
            <h2>
                {% if not tag_request.approved %}
                    <a href="{{ url_for("view_tag_request", tag_request_id=tag_request.id) }}"> <tag>{{ tag_request.tag }}</tag> </a>
                {% elif not tag_request.rejected %}
                    <a href="{{ url_for("tag", tag=tag_request.created_tag.tag) }}"> <tag>{{ tag_request.tag }}</tag> </a>
                {% endif %}

                {% if tag_request.approved %}
                    &#10003;
                {% elif tag_request.rejected %}
                    &#10007;
                {% endif %}
            </h2>

            <div class="weight">
                {{ tag_request.weight }}
                {% if uservotes and tag_request.id in uservotes and uservotes[tag_request.id] %}
                    <a href="{{ url_for("upvote_tag_request", tag_request_id=tag_request.id) }}" class="voted"> up </a>
                {% else %}
                    <a href="{{ url_for("upvote_tag_request", tag_request_id=tag_request.id) }}" class="notvoted"> up </a>
                {% endif %}
                /
                {% if uservotes and tag_request.id in uservotes and not uservotes[tag_request.id] %}
                    <a href="{{ url_for("downvote_tag_request", tag_request_id=tag_request.id) }}" class="voted"> down </a>
                {% else %}
                    <a href="{{ url_for("downvote_tag_request", tag_request_id=tag_request.id) }}" class="notvoted"> down </a>
                {% endif %}
            </div>
            {% if current_user.is_authenticated
                and tag_request in current_user.followed_tag_requests 
                and not tag_request.approved and not tag_request.rejected %}
                <a href="{{ url_for("follow_tag_request",
                    tag_request_id=tag_request.id, next=request.full_path) }}">
                    unfollow
                </a>
            {% elif not tag_request.approved and not tag_request.rejected %}
                <a href="{{ url_for("follow_tag_request",
                    tag_request_id=tag_request.id, next=request.full_path) }}">
                    follow
                </a>
            {% else %}
                <br>
            {% endif %}

            <div class="externals">
                <a href="{{ tag_request.wikipedia }}">Wikipedia</a>
            </div>

            {% if len(tag_request.description) >= 127 %}
                <div class="card_text_cutoff">
                    {% if not tag_request.approved and not tag_request.rejected %}
                        Description: {{ tag_request.description[:127]|markdown }}
                    {% else %}
                        Notes: {{ tag_request.notes[:127]|markdown }}
                    {% endif %}
                </div>
            {% else %}
                <div>
                    {% if not tag_request.approved and not tag_request.rejected %}
                        {{ tag_request.description[:127]|markdown }}
                    {% else %}
                        {{ tag_request.notes[:127]|markdown }}
                    {% endif %}
                </div>
            {% endif %}

            <a href="{{ url_for("view_tag_request", tag_request_id=tag_request.id) }}"> View More </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
