{% extends "base.html" %}
{% set active_page = "tags" %}

{% block content %}
<h1>Tags</h1>
<h4>
    Don't see what you're looking for? Upvote it among our
    <a href="{{ url_for("requests.tag_request_index") }}">
        tag requests.
    </a>
</h4>

sort by:
{% for type, url in sorts.items() %}
    {% if type == sort %}
        <a href="{{ url }}" class="active">{{ type }}</a>
    {% else %}
        <a href="{{ url }}">{{ type }}</a>
    {% endif %}
{% endfor %}

<div class="index">
    {% for tag in tags %}
        <div class="card">
            <a href="{{ url_for("main.tag", tag=tag.tag) }}"><tag>{{ tag.tag }}</tag></a>
            <br>
            &times; {{ tag.annotations.count() }}
            <br>
            {% if current_user.is_authenticated
                and tag in current_user.followed_tags %}
                <a href="{{ url_for("user.follow_tag", tag_id=tag.id,
                    next=request.full_path) }}">
                    unfollow
                </a>
            {% else %}
                <a href="{{ url_for("user.follow_tag", tag_id=tag.id,
                    next=request.full_path) }}">
                    follow
                </a>
            {% endif %}

            {% if len(tag.wiki.current.body) > 127 %}
            <div class="card_text_cutoff">
            {% else %}
            <div>
            {% endif %}
                {{ tag.wiki.current.body[:127]|markdown }}
            </div>
            <a href="{{ url_for("main.tag", tag=tag.tag) }}">View More</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
