{% extends "base.html" %}

{% block content %}
<h1>Tags</h1>
<h4>Don't see what you're looking for? Upvote it among our
<a href="{{ url_for("tag_request_index") }}">tag requests.</a>
</h4>

<div class="index">
{% for tag in tags %}
<div class="card">
    <a href="{{ url_for("tag", tag=tag.tag) }}"><tag>{{ tag.tag }}</tag></a>
    <br>
    &times; {{ tag.annotations.count() }}
    <br>
    {% if len(tag.description) > 127 %}
    <div class="card_text_cutoff">
    {% else %}
    <div>
    {% endif %}
        {{ tag.description[:127]|markdown }}
    </div>
    <a href="{{ url_for("tag", tag=tag.tag) }}">View More</a>
</div>
{% endfor %}
</div>

{% endblock %}
