{% extends "base.html" %}
{% set active_page = "texts" %}

{% block content %}
<h1>Books</h1>
<h4>
    Don’t see what you’re looking for? Upvote it among our
    <a href="{{ url_for("requests.text_request_index") }}">text requests</a>.
</h4>

sort by:
{% for type, url in sorts.items() %}
    {% if type == sort %}
        <a href="{{ url }}" class="active">{{ type }}</a>
    {% else %}
        <a href="{{ url }}">{{ type }}</a>
    {% endif %}
{% endfor %}

<div class="index">
    {% for text in texts %}
        <div class="card">
            <a href="{{ url_for("text", text_url=text.url) }}">
                <h2>{{ text.title }}</h2>
            </a>

            &times; {{ text.editions.count() }} editions

            <br>
            <a href="{{ url_for("user.follow_text", text_id=text.id,
                next=request.full_path) }}">
                {% if current_user.is_authenticated
                    and text in current_user.followed_texts %}
                    unfollow
                {% else %}
                    follow
                {% endif %}
            </a>

            <div{% if len(text.wiki.current.body) >= 127 %} class="card_text_cutoff"{%endif%}>
                {{ text.wiki.current.body[:127]|markdown }}
            </div>

            <a href="{{ url_for("text", text_url=text.url) }}">
                View More
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
