{% extends "base.html" %}

{% block content %}
    <h1>Users</h1>
    sort by:
    {% if sort == "name" %}
        <a href="{{ url_for("user_index", sort="name") }}" class="active">name</a>
        <a href="{{ url_for("user_index", sort="reputation") }}">reputation</a>
    {% elif sort == "reputation" %}
        <a href="{{ url_for("user_index", sort="name") }}">name</a>
        <a href="{{ url_for("user_index", sort="reputation") }}" class="active">
            reputation
        </a>
    {% endif %}

    <div class="index">
        {% for user in users %}
            <div class="card">
                <h2>
                    <a href="{{ url_for("user", user_id=user.id) }}">
                        {{ user.displayname }}
                    </a>
                    {% include "includes/_reputation_user.html" %}
                </h2>

                {% if user.about_me %}
                    <div>
                        {{ user.about_me|markdown }}
                    </div>
                {% endif %}

                <a href="{{ url_for("user", user_id=user.id) }}">View More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
