{% extends "base.html" %}

{% block content %}
<h1>Authors</h1>
sort by:
{% for type, url in sorts.items() %}
    {% if type == sort %}
        <a href="{{ url }}" class="active">{{ type }}</a>
    {% else %}
        <a href="{{ url }}">{{ type }}</a>
    {% endif %}
{% endfor %}
<div class="index">
    {% for writer in writers %}
        <div class="card">
            <h2>
                <a href="{{ url_for("writer", writer_url=writer.url) }}">
                    {{ writer.name }}
                </a>
                {% if writer.birth_date.year %}
                    <div class="life_years">
                        {{ writer.birth_date.year }}-{{
                            writer.death_date.year }}
                    </div>
                {% endif %}
            </h2>

            Author &times; {{ len(writer.authored) }}
            <br>
            {% if current_user.is_authenticated and writer in
                current_user.followed_writers %}
                <a href="{{ url_for("user.follow_writer", writer_id=writer.id,
                    next=request.full_path) }}">
                    unfollow
                </a>
            {% else %}
                <a href="{{ url_for("user.follow_writer", writer_id=writer.id,
                    next=request.full_path) }}">
                    follow
                </a>
            {% endif %}

            {% if len(writer.bio) >= 127 %}
            <div class="card_text_cutoff">
            {% else %}
            <div>
            {% endif %}
                {{ writer.bio[:127]|markdown }}
            </div>

            <a href="{{ url_for("writer", writer_url=writer.url) }}">View More</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
