<annotation id="a{{ annotation.id }}">
    <!--annotation header-->
    <div class="annotation_head">
        <sup>
            <a href="{{ url_for("annotation", annotation_id=annotation.id) }}">
                [{{ annotation.id }}]
            </a>
        </sup>
        on
        <em>
            <a href="{{ annotation.HEAD.lines[0].get_url() }}#{{
                annotation.HEAD.first_line_num }}">
                {%- if annotation.HEAD.first_line_num ==
                    annotation.HEAD.last_line_num %}
                    l.{{ annotation.HEAD.last_line_num }}
                {% else -%}
                    ll.{{ annotation.HEAD.first_line_num }}-{{
                        annotation.HEAD.last_line_num }}
                {% endif -%}
            </a>
        </em>
        of
        <em>
            <a href="{{ url_for("book", book_url=annotation.book.url) }}">
                {{ annotation.book.title }}
            </a>
        </em>
        by
        <a href="{{ url_for("author", name=annotation.book.author.url) }}">
            {{ annotation.book.author.name }}
        </a>

        <!--Weight-->
        {% if annotation.weight > 0 -%}
            <weight class="up">{{ annotation.readable_weight() }}</weight>
        {%- elif annotation.weight == 0 -%}
            <weight class="nil">{{ annotation.readable_weight() }}</weight>
        {%- else -%}
            <weight class="down">{{ annotation.readable_weight() }}</weight>
        {%- endif -%}

        {% if annotation.locked %}
            &#128274;
        {% endif %}
    </div>

    <!--body of the annotation-->
    <div class="annotation_content">
        {%- if len(annotation.HEAD.annotation) < 255 -%}
            {{ annotation.HEAD.annotation|markdown }}
        {%- else -%}
            <span class="cutoff">
                {{ annotation.HEAD.annotation[:255]|markdown }}
            </span>
            <a href="{{ url_for("annotation", annotation_id=annotation.id) }}">
                View More 
            </a>
        {%- endif -%}
    </div>

    <!--tags for the annotation-->
    <tags>
        {% for t in annotation.HEAD.tags %}
            <a href="{{ url_for("tag", tag=t.tag) }}">
                <tag>{{ t.tag }}</tag>
            </a>
        {% endfor %}
    </tags>

    <br>

    <!--annotation authorship-->
    {%- if annotation.HEAD.previous_id == None %}
        <a href="{{ url_for("annotation", annotation_id=annotation.id) }}">
            annotated 
        </a>
        by
        <a href="{{ url_for("user", user_id=annotation.author.id) }}">
            {{ annotation.author.displayname }}
        </a>
        <strong>{{ annotation.author.readable_reputation() }}</strong>
        {{ annotation.added }}
    {%- else -%}
        <a href="{{ url_for("view_edit", annotation_id=annotation.id,
            edit_num=annotation.HEAD.edit_num) }}">
            last edited
        </a>
        by
        <a href="{{ url_for("user", user_id=annotation.HEAD.editor.id) }}">
            {{ annotation.HEAD.editor.displayname }}
        </a>
        <strong>{{ annotation.HEAD.editor.readable_reputation() }}</strong>
        {{ annotation.HEAD.modified }}
    {% endif %}

    |
    <!--up/downvote buttons-->
    {% if uservotes and annotation.id in uservotes and uservotes[annotation.id] %}
        <a href="{{ url_for("upvote", anno_id=annotation.id,
            next=request.full_path) }}" class="voted">
            up
        </a>
    {% else %}
        <a href="{{ url_for("upvote", anno_id=annotation.id,
            next=request.full_path) }}" class="notvoted">
            up
        </a>
    {% endif -%}
    /
    {%- if uservotes and annotation.id in uservotes and not
        uservotes[annotation.id] %}
        <a href="{{ url_for("downvote", anno_id=annotation.id,
            next=request.full_path) }}" class="voted">
            down
        </a>
    {% else %}
        <a href="{{ url_for("downvote", anno_id=annotation.id,
            next=request.full_path) }}" class="notvoted">
            down
        </a>
    {% endif -%}

    <!--follow/unfollow buttons-->
    {% if current_user != annotation.author %}
        {% if current_user.is_authenticated and annotation in
            current_user.followed_annotations %}
            | <a href="{{ url_for("follow_annotation",
                annotation_id=annotation.id, next=request.full_path ) }}">
                unfollow
            </a>
        {% else %}
            | <a href="{{ url_for("follow_annotation",
                annotation_id=annotation.id, next=request.full_path ) }}">
                follow
            </a>
        {% endif %}
    {% endif %}

    <!--flagging dropdown-->
    <div class="dropdown">
        | <a class="dropbtn">flag&#x25be;</a>
        <div class="dropdown-content">
            {% for annotationflag in annotationflags %}
                <a href="{{ url_for("flag_annotation",
                    flag_id=annotationflag.id, annotation_id=annotation.id,
                    next=request.full_path) }}">
                    {{ annotationflag.flag }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <!--authenticated user routes-->
        {% if current_user.has_right("resolve_annotation_flags") %}
            | <a href="{{ url_for("annotation_flags",
                annotation_id=annotation.id) }}">
                flags
            </a>
        {% endif %}

        {% if current_user.has_right("edit_locked_annotations") or not
            annotation.locked %}
            | <a href="{{ url_for("edit", anno_id=annotation.id,
                next=request.full_path) }}">
                edit
            </a>
        {% endif %}

        {% if current_user.has_right("delete_annotations") %}
            {% if annotation.active %}
                | <a href="{{ url_for("delete", anno_id=annotation.id,
                    next=request.full_path) }}">
                    delete
                </a>
            {% else %}
                | <a href="{{ url_for("delete", anno_id=annotation.id,
                    next=request.full_path) }}">
                    undelete
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
</annotation>
