<annotation id="a{{ annotation.id }}">
    <!--annotation header-->
    <div class="annotation_head">

        <sup>
            <a href="{{ url_for("annotation", annotation_id=annotation.id) }}">
                [{{ annotation.id }}]
            </a>
        </sup>
        on
        <em>
            {% include "includes/_annotation_line_nums.html" %}
        </em>

        {% include "includes/_annotation_weight.html" %}

        {% if annotation.locked %}
            &#128274;
        {% endif %}
    </div>

    <!--The text of the annotation-->
    <div class="annotation_content">
        {%- if len(annotation.HEAD.body) < 255 -%}
            {{ annotation.HEAD.body|markdown }}
        {%- else -%}
            <span class="cutoff">
                {{- annotation.HEAD.body[:255]|markdown -}}
            </span>
            <a href="{{ url_for("annotation", annotation_id=annotation.id) }}">
                View More
            </a>
        {%- endif -%}
    </div>

    <!--The tags-->
    <tags>
        {% for t in annotation.HEAD.tags %}
            <a href="{{ url_for("tag", tag=t.tag) }}">
                <tag>{{ t.tag }}</tag>
            </a>
        {% endfor %}
    </tags>

    <br>

    {# The footer #}

    {% include "includes/_annotation_authorship.html" %}
    |
    {% include "includes/_annotation_vote.html" %}

    {% if current_user != annotation.annotator %}
        |
        {% include "includes/_annotation_follow.html" %}
    {% endif %}

    <div class="dropdown">
        | <a class="dropbtn">flag&#x25be;</a>
        <div class="dropdown-content">
            {% for annotationflag in annotationflags %}
                <a href="{{ url_for("flag_annotation",
                    flag_id=annotationflag.id, annotation_id=annotation.id,
                    next=request.full_path) }}">
                    {{ annotationflag.flag }}
                </a>
            {% endfor %}
        </div>
    </div>

    <!--authenticated user links-->
    {% if current_user.is_authenticated %}
        {% if current_user.is_authorized("edit_locked_annotations") 
            or not annotation.locked %}
            | <a href="{{ url_for("edit", annotation_id=annotation.id,
                next=request.full_path) }}">
                edit
            </a>
        {% endif %}
    {% endif %}
</annotation>
