{% if edition.editors %}
    <h3>
        edited by
        {% if len(edition.editors) == 2 %}
            <a href="{{ url_for("writer", writer_url=edition.editors[0].url) }}">
                {{ edition.editors[0].name }}
            </a>
            and
            <a href="{{ url_for("writer", writer_url=edition.editors[1].url) }}">
                {{ edition.editors[1].name }}
            </a>
        {% elif len(edition.editors) == 1 %}
            <a href="{{ url_for("writer", writer_url=edition.editors[0].url) }}">
                {{ edition.editors[0].name }}
            </a>
        {% elif len(edition.editors) == 0 %}
            Unattributed
        {% else %}
            {% for editor in edition.editors %}
                {% if editor == edition.editors[-1]
                    and editor != edition.editors[0] %}
                    and
                {% endif %}
                <a href="{{ url_for("writer", writer_url=editor.url) }}">
                    {{ editor.name }}
                </a>
                {% if editor != edition.editors[-1] %}
                    , 
                {% endif %}
            {% endfor %}
        {% endif %}
    </h3>
{% endif %}
