<annotation id="a{{ annotation.id }}">
    <div class="annotation_head">
        <em>
            <a href="{{ annotation.HEAD.lines[0].get_url() }}#{{
                annotation.HEAD.first_line_num }}">
                {%- if edit.first_line_num == edit.last_line_num %}
                    l.{{ edit.last_line_num }}
                {% else -%}
                    ll.{{ edit.first_line_num }}-{{ edit.last_line_num }}
                {% endif -%}
            </a>
        </em>
    </div>

    <div class="annotation_content"> {{ edit.body|markdown }} </div>

    <tags>
        {% for t in edit.tags %}
            <a href="{{ url_for("tag", tag=t.tag) }}">
                <tag>{{ t.tag }}</tag>
            </a>
        {% endfor %}
    </tags>

    <br>

    edited by {{ edit.editor.displayname }} on {{ edit.modified }}
</annotation>
