{% if section.kind.kind == 'bk' %}
    <tr class="book_contents">
        <td align="left">
            <a href="{{ section.get_url() }}">
                Book {{ section.bk_num }}: {{ section.line }}
            </a>
        </th>
        <td align="right">
            <a href="{{ section.get_url() }}">
                {{ section.l_num }}
            </a>
        </th>

{% elif section.kind.kind == 'pt' %}
    <tr class="part_contents">
        <td align="left">
            <a href="{{ section.get_url() }}">
                Part {{ section.pt_num }}: {{ section.line }}
            </a>
        <td align="right">
            <a href="{{ section.get_url() }}">
                {{ section.l_num }}
            </a>
        </th>
{% elif section.kind.kind == 'ch' %}
    <tr class="chapter_contents">
        <td align="left">
            <a href="{{ section.get_url() }}">
                Chapter {{ section.ch_num }}: {{ section.line }}
            </a>
        </td>
        <td align="right">
            <a href="{{ section.get_url() }}">
                {{ section.l_num }}
            </a>
        </td>
    </tr>
{% endif %}
