<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="theme-color" content="#002b36">
        {% if title %}
            <title>{{ title }} - anno.wiki</title>
        {% else %}
            <title>Welcome to anno.wiki</title>
        {% endif %}
        <script type="text/javascript" src="{{ url_for("static", filename="scripts/utils.js") }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Playfair+Display:400,700" rel="stylesheet">
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
    </head>

    <body>
        {% if vars["DEBUG"] and vars["HEARTBEAT"] %}
            {% include "includes/_reload_heartbeat.js" %}
        {% endif %}
        <nav class="mobile">
            <div class="left">
                <a href="{{ url_for('main.index') }}" class="logo{% if active_page == 'index' %} active{% endif %}">
                    <img src="{{ url_for('static', filename='images/n.png') }}">
                    anno.wiki
                </a>
            </div>

            <div class="right">
                <div class="hamburger" onclick="xout(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <script>
                    function xout(x) {
                        x.classList.toggle("change");
                        byID("mainmenu").classList.toggle("show");
                    }
                </script>
            </div>
        </nav>
        <div class="body">
            <nav class="web">
                <div class="left">
                    <a href="{{ url_for('main.index') }}" class="logo{% if active_page == 'index' %} active{% endif %}">
                        <span class="footnote">[n]</span>
                        anno.wiki
                    </a>
                    {% set navigation_bar = [
                        (url_for('main.writer_index'), 'writers', 'Writers'),
                        (url_for('main.text_index'), 'texts', 'Texts'),
                        (url_for('main.tag_index'), 'tags', 'Tags'),
                        (url_for('user.index'), 'users', 'Users')]
                    %}
                    {% for href, id, caption in navigation_bar %}
                        <a href="{{ href }}"{% if id == active_page %} class="active"{% endif %}>{{ caption }}</a>
                    {% endfor %}
                </div>

                <div class="center">
                    {% if g.search_form %}
                        <form method="get" action="{{ url_for('main.search') }}" class="search">
                            {{ g.search_form.q(placeholder="Search lines...") }}
                        </form>
                    {% endif %}
                </div>

                <div class="right">
                    {% set adminrights = [
                        'view_deactivated_annotations',
                        'review_edits',
                        'resolve_user_flags',
                        'resolve_annotation_flags',
                        ]%}
                    {% set adminlinks = [
                        ('deactivated', url_for('admin.view_deactivated_annotations')),
                        ('edits', url_for('admin.edit_review_queue')),
                        ('wiki edits', url_for('admin.wiki_edit_review_queue')),
                        ('user flags', url_for('admin.all_user_flags')),
                        ('annotation flags', url_for('admin.all_annotation_flags')),
                        ]%}

                    {%- if current_user.is_anonymous -%}
                        <a href="{{ url_for('main.register', next=request.full_path) }}">register</a>
                        <a href="{{ url_for('main.login', next=request.full_path) }}">login</a>
                    {% else %}
                        {# admin #}
                        {%- if current_user.is_auth_any(adminrights) %}
                            <span class="dark">
                                <div class="dropdown">
                                    <a class="dropbtn">admin&#x25BE;</a> |
                                    <div class="dropdown-content">
                                        {% for right, link in zip(adminrights, adminlinks) %}
                                            {% if current_user.is_authorized(right) %}
                                                <a href="{{ link[1] }}">{{ link[0] }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </span>
                        {% endif %}

                        <a href="{{ url_for('user.profile', user_id=current_user.id) }}">{{ current_user.displayname }} {{ current_user.readable_reputation }}</a> |
                        <a href="{{ url_for('main.logout', next=request.full_path) }}">logout</a>
                    {%- endif %}
                </div>
            </nav>
            <script>
                function closeFlash(x) {
                    let flash = x.parentNode;
                    let messages = flash.parentNode;
                    messages.removeChild(flash);
                    if (messages.childNodes.length < 1)
                        messages.parentNode.removeChild(messages);
                }
            </script>

            {% include "includes/_flash_messages.js" %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash">
                        {% for category, message in messages %}
                            <li class="{{ category }}">
                                <span class="text">{{ message }}</span>
                                <span class="close" onclick="closeFlash(this);">&times</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div id="container">
                <div id="mainmenu">
                    <hr>

                    {% for href, id, caption in navigation_bar %}
                        <a href="{{ href }}"{% if id == active_page %} class="active"{% endif %}>
                            {{ caption }}
                        </a>
                    {% endfor %}

                    <hr>

                    {% if g.search_form %}
                        <form method="get" action="{{ url_for('main.search') }}" class="search">
                            {{ g.search_form.q(placeholder="Search lines...") }}
                        </form>
                    {% endif %}

                    <hr>

                    {%- if current_user.is_anonymous -%}
                        <a href="{{ url_for('main.register') }}">register</a>
                        <a href="{{ url_for('main.login', next=request.full_path) }}">login</a>
                    {% else %}
                        {# admin #}
                        {%- if current_user.is_auth_any(adminrights) %}
                            {% for right, link in zip(adminrights, adminlinks) %}
                                {% if current_user.is_authorized(right) %}
                                    <a href="{{ link[1] }}">{{ link[0] }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <hr>
                        <a href="{{ url_for('user.profile', user_id=current_user.id) }}">{{ current_user.displayname }} {{ current_user.readable_reputation }}</a>
                        <a href="{{ url_for('main.logout') }}">logout</a>
                    {%- endif %}

                    <hr>
                </div>

                <div id="container-content">
                    {% block content %} {% endblock %}

                    {% if prev_page %}
                        <a href="{{ prev_page }}">&lt;&lt; Previous</a>
                    {% endif %}
                    {% if next_page and prev_page %}
                        |
                    {% endif %}
                    {% if next_page %}
                        <a href="{{ next_page }}">Next &gt;&gt;</a>
                    {% endif %}
                </div>
            </div>

            <div id="footer">
                <a href="#">About</a> |
                <a href="#">News</a> |
                <a href="#">Privacy</a> |
                <a href="#">Terms</a> |
                <a href="#">Contact</a>
            </div>
        </div>
    </body>
</html>
