<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    {% if title %}
        <title>{{ title }} - anno.wiki</title>
    {% else %}
        <title>Welcome to anno.wiki</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
        filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')
        }}?v=3">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Playfair+Display:400,400i,700,700i">
</head>

<body>
    <div class="header">
        <div class="logo{% if active_page == 'index' %} active{% endif %}">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/n2.png')}}">
            </a>
            <a href="{{ url_for('main.index') }}">anno.wiki</a>
        </div>

        {% set navigation_bar = [
            (url_for('main.writer_index'), 'writers', 'Writers'),
            (url_for('main.text_index'), 'texts', 'Texts'),
            (url_for('main.tag_index'), 'tags', 'Tags'),
            (url_for('user.index'), 'users', 'Users')]
        %}
        <nav>
            {% for href, id, caption in navigation_bar %}
                <a href="{{ href }}"{% if id == active_page
                    %} class="active"{% endif %}>
                    {{ caption }}
                </a>
            {% endfor %}
        </nav>

        {% if g.search_form %}
            <form method="get" action="{{ url_for('main.search') }}" class="search">
                    {{ g.search_form.q(size=20,
                        placeholder=g.search_form.q.label.text) }}
            </form>
        {% endif %}

        </nav>

        <div class="user_info">
            {%- if current_user.is_anonymous -%}
                <a href="{{ url_for('user.register') }}">register</a>
                <a href="{{ url_for('user.login') }}">login</a>
            {%- else %}
                {% if current_user.is_authorized('view_deactivated_annotations')
                    or current_user.is_authorized('review_edits')
                    or current_user.is_authorized('resolve_user_flags')
                    or current_user.is_authorized('resolve_annotation_flags')
                    %}

                    <div class="dropdown">
                        <a class="dropbtn">admin&#x25BE;</a> |
                        <div class="dropdown-content">
                            {% if current_user.is_authorized(
                                'view_deactivated_annotations') %}
                                <a href="{{
                                    url_for('admin.view_deactivated_annotations') }}">
                                    deactivated
                                </a>
                            {% endif %}

                            {% if current_user.is_authorized('review_edits') %}
                                <a href="{{ url_for('admin.edit_review_queue') }}">
                                    edits
                                </a>
                            {% endif %}

                            {% if current_user.is_authorized('review_wiki_edits') %}
                                <a href="{{ url_for('admin.wiki_edit_review_queue') }}">
                                    wiki edits
                                </a>
                            {% endif %}

                            {% if current_user.is_authorized(
                                'resolve_user_flags') %}
                                <a href="{{ url_for('admin.all_user_flags') }}">
                                    user flags
                                </a>
                            {% endif %}

                            {% if current_user.is_authorized(
                                'resolve_annotation_flags') %}
                                <a href="{{ url_for('admin.all_annotation_flags') }}">
                                    annotation flags
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="dropdown">
                    <a href="{{ url_for('user.profile', user_id=current_user.id)
                       }}" class="dropbtn">
                        {{ current_user.displayname }}&#x25BE;
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('user.profile',
                            user_id=current_user.id) }}">
                            profile
                        </a>
                        <a href="{{ url_for('user.edit_profile') }}">edit profile</a>
                    </div>
                </div>
                {{ current_user.readable_reputation() }}

                | <a href="{{ url_for('user.logout') }}">logout</a>

                <!--endif user is authenticated-->
            {%- endif %}
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="container">

        {% block content %} {% endblock %}

        {% if prev_page %}
            <a href="{{ prev_page }}">&lt;&lt; Previous</a>
        {% endif %}
        {% if next_page and prev_page %}
            |
        {% endif %}
        {% if next_page %}
            <a href="{{ next_page }}">Next &gt;&gt;</a>
        {% endif %}
    </div>

    <div id="footer">
        <a href="#">About</a>
        <a href="#">News</a>
        <a href="#">Privacy</a>
        <a href="#">FAQ</a>
        <a href="#">Help</a>
        <a href="#">Contact</a>
        <a href="#">Terms</a>
    </div>
</body>
</html>
