{% extends "base.html" %}

{% block content %}

{# Header/Running Head #}
<div class="running_head">
    <a href="{{ url_for("main.text", text_url=text.url) }}">{{ text.title }}</a>
    {% include "includes/_authors.html" %} &#167; {{ section }}

    {% if not edition.primary %}
        <br>
        Edition #{{ edition.num }}
    {% endif %}

    {% if edition.translators %}
        <br>
        {% include "includes/_translators.html" %}
    {% endif %}
</div>

{# Pagination #}
{% if prev_page %}
    <a href="{{ prev_page }}">&lt;&lt; Previous Page</a>
{% endif %}

{% if prev_page and next_page %}|{% endif %}

{% if next_page %}
    <a href="{{ next_page }}">Next Page &gt;&gt;</a>
{% endif %}


{# Line number entry for annotation form #}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.first_line(size=4) }}
    {{ form.last_line(size=4) }}
    {{ form.submit() }}
</form>

<hr>

{# Text of the page #}
<div id="content">
    {% set can_edit_lines = current_user.is_authenticated and
    current_user.is_authorized('edit_lines') %}
    {%- for line in lines %}
        <line class="{{ line.primary.enum }}" id="{{ line.num }}">
            {% if line.num % 5 == 0 %}
                {# Line number #}
                <span class="linenum">{{ line.num }}</span>
            {% else %}
                <span class="hidden_linenum">{{ line.num }}</span>
            {% endif %}

            {# Actual line (not modularizing because speed) #}
            {%- if line.primary.enum == 'hr' -%}
                <hr class="text_separator">
            {%- else -%}
                {{ line.line|safe }}
            {%- endif -%}


            {% if line.num in annotations_idx %}
                {# Footnote marker #}
                <span class="body_annotation">
                    {% for a in annotations_idx[line.num] %}
                        <a href="#a{{ a.id }}">[{{ a.id }}]</a>
                    {% endfor %}
                </span>
            {% endif %}

            {% if can_edit_lines %}
                <span class="edit_line">
                    <a href="{{ url_for("admin.edit_line", line_id=line.id,
                        next=request.path) }}">edit</a>
                </span>
            {% endif %}
        </line>
    {% endfor %}
</div>

{% if annotations_idx %}
    {% for i in range(lines[0].num, lines[-1].num) %}
            {% for annotation in annotations_idx[i] %}
                {% include "includes/_annotation.html" %}
            {% endfor %}
    {% endfor %}
{% else %}
    <h4>There are no annotations for this section.</h4>
{% endif %}

<hr>

{# Contrary to class name, running foot #}
<div class="running_head">
    <a href="{{ url_for("main.text", text_url=text.url) }}">{{ text.title }}</a>
    {% include "includes/_authors.html" %} &#167; {{ section }}
</div>

{% endblock %}
