    <sup><a href="#{{ anno.HEAD.last_line_num }}">[{{ anno.id }}]</a></sup>
    {{ anno.HEAD.annotation|markdown }}
    <tags>
        {%- if anno.HEAD.tag_1 != None -%}
            <tag>{{ anno.HEAD.tag_1.tag }}</tag>
        {%- endif -%}

        {%- if anno.HEAD.tag_2 != None -%}
            <tag>{{ anno.HEAD.tag_2.tag }}</tag>
        {%- endif -%}

        {%- if anno.HEAD.tag_3 != None -%}
            <tag>{{ anno.HEAD.tag_3.tag }}</tag>
        {%- endif -%}

        {%- if anno.HEAD.tag_4 != None -%}
            <tag>{{ anno.HEAD.tag_4.tag }}</tag>
        {%- endif -%}

        {%- if anno.HEAD.tag_5 != None -%}
            <tag>{{ anno.HEAD.tag_5.tag }}</tag>
        {%- endif -%}
    </tags>
    <br>
    {% if anno.HEAD.previous_id == None %}
        annotated by {{ anno.author.username }},
    {% else %}
        last edited by {{ anno.HEAD.editor.username }}, 
    {% endif %}
    {{ anno.added }}
    |
    {% if anno.weight > 0 %}
        {% if anno.weight >= 1000000 %}
            <weight class="up">{{ round(anno.weight / 1000000, 1) }}m</weight>
        {% elif anno.weight >= 1000 %}
            <weight class="up">{{ round(anno.weight / 1000, 1) }}k</weight>
        {% else %}
            <weight class="up">{{ anno.weight }}</weight>
        {% endif %}
    {% elif anno.weight == 0 %}
        <weight class="nil">{{ anno.weight }}</weight>
    {% else %}
        {% if anno.weight <= -1000000 %}
            <weight class="down">{{ round(anno.weight / 1000000, 1) }}m</weight>
        {% elif anno.weight <= -1000 %}
            <weight class="down">{{ round(anno.weight / 1000, 1) }}k</weight>
        {% else %}
            <weight class="down">{{ anno.weight }}</weight>
        {% endif %}
    {% endif %}
