<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <span style="display:none;">
    {{ form.first_char_idx(size=1) }}
    {{ form.last_char_idx(size=1) }}
    </span>
    <table>
        <tr>
            <th>
                {{ form.first_line.label }}:
                {{ form.first_line(size=1) }}<br>
                {% for error in form.first_line.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </th>
            <th>
                {{ form.last_line.label }}:
                {{ form.last_line(size=1) }}<br>
                {% for error in form.last_line.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </th>
        </tr>
        <tr>
            <td colspan=5>
                {{ form.annotation(rows=10, cols=70) }}<br>
            </td>
        </tr>
        <tr>
            <th colspan=5>
                {{ form.tag_1(size=10) }}
                {{ form.tag_2(size=10) }}
                {{ form.tag_3(size=10) }}
                {{ form.tag_4(size=10) }}
                {{ form.tag_5(size=10) }}
            </th>
        </tr>
        <tr>
            <th colspan=5>
                {{ form.submit }}
                {{ form.cancel }}
            </th>
        </tr>
    </table>
</form>
