{%- if line.kind.kind == 'hr' -%}

    <hr class="bksep">

{%- else -%}

    {% if line.kind.kind[-2:] == 'fl' or line.kind.kind[-2:] == 'sl' %}
        <paragraph class="{{ line.kind.kind }}">
    {% elif line.kind.kind == 'fpre' %}
         <pre>
    {% endif %}
            {% if line.l_num % 5 == 0 %}
                <span class="linenum">{{ line.l_num }}</span>
            {% endif %}
    <line class="{{ line.kind.kind }}" id="{{ line.id }}">
    {{ line.line|safe }}
    </line>
    
    {% if line.kind.kind[-2:] == 'll' %}
        </paragraph>
    {% elif line.kind.kind == 'lpre' %}
        </pre>
    {% endif %}

{%- endif -%}
