{%- if line.l_class.l_class == 'hr' -%}

    <hr class="bksep">

{%- else -%}

    {%- if line.l_class.l_class[-2:] == 'fl' -%}
        {%- if ns.cont and line == ns.lastp -%}
            <paragraph class="flcont">
        {%- else -%}
            <paragraph class="{{ line.l_class.l_class }}">
        {%- endif -%}
    {%- elif line.l_class.l_class == 'fpre' -%}
         <pre>
    {%- endif -%}

    <line class="{{ line.l_class.l_class }}" id="{{ line.id }}">{{ line.line }}</line>
    
    {%- if line.l_class.l_class[-2:] == 'll' -%}
        </paragraph>
    {%- elif line.l_class.l_class == 'lpre' -%}
        </pre>
    {%- endif -%}

{%- endif -%}
