{%- if "<" in word.word.word -%}


    {%- if "<bang>" in word.word.word -%}
        <span id='{{ word.position }}'>!</span>
        {%- set ns.nospace = False -%}

    {%- elif "<colon>" in word.word.word -%}
        <span id='{{ word.position }}'>:</span>
        {%- set ns.nospace = False -%}

    {%- elif "<period>" in word.word.word -%}
        <span id='{{ word.position }}'>.</span>
        {%- set ns.nospace = False -%}

    {%- elif "<query>" in word.word.word -%}
        <span id='{{ word.position }}'>?</span>
        {%- set ns.nospace = False -%}

    {%- elif "<semicolon>" in word.word.word -%}
        <span id='{{ word.position }}'>;</span>
        {%- set ns.nospace = False -%}

    {%- elif "<comma>" in word.word.word -%}
        <span id='{{ word.position }}'>,</span>
        {%- set ns.nospace = False -%}

    {%- elif "<emdash>" in word.word.word -%}
        <span id='{{ word.position }}'>&mdash;</span>
        {%- set ns.nospace = True -%}

    {%- elif "<emattrib>" in word.word.word -%}
        <span id='{{ word.position }}'>&mdash;</span>
        {%- set ns.nospace = True -%}

    {%- elif "<ellipsis>" in word.word.word -%}
        <span id='{{ word.position }}'>...</span>
        {%- set ns.nospace = False -%}

    {%- elif "<br>" in word.word.word or "p>" in word.word.word-%}
        {{ word.word.word|safe }}
        {%- set ns.nospace = True -%}

    {%- elif "open" in word.word.word -%}

        {%- if "<openbracket>" in word.word.word -%}
            {%- if ns.nospace -%}
                <span id='{{ word.position }}'>[</span>
            {%- else -%}
                <span id='{{ word.position }}'> [</span>
            {%- endif -%}
            {%- set ns.nospace = True -%}
        
        {%- elif "<openparen>" in word.word.word -%}
            {%- if ns.nospace -%}
                <span id='{{ word.position }}'>(</span>
            {%- else -%}
                <span id='{{ word.position }}'> (</span>
            {%- endif -%}
            <span id='{{ word.position }}'>(</span>
            {%- set ns.nospace = True -%}

        {%- elif "<opensingle>" in word.word.word -%}
            {%- if ns.nospace -%}
                <span id='{{ word.position }}'>&lsquo;</span>
            {%- else -%}
                <span id='{{ word.position }}'> &lsquo;</span>
            {%- endif -%}
            {%- set ns.nospace = True -%}

        {%- elif "<opendouble>" in word.word.word -%}
            {%- if ns.nospace -%}
            <span id='{{ word.position }}'>&ldquo;</span>
            {%- else -%}
            <span id='{{ word.position }}'> &ldquo;</span>
            {%- endif -%}
        {%- set ns.nospace = True -%}

        {%- endif -%}

    {%- elif "close" in word.word.word -%}
            
        {%- if "<closebracket>" in word.word.word -%}
        <span id='{{ word.position }}'>]</span>
        {%- set ns.nospace = False -%}

        {%- elif "<closeparen>" in word.word.word -%}
        <span id='{{ word.position }}'>)</span>
        {%- set ns.nospace = False -%}

        {%- elif "<closesingle>" in word.word.word -%}
        <span id='{{ word.position }}'>&rsquo;</span>
        {%- set ns.nospace = False -%}

        {%- elif "<closedouble>" in word.word.word -%}
        <span id='{{ word.position }}'>&rdquo;</span>
        {%- set ns.nospace = False -%}

        {%- endif -%}

    {%- elif "i>" in word.word.word -%}
        {{ word.word.word|safe }}
        {%- set ns.nospace = True -%}
    
    {%- elif "<act>" in word.word.word -%}
        <h3 id='{{ word.position }}'>Act {{ word.number }}</h3>
        {%- set ns.nospace = True -%}

    {%- elif "<scene>" in word.word.word -%}
        <h3 id='{{ word.position }}'>Scene {{ word.number }}</h3>
        {%- set ns.nospace = True -%}

    {%- elif "<number>" in word.word.word -%}
        <span id='{{ word.position }}'>{{ word.number }}</span>
        {%- set ns.nospace = False -%}

    {%- endif -%}

{%- else -%}
    {%- if ns.nospace -%}
        <span id='{{ word.position }}'>{{ word.word.word|safe }}</span>
        {%- set ns.nospace = False -%}
    {%- else -%}
        <span id='{{ word.position }}'> {{ word.word.word|safe }}</span>
        {%- set ns.nospace = False -%}
    {%- endif -%}
{%- endif -%}
