<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    {% if title %}
        <title>{{ title }} - Annopedia</title>
    {% else %}
        <title>Welcome to Annopedia</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",
        filename="styles/style.css") }}">
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico")
        }}?v=3">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Playfair+Display:400,400i,700,700i">
</head>

<body>
    <div class="header">
        {% if request.path == url_for("index") %}
            <div class="logo active"> 
                <a href="{{ url_for("index") }}">
                    <img src="{{ url_for("static", filename="images/n2.png")}}">
                </a>
                <a href="{{ url_for("index") }}">Annopedia</a>
            </div>
        {% else %}
            <div class="logo">
                <a href="{{ url_for("index") }}">
                    <img src="{{ url_for("static", filename="images/n2.png")}}">
                </a>
                <a href="{{ url_for("index") }}">Annopedia</a>
            </div>
        {% endif %}

        <nav>
            {% if request.path == url_for("author_index") %}
                <a href="{{ url_for("author_index") }}" class="active">
                    AUTHORS
                </a>
            {% else %}
                <a href="{{ url_for("author_index") }}">AUTHORS</a>
            {% endif %}
            |
            {% if request.path == url_for("book_index") %}
                <a href="{{ url_for("book_index") }}" class="active">BOOKS</a>
            {% else %}
                <a href="{{ url_for("book_index") }}">BOOKS</a>
            {% endif %}
            |
            {% if request.path == url_for("tag_index") %}
                <a href="{{ url_for("tag_index") }}" class="active">TAGS</a>
            {% else %}
                <a href="{{ url_for("tag_index") }}">TAGS</a>
            {% endif %}
            |
            {% if request.path == url_for("user_index") %}
                <a href="{{ url_for("user_index") }}" class="active">USERS</a>
            {% else %}
                <a href="{{ url_for("user_index") }}">USERS</a>
            {% endif %}
        </nav>

        <div class="user_info">
            {%- if current_user.is_anonymous -%}
                <a href="{{ url_for("register") }}">register</a>
                <a href="{{ url_for("login") }}">login</a>
            {%- else %}
                {% if current_user.has_right("view_deactivated_annotations") or
                    current_user.is_authorized(
                        vars["AUTHORIZATION"]["EDIT_QUEUE"])
                    or current_user.has_right("review_edits") or
                    current_user.has_right("create_new_tags") %}

                    <div class="dropdown">
                        <a class="dropbtn">admin&#x25BE;</a> |
                        <div class="dropdown-content">
                            {% if current_user.has_right(
                                "view_deactivated_annotations") %}
                                <a href="{{ url_for("view_deactivated_annotations") }}">
                                    deactivated
                                </a>
                            {% endif %}

                            {% if current_user.is_authorized(
                                vars["AUTHORIZATION"]["EDIT_QUEUE"]) or
                                current_user.has_right("review_edits")%}
                                <a href="{{ url_for("edit_review_queue") }}">
                                    edits
                                </a>
                            {% endif %}

                            {% if current_user.has_right("create_new_tags") %}
                                <a href="{{ url_for("create_tag") }}">
                                    new tag
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if current_user.new_notifications %}
                    <a href="{{ url_for("inbox") }}" class="new_messages">
                        (unread messages)
                    </a>
                {% endif %}

                <div class="dropdown">
                    <a href="{{ url_for("user", user_id=current_user.id) }}"
                        class="dropbtn">
                        {{ current_user.displayname }}&#x25BE;
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for("inbox") }}">inbox</a>
                        <a href="{{ url_for("user", user_id=current_user.id) }}">
                            profile
                        </a>
                        <a href="{{ url_for("edit_profile") }}">edit profile</a>
                    </div>
                </div>
                {{ current_user.readable_reputation() }}

                | <a href="{{ url_for("logout") }}">logout</a>

                <!--endif user is authenticated-->
            {%- endif %}
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="container">

        {% block content %} {% endblock %}

        {% if prev_page %}
            <a href="{{ prev_page }}">&lt;&lt; Previous</a>
        {% endif %}
        {% if next_page and prev_page %}
            |
        {% endif %}
        {% if next_page %}
            <a href="{{ next_page }}">Next &gt;&gt;</a>
        {% endif %}
    </div>

    <div id="footer">
        <a href="#">About</a>
        <a href="#">News</a>
        <a href="#">Privacy</a>
        <a href="#">FAQ</a>
        <a href="#">Help</a>
        <a href="#">Contact</a>
        <a href="#">Terms</a>
    </div>
</body>
</html>
