
<html>
    <head>
        {% if title %}
        <title>{{ title }} - The Lattice</title>
        {% else %}
        <title>Welcome to The Lattice</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}"> 
<!--        <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display"
        rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Playfair+Display:400,400i,700,700i" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts/jquery-3.3.1.js') }}"></script>
    </head>
    <body>
        <div>
            <nav>
            THE LATTICE:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('book_index') }}">Books</a>
            <a href="{{ url_for('author_index') }}">Authors</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            </nav>
        </div>
        <hr>
        <div id="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
