{% extends "base.html" %}

{% block content %}
<div id="container">

<!-------Header/Running head-------->
{% if page.page_num == 1 %}

<h1><a href="{{ url_for("book", title=book.url) }}">{{ book.title }}</a></h1>
<h2>by 
    <a href="{{ url_for("author", name = book.author.url) }}">
    {{ author.name }}
    </a>
</h2>
{% else %}
<div id="running_head">
    <a href="{{ url_for("book", title=book.url) }}">
        {{ book.title }}</a> 
     by <a href="{{ url_for("author", name=book.author.url) }}">
        {{ book.author.name }} </a>
</div>
{% endif %}


<!--------Page Counter------------------>
<div class="pages">
{% if prev_page %}
<a href="{{ url_for("book_page", title = book.url, page_num =
    prev_page.page_num) }}" id="prev_page">&larr;</a>
{% else %}
<a href="{{ url_for("book", title = book.url) }}">&larr;</a>
{% endif %}

{{ page.page_num }}

{% if next_page %}
<a href="{{ url_for("book_page", title = book.url, page_num =
next_page.page_num) }}" id="next_page">&rarr;</a>
{% else %}
<a href="{{ url_for("book", title = book.url) }}" id="next_page">&rarr;</a>
{% endif %}
</div>
<hr>

<!--------Content------------------>

<content id="content">
{{ page.page|safe }}
</content>

<!--------Page Counter------------------>
<hr>
<div class="pages">
{% if prev_page %}
<a href="{{ url_for("book_page", title = book.url, page_num =
    prev_page.page_num) }}" id="prev_page">&larr;</a>
{% else %}
<a href="{{ url_for("book", title = book.url) }}">&larr;</a>
{% endif %}

{{ page.page_num }}

{% if next_page %}
<a href="{{ url_for("book_page", title = book.url, page_num =
next_page.page_num) }}" id="next_page">&rarr;</a>
{% else %}
<a href="{{ url_for("book", title = book.url) }}" id="next_page">&rarr;</a>
{% endif %}
</div>

</div>
<div id="linker">
</div>
{% endblock %}
