{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='scripts/get_selected.js') }}"></script>
    <div id="container">

        <!--Header/Running Head-->
        {% if page_num == 1 %}

            <h1><a href="{{ url_for("book", title=book.url) }}">{{ book.title }}</a></h1>
            <h2>by 
                <a href="{{ url_for("author", name = book.author.url) }}">
                    {{ author.name }}
                </a>
            </h2>
        {% else %}
            <div id="running_head">
                <a href="{{ url_for("book", title=book.url) }}"> {{ book.title }}</a> 

                 by <a href="{{ url_for("author", name=book.author.url) }}">
                    {{ book.author.name }} </a>
            </div>
        {% endif %}


        <!--Page Counter-->
        <div class="pages">
            {% if prev_page %}
                <a href="{{ prev_page }}">&larr;</a>
            {% endif %}

            {{ page_num }}

            {% if next_page %}
                <a href="{{ next_page }}">&rarr;</a>
            {% else %}
                <a href="{{ url_for("book", title = book.url) }}" id="next_page">&rarr;</a>
            {% endif %}
        </div>

        <button class="linker">Link/Annotate</button>

        <div id="linkerbox" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <br><br><br>
                <div id="selection" style="text-align: justify;"></div>
                <br>
                {% include "_annotation_form.html" %}
            </div>
        </div>

        <hr>
        {% set ns = namespace(cont = false) %}
        {%- set ns.lastp = None -%}
        {%- for line in lines -%}
            {%- if line.l_class.l_class == 'fl' -%}
                {%- set ns.lastp = line -%}
            {%- endif -%}
        {%- endfor -%}

        <content id="content">
            
            {%- if lines[0].l_class.l_class == 'rl' -%}
                <paragraph class="rcont">
            {%- elif lines[0].l_class.l_class == 'l' -%}
                <paragraph class="cont">
            {%- endif -%}

            {%- if lines[linesperpage - 1].l_class.l_class == 'l' or 
                lines[linesperpage - 1].l_class.l_class == 'rl' -%}
                {%- set ns.cont = true -%}
            {%- endif -%}


            {%- for line in lines -%}
                {%- include "_line.html" -%}
            {%- endfor -%}

            {%- if lines[linesperpage - 1].l_class.l_class == 'l' or 
                lines[linesperpage - 1].l_class.l_class == 'rl' -%}
                </paragraph>
            {%- elif lines[linesperpage - 1].l_class.l_class == 'pre' %}
                </pre>
            {%- endif -%}
            
        </content>



        <!--Page Counter-->
        <hr>
        <button class="linker">Link/Annotate</button>
        <div class="pages">
            {% if prev_page %}
                <a href="{{ prev_page }}">&larr;</a>
            {% endif %}

            {{ page_num }}

            {% if next_page %}
                <a href="{{ next_page }}">&rarr;</a>
            {% else %}
                <a href="{{ url_for("book", title = book.url) }}" id="next_page">&rarr;</a>
            {% endif %}
        </div>

    </div>
{% endblock %}
