{% extends "base.html" %}

{% block content %}
<h1>{{ book.title|safe }}</h1>
<h2>by
    <a href="{{ url_for("author", name=book.author.url) }}">
        {{ book.author.name|safe }}
    </a>
</h2>

<div id="summary">
{{ book.summary|markdown }}
</div>

<!--------------table of contents------>
<table class="table_of_contents">
    <tr class="toc_header">
        <th align="left">
            Section
        </th>
        <th align="right">
            Line
        </th>
    </tr>
    {% for section in hierarchy %}
    {% include "_toc.html" %}
    {% endfor %}

</table>
{% endblock %}
