{% extends "base.html" %}

{% block content %}
<div id="container">

<h1><a href="{{ url_for("book_page", title = book.url, page_num = 1) }}">{{ book.title|safe }}</a></h1>
<h2>by <a href="{{ url_for("author", name = book.author.url) }}">{{ book.author.name|safe }}</a></h2>

<!--------------table of contents------>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p class="page_num_field">{{ form.page_num.label}}:&nbsp;
    {{ form.page_num(size=1) }}&nbsp; of {{ last_page }}</p>
</form>

<!--------------table of contents------>
<table class="table_of_contents">
    {% for break in book.breaks %}
        <tr>
            <td class="left">
        <a href="{{ url_for('book_page', title = book.url, page_num = break.page_num) }}">
                {% if break.ch_num %}
                <div class="chapter_contents">
                    {% if break.break_title != None %}
                        {{ break.ch_num }}.
                        {{ break.break_title }}
                    {% else %}
                        Ch. {{ break.ch_num }}
                    {% endif %}
                </div>
                {% elif break.part_num %}
                <div class="part_contents">
                    {% if break.break_title != '' %}
                        {{ break.part_num }}.
                        {{ break.break_title }}
                    {% else %}
                        Pt. {{ break.part_num }}
                    {% endif %}
                </div>
                {% elif break.book_num %}
                <div class="book_contents">
                    {% if break.break_title != '' %}
                        {{ break.book_num }}.
                        {{ break.break_title }}
                    {% else %}
                        Bk. {{ break.book_num }}
                    {% endif %}
                </div>
                {% endif %}
        </a>
            </td>
            <td class="right">
                {{ break.page_num }}
            </td>
        </tr>
        </a>
    {% endfor %}
</table>
<p id="meta">
{{ book.meta_data|safe }}
</p>

</div>
{% endblock %}
