{% extends "base.html" %}

{% block content %}
    <!--Header/Running Head-->
    <div class="running_head">
        <a href="{{ url_for("book", book_url=book.url) }}">{{ book.title }}</a> 
        by
        <a href="{{ url_for("author", name=book.author.url) }}">
            {{ book.author.name }}
        </a>
        <h5>
            {% if lines[0].bk_num != 0 %}
                Book {{ lines[0].bk_num }}
            {% endif %}
            {% if lines[0].pt_num != 0 %}
                Part {{ lines[0].pt_num }}
            {% endif %}
            {% if lines[0].ch_num != 0 %}
                Chapter {{ lines[0].ch_num }}
            {% endif %}
        </h5>
    </div>

    <!--Pagination-->
    {% if prev_page %}
        <a href="{{ prev_page }}">&lt;&lt; Previous Page</a>
    {% endif %}
    {% if prev_page and next_page %}
        |
    {% endif %}
    {% if next_page %}
        <a href="{{ next_page }}">Next Page &gt;&gt;</a>
    {% endif %}
    
    <!--Line number entry for annotation form-->
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.first_line(size=4) }}
        {{ form.last_line(size=4) }}
        {{ form.submit() }}
    </form>

    <!--Tag limitation controls-->
    {% if tags %}
        <div class="tag_limit">
            Limit visible annotations to tag:
            {% for tag in tags %}
                <a href="{{ url_for("read", book_url=book.url,
                        book=lines[0].bk_num, part=lines[0].pt_num,
                        chapter=lines[0].ch_num, tag=tag.tag) }}">
                    <tag>
                        {{ tag.tag }}
                    </tag>
                </a>
            {% endfor %}
        </div>
    {% elif annotations_idx %}
        <a href="{{ url_for("read", book_url=book.url, book=lines[0].bk_num,
                part=lines[0].pt_num, chapter=lines[0].ch_num) }}">
            Show all tags
        </a>
        <br>
    {% endif %}

    <hr>

    <!--Text of the page-->
    <div id="content">
        {%- for line in lines %}
            <line class="{{ line.kind.kind }}" id="{{ line.l_num }}">

                {% if line.l_num % 5 == 0 %}
                    <!--Line number-->
                    <span class="linenum">{{ line.l_num }}</span>
                {% else %}
                    <span class="hidden_linenum">{{ line.l_num }}</span>
                {% endif %}

                <!--Actual line (not modularizing because speed)-->

                {%- if line.kind.kind == 'hr' -%}
                    <hr class="book_separator">
                {%- else -%}
                    {{ line.line|safe }}
                {%- endif -%}

                {% if current_user.is_authenticated and
                        edit_right in current_user.rights %}
                    <span class="edit_line">
                        <a href="{{ url_for("edit_line", line_id=line.id,
                                next=request.path) }}">
                            edit
                        </a>
                    </span>
                {% endif %}

                {% if annotations_idx[line.l_num] %}
                    <!--Footnote marker-->
                    <span class="body_annotation">
                        {% for a in annotations_idx[line.l_num] %}
                            <a href="#a{{ a.id }}">
                                [{{ a.id }}]
                            </a>
                        {% endfor %}
                    </span>
                {% endif %}

            </line>
        {% endfor -%}
    </div>

    <!--Annotations-->
    {% for i in range(lines[0].l_num, lines[-1].l_num) %}
        {% if i in annotations_idx %}
            {% for annotation in annotations_idx[i] %}
                {% include "includes/_annotation.html" %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <hr>

    <!--Contrary to class name, running foot-->
    <div class="running_head">
        <h5>
            {% if lines[0].bk_num != 0 %}
                Book {{ lines[0].bk_num }}
            {% endif %}
            {% if lines[0].pt_num != 0 %}
                Part {{ lines[0].pt_num }}
            {% endif %}
            {% if lines[0].ch_num != 0 %}
                Chapter {{ lines[0].ch_num }}
            {% endif %}
        </h5>
        <a href="{{ url_for("book", book_url=book.url) }}">{{ book.title }}</a> 
        by
        <a href="{{ url_for("author", name=book.author.url) }}">
            {{ book.author.name }}
        </a>
    </div>

{% endblock %}
