{% extends "base.html" %}

{% block content %}

    <!--Header/Running Head-->
    <div class="running_head">
        <a href="{{ url_for("book", book_url=book.url) }}">{{ book.title }}</a> 
         by <a href="{{ url_for("author", name=book.author.url) }}">
            {{ book.author.name }} </a>
    </div>

    <!--Pagination-->
    {% if tags %}
    <div class="tag_limit">
        Limit visible annotations to tag:
        {% for tag in tags %}
            <a href="{{ url_for("read", book_url=book.url,
                bk=lines[0].bk_num, pt=lines[0].pt_num, ch=lines[0].ch_num,
                tag=tag.tag) }}">
                <tag>
                    {{ tag.tag }}
                </tag>
            </a>
        {% endfor %}
    </div>
    {% else %}
        <a href="{{ url_for("read", book_url=book.url, bk=lines[0].bk_num,
            pt=lines[0].pt_num, ch=lines[0].ch_num) }}">Show all tags</a>
        <br>
    {% endif %}
            
    {% if prev_page %}
        <a href="{{ prev_page }}">Previous Page</a>
    {% endif %}

    {% if next_page %}
        <a href="{{ next_page }}">Next Page</a>
    {% endif %}

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.first_line(size=4) }}
        {{ form.last_line(size=4) }}
        {{ form.submit() }}
    </form>

    <hr>

    <div id="content">
    {%- for line in lines %}
        {%- include "_popen.html" -%}

        <line class="{{ line.kind.kind }}" id="{{ line.l_num }}">

        {% if line.l_num % 5 == 0 %}
            <span class="linenum">{{ line.l_num }}</span>
        {% endif %}

        {%- include "_line2.html" -%}

        {% if current_user.is_authenticated and current_user.is_authorized(config["AUTHORIZATION"]["LINE_EDIT"]) %}
        <span class="body_annotation">
            <a href="{{ url_for("edit_line", line_id=line.id, next=request.path)
                }}">edit</a>
        </span>
        {% endif %}

        {% if line.l_num in annotations_idx %}
            <span class="body_annotation">
            {% for a in annotations_idx[line.l_num] %}
            <a href="#a{{ a.id }}">
                [{{ a.id }}]
            </a>
            {% endfor %}
            </span>
        {% endif %}

        </line>

        {%- include "_pclose.html" -%}
    {% endfor -%}
    </div>

    <!--Annotations-->
    {% for i in range(len(lines)) %}
        {% if i in annotations_idx %}
            {% for annotation in annotations_idx[i] %}
                {% include "_annotation.html" %}
            {% endfor %}
        {% endif %}
    {% endfor %}

            
    <hr>

    <!--Page Counter-->
    {% if prev_page %}
    <a href="{{ prev_page }}">Previous</a>
    {% endif %}
    {% if next_page %}
    <a href="{{ next_page }}">Next</a>
    {% endif %}

    <div class="running_head">
        <a href="{{ url_for("book", book_url=book.url) }}"> {{ book.title }}</a> 

         by <a href="{{ url_for("author", name=book.author.url) }}">
            {{ book.author.name }} </a>
    </div>


{% endblock %}
